<template>
    <div class="h-5/7 w-full flex flex-col justify-start items-center p-8">
        <ContactUs/>
    </div>
</template>

<script>
import ContactUs from '@/views/web/home/sections/ContactSection/ContactForm'
export default {
    components:{
        ContactUs
    }
}
</script>