<template>
    <div class="col-md-10" >
        <div id="service-list">
            <div v-for="item in serviceItems" :key="item.id" class="top-list" @click="handleClick(item)">
                <div class="card">
                    <div class="row">
                        <div class="category">
                            <!-- {{ item.category }} -->
                            <div v-if="item.item_image">
                                <img v-bind:src="this.image_url_path+item.item_image" class="img-fluid" alt="...">
                            </div>
                            <div v-else-if="!item.item_image">
                            <img class="img-fluid" :src="require(`@/assets/DBECENTER-logo.png`)" />
                            </div>
                        </div>
                    </div>
                   <div class="row">
                        <div class="title">
                            {{ item.item_name }}
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</template>


<script>
import { mapState } from 'vuex';
export default {
    props:{
        serviceItems:Array
    },
    computed: {      
    ...mapState('DASHBOARD', {
            image_url_path: state => state.imageUrl,
        }
      )
    },
    methods:{
        handleClick(item){
            if(!localStorage.getItem('isLoggedin')){
                alert('log in to view the full details')
            }else{
                // this.$store.dispatch('SHOPZONE/viewServiceFullDetails', item)
                this.$router.push({ name: 'service-full-details', params: { item_id: item.id } })
            }            
        }
    },
}
</script>

<style lang="scss" scoped>
   .category{
        height: 100%;
    }
    .title{
    text-align: left;
    font-size:15px;
    font-weight: 300;
    padding-top:5%;
    padding-left:10%;
    }
    #service-list{
        width: 100%;
        display: flex;
        overflow-x:scroll;
        gap:10px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
         scroll-behavior: smooth;
       .top-list{
           cursor: pointer;
            .card {
            width: 200px;
            height: 245px;
        }
       }
    }
    #service-list::-webkit-scrollbar{
        display: none;
    }
    .img-fluid{
            height:175px;
            width:100%
        }

    .title-body{
        text-align: left;
        padding-left:10%;
    }    
</style>