<template>
<div  v-if="this.serviceFullDetail.user_profile" class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <!-- <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li> -->
              <li class="breadcrumb-item active" aria-current="page">Service</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
    
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <div class="mt-3">
                        <div v-if="serviceFullDetail.id">
                          <h4>{{serviceFullDetail.user.roles[0].name}} </h4>
                        </div>
                    </div>
                    <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150"> -->
                            <div v-if="serviceFullDetail.user_profile.profile_picture">
                                 <img v-bind:src="this.image_url_path+serviceFullDetail.user_profile.profile_picture" class="rounded-circle" style="height:15vh;width:100%" alt="...">
                            </div>
                            <div v-else-if="!serviceFullDetail.user_profile.profile_picture">
                                <img style="width:100%;height:100%;" :src="require(`@/assets/DBECENTER-logo.png`)" />
                            </div>     
                    <div class="mt-3">
                    <router-link :to="{ name: 'user-full-details', params: { id: this.serviceFullDetail.user.id }}">  
                        <h4 style="color:#0d6efd">{{this.serviceFullDetail.user_profile.firstname}} {{this.serviceFullDetail.user_profile.lastname}}</h4>
                      <!-- <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> -->
                    </router-link>
                      <p class="text-secondary mb-1">{{this.serviceFullDetail.user_profile.address2}}</p>
                      <!-- <button  style="width:50%" class="btn btn-outline-primary">View </button> -->
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                    <div class="col-md-7">
                        <div class="card-image">
                            <div v-if="serviceFullDetail.item_image">
                               <img v-bind:src="this.image_url_path+serviceFullDetail.item_image" class="img-fluid" style="height:40vh;width:100%" alt="...">
                            </div>
                            <div v-else-if="!serviceFullDetail.item_image">
                                <img style="width:100%;height:100%;" :src="require(`@/assets/DBECENTER-logo.png`)" />
                            </div>    
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card-body" style="height:100%;">
                            <div style="text-align:left"> 
                                <h5 class="card-title" style="font-size:3vh;"> {{serviceFullDetail.item_name}} </h5>
                                <p class="card-text" style="font-size:1.5vh">{{serviceFullDetail.identifier}}</p>
                                <div style=""> 
                                    <star-rating :rating="serviceFullDetail.item_star_rating" active-color="#DD1F4C" :star-size="35" :read-only="true" :increment="0.01"></star-rating>
                                </div>
                                <div class="item_description">
                                    <p class="card-text" style="font-size:1.5vh">{{serviceFullDetail.item_description}}</p>
                                </div>
                            </div>
                                <!-- <div class="row g-3 align-items-center" style="padding-bottom:5%">
                                <div class="col-auto">
                                    <label for="" class="col-form-label">BID AMOUNT</label>
                                </div>
                                <div class="col-auto" style="width: 66%;">
                                    <input style="" type="number" id="bid-text" class="form-control" >
                                </div>
                                </div> -->
                            <div class="align-bottom"> 
                                <!-- <button type="button" class="btn btn-danger addcart" :disabled="(this.userRole == 'VENDOR')" @click="this.toggleAvailedServiceModal=true;setServiceID(serviceFullDetail.id)">Avail This Service </button> -->
                                <button type="button" class="btn btn-danger addcart" @click="this.toggleAvailedServiceModal=true;setServiceID(serviceFullDetail.id)">Avail This Service </button>
                                <div style="padding-top:5%;text-align:center;">
                                    <a href="/#/shopzone/services" class="select-other">Select other Service </a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>


            </div>
          </div>

         <div class="row gutters-sm">
            <!-- <div class="col-md-12">
              <div class="card mb-3">
                <div class="card-body">
               
                </div>
              </div>
            </div> -->
            <comment-rating :itemRatingList='itemRatings'  :item_id_from='this.$route.params.item_id'></comment-rating>
          </div>
          
        </div>
    </div>

                        <!-- View contractor avail services -->
                    <teleport to="#modals" >
                        <div v-if="toggleAvailedServiceModal"  @click.self="viewAvailedServiceModal" class="modal-container">
                            <div class="container"> 
                                <div class="row gutters justify-content-center">
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
                                        <div class="card h-100" style="border-radius:20px">
                                        <div class="card-body">
                                            <div class="row gutters">
                                                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7" style="padding-bottom:2%">
                                                    <div class="row">
                                                        <div class="row row-pad header-title">
                                                            <label for="fullName"><h2>Personal Details</h2></label>
                                                        </div>
                                                        <div class="row row-pad"  style="padding:5%">                                    
                                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                <div class="form-group">
                                                                <label for="phone">Name</label>
                                                                <input type="text" class="form-control" id="phone" placeholder="Enter phone number" v-model="service.name">
                                                                </div>                                            
                                                                <div class="form-group">
                                                                <label for="phone">Phone</label>
                                                                <input type="text" class="form-control" id="phone" placeholder="Enter phone number"  v-model="service.telephone">
                                                                </div>                                            
                                                                <div class="form-group">
                                                                <label for="phone">Note</label>
                                                                    <textarea class="form-control" id="textAreaExample" rows="2"  v-model="service.description" style="background: #fff;" placeholder="Reply....."></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                                                <div class="form-group" style="width:50%;float:left;padding-right:1%">
                                                                    <label for="website">Street</label>
                                                                    <input type="text" class="form-control" id="website"  placeholder="Enter Street"  v-model="service.street">
                                                                </div>
                                                                <div class="form-group" style="width:50%;float:right;padding-left:1%">
                                                                    <label for="fullName">City</label>
                                                                    <input type="text" class="form-control"  placeholder="Enter City"  v-model="service.city">
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                <div class="form-group" style="width:33%;float:left;padding-right:1%">
                                                                    <label for="fullName">Region</label>
                                                                    <input type="text" class="form-control" placeholder="Enter Region" v-model="service.region">
                                                                </div>
                                                                <div class="form-group" style="width:33%;float:left">
                                                                    <label for="fullName">Zipcode</label>
                                                                    <input type="text" class="form-control" placeholder="Enter zipcode" v-model="service.zipcode">
                                                                </div>
                                                                <div class="form-group" style="width:33%;float:right">
                                                                    <label for="fullName">Country</label>
                                                                    <input type="text" class="form-control"  placeholder="Enter Country" v-model="service.country">
                                                                </div>                                            
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5" style="padding:2% 2% 2% 2%">
                                                    <div class="row">
                                                        <div class="row row-pad header-title">
                                                            <label for="fullName"><h1>Service</h1></label>
                                                        </div>
                                                            <div class="row" style="height: 45vh;">
                                                                        <!--  -->
                                                                <div class="cart-content" style="height:40vh">
                                                                    <div class="row mb-3 ">
                                                                            <div style="width:100%;float:left">
                                                                                <div v-if="this.serviceFullDetail.item_image">
                                                                                    <img v-bind:src="this.image_url_path+this.get_item.item_image" class="img-fluid" style="height:25vh;width:100%;" alt="...">
                                                                                </div>
                                                                                <div v-else>
                                                                                    <img class="img-fluid" style="height:25vh;width:100%;" :src="require(`@/assets/DBECENTER-logo.png`)" />
                                                                                </div>    
                                                                            </div>
                                                                            <div style="width:45%;float:left;line-height:2vh;text-align: left;">
                                                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="float:left"> 

                                                                            </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <p><b>{{this.serviceFullDetail.item_name}}</b></p>
                                                                            <p>{{this.serviceFullDetail.identifier}}</p>
                                                                        </div>
                                                                    </div>
                                                                        <!--  -->
                                                            </div>
                                                    </div>
                                                    <div class="row" style="padding-top:10%">
                                    
                                                    <div class="row">
                                                        <div class="row row-pad">
                                                            <button type="button" id="submit" name="submit"  class="btn btn-danger" @click="availService()">Avail Service</button>
                                                        </div>
                                                        <div class="row row-pad">
                                                            <button class="btn btn-outline-danger waves-effect" style="margin-top:2%"   data-dismiss="modal" @click="viewAvailedServiceModal()">Back to Shopping</button>
                                                        </div>
                                                    </div>             
                                                    </div>
                                                </div>                                                    
    
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                                </div>   
                            </div>   
                        </div>
                    </teleport>
                    <!-- View contractoravail services -->      
</template>

<script>

import commentRating from '@/views/web/shopzone/shopZoneCommentRatings.vue';
import StarRating from 'vue-star-rating'
import { mapState } from 'vuex';

export default {      
    data(){
    return{
            item_id: this.$route.params.item_id,
            toggleAvailedServiceModal:false,
            get_item:{
               id: '',
               item_name: '',
               identifier: '',
               item_description: '',
               star_rating: '',
           },
            userRole : '',
            service: {
               item_id          : '',
               name             : '',
               telephone        : '',
               description      : '',
               street           : '',
               city             : '',
               region           : '',
               zipcode          : '',
               country          : '',
            },
            serviceFullDetail: []
        }
    },
    components:{
         commentRating,
         StarRating
    },
    computed:{
        ...mapState('SHOPZONE', {
            getServiceFullDetails: state => state.setFullDetailsItem,
            image_url_path:        state => state.imageUrl,
            itemRatingList:        state => state.product_item_ratings,
        }),
        serviceDetail() {
            return this.getServiceFullDetails
        },
        itemRatings() {
            return this.itemRatingList
        },
        viewAvailedServiceModal(){
            this.toggleAvailedServiceModal = !this.toggleAvailedServiceModal
        },

    }, 
    methods:{
        setServiceID(id){
            this.service.item_id = id
        },
        async availService() {
            await this.$store.dispatch('SHOPZONE/availService', this.service);
        },

    },
    created(){
        this.$store.dispatch('SHOPZONE/serviceFullDetails', this.item_id)
        this.$store.dispatch('SHOPZONE/getProductRating', this.$route.params.item_id);
        this.userRole = localStorage.getItem('user_role');
    },   
    watch:{
        serviceDetail: function(val){
             this.serviceFullDetail = this.serviceDetail;
          }
    },
}
</script>

<style lang="scss" scoped>
body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.card-image{
        border: 1px solid rgba(112, 112, 112, 0.541);
        // height: 40%;
        height: 40vh;
    }
.addcart{
    padding-top:3%;
    width: 100%;
}
.select-other{
    color:#DD1F4C;
    font-size:1.5vh;
    font-weight: 500;
}
.item_description{
    padding-top:2%;
    height: 13vh;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
width: 0;  /* Remove scrollbar space */
background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.modal-container{
    position: fixed;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100%;
    width: 100%;
    top:0px;
    z-index:251;
    display: flex;
    justify-content: center;
    align-items: center;
    }
</style>