<template>
         <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb" style="font-size:2vh;">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page"><a href="index.html">Service</a></li>
              <li class="breadcrumb-item "><a href="/#/shopzone/products">Product</a></li>
              <li class="breadcrumb-item "><a href="/#/shopzone/projects">Project</a></li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
            <div class="shopzone-title">
                <div style="float:center;text-align:lef">
                    Services
                </div>
           </div>
            <div class="shopzone-service-body">
                <div class="row gx-2" >
                    <div style="width:23%;margin-right:2%;padding-bottom:3%" v-for="item in serviceList" :key="item">
                        <div style="width:100%"  class="col-lg-3 col-md-6 shopzone-card">
                            <div class="shopzone-card-content">
                                <div class="card" style="border:none">
                                    <div class="card-body">
                                    <div class="image">
                                        <div v-if="item.item_image">
                                          <img v-bind:src="this.image_url_path+item.item_image" class="img-fluid" style="height:30vh;width:100%" alt="...">
                                        </div>
                                        <div v-else>
                                             <img class="img-fluid" style="height:30vh;width:100%;" :src="require(`@/assets/DBECENTER-logo.png`)" />
                                        </div>
                                    </div>
                                    <br>
                                    <hr class="solid">
                                    <p style="font-size:2vh;padding-top:3%;float:left;width:50%" ><b>{{ item.item_name }}</b></p>
                                        <div style="width:50%;float:left;margin-top:2%;text-align: right;">
                                            <button type="button" @click.prevent="handleModal();setItembyId(item);fetchItem()" class="btn btn-danger">View</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <teleport to="#modals">
                <div v-if="toggleViewCard" class="modal-container">
                    <div class="card mb-3" style="max-width: 60%;width:60%">
                        <div class="services-card-content">
                        <div class="row g-0">
                            <div class="col-md-7">
                                <div class="image">
                                    <div v-if="this.get_item.item_image">
                                        <img v-bind:src="this.image_url_path+this.get_item.item_image" class="img-fluid" style="height:50vh;width:100%;" alt="...">
                                    </div>
                                    <div v-else>
                                        <img class="img-fluid" style="height:50vh;width:100%;" :src="require(`@/assets/DBECENTER-logo.png`)" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                            <div class="card-body" style="height:100%;">
                                <h5 class="card-title" style="font-size:3vh"> {{ this.get_item.item_name }}</h5>
                                <p class="card-text" style="font-size:1.5vh">{{ this.get_item.identifier }}</p>
                                <div style=""> 
                                  <star-rating :rating="this.get_item.item_star_rating" active-color="#DD1F4C" :star-size="45" :read-only="true" :increment="0.01"></star-rating>
                                </div>
                                <div class="item_description">
                                   <p class="card-text" style="font-size:1.5vh">{{ this.get_item.item_description }}</p>
                                </div>
                                    <!-- <div class="row g-3 align-items-center">
                                    <div class="col-auto">
                                        <label for="" class="col-form-label">BID AMOUNT</label>
                                    </div>
                                    <div class="col-auto">
                                        <input style="" type="number" id="bid-text" class="form-control" >
                                    </div>
                                    </div> -->
                                 <div style="padding-top:5%;padding-bottom:5%"> 
                                      <a @click="view_full_details(this.get_item)" class="view-all" style="padding-top:5%"><u> View full details</u> </a>
                                </div>
                                <div class="align-bottom"> 
                                    <!-- <button type="button" class="btn btn-danger addcart" :disabled="(this.userRole == 'VENDOR')" @click="this.toggleAvailedServiceModal=true;setServiceID( this.get_item.id)">Avail Service</button> -->
                                    <button type="button" class="btn btn-danger addcart" @click="this.toggleAvailedServiceModal=true;setServiceID( this.get_item.id)">Avail Service</button>
                                    <div style="padding-top:5%;text-align:center;">
                                        <button @click="handleModal();close()" style="background:none;border:none;"  class="select-other">Select other Services </button>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </teleport>    


                    <!-- View contractor avail services -->
                    <teleport to="#modals" >
                        <div v-if="toggleAvailedServiceModal"  @click.self="viewAvailedServiceModal" class="modal-container">
                            <div class="container"> 
                                <div class="row gutters justify-content-center">
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
                                        <div class="card h-100" style="border-radius:20px">
                                        <div class="card-body">
                                            <div class="row gutters">
                                                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7" style="padding-bottom:2%">
                                                    <div class="row">
                                                        <div class="row row-pad header-title">
                                                            <label for="fullName"><h2>Personal Details</h2></label>
                                                        </div>
                                                        <div class="row row-pad"  style="padding:5%">                                    
                                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                <div class="form-group">
                                                                <label for="phone">Name</label>
                                                                <input type="text" class="form-control" id="phone" placeholder="Enter phone number" v-model="service.name">
                                                                </div>                                            
                                                                <div class="form-group">
                                                                <label for="phone">Phone</label>
                                                                <input type="text" class="form-control" id="phone" placeholder="Enter phone number"  v-model="service.telephone">
                                                                </div>                                            
                                                                <div class="form-group">
                                                                <label for="phone">Note</label>
                                                                    <textarea class="form-control" id="textAreaExample" rows="2"  v-model="service.description" style="background: #fff;" placeholder="Reply....."></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                                                <div class="form-group" style="width:50%;float:left;padding-right:1%">
                                                                    <label for="website">Street</label>
                                                                    <input type="text" class="form-control" id="website"  placeholder="Enter Street"  v-model="service.street">
                                                                </div>
                                                                <div class="form-group" style="width:50%;float:right;padding-left:1%">
                                                                    <label for="fullName">City</label>
                                                                    <input type="text" class="form-control"  placeholder="Enter City"  v-model="service.city">
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                <div class="form-group" style="width:33%;float:left;padding-right:1%">
                                                                    <label for="fullName">Region</label>
                                                                    <input type="text" class="form-control" placeholder="Enter Region" v-model="service.region">
                                                                </div>
                                                                <div class="form-group" style="width:33%;float:left">
                                                                    <label for="fullName">Zipcode</label>
                                                                    <input type="text" class="form-control" placeholder="Enter zipcode" v-model="service.zipcode">
                                                                </div>
                                                                <div class="form-group" style="width:33%;float:right">
                                                                    <label for="fullName">Country</label>
                                                                    <input type="text" class="form-control"  placeholder="Enter Country" v-model="service.country">
                                                                </div>                                            
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5" style="padding:2% 2% 2% 2%">
                                                    <div class="row">
                                                        <div class="row row-pad header-title">
                                                            <label for="fullName"><h1>Service</h1></label>
                                                        </div>
                                                            <div class="row" style="height: 45vh;">
                                                                        <!--  -->
                                                                <div class="cart-content" style="height:40vh">
                                                                    <div class="row mb-3 ">
                                                                            <div style="width:100%;float:left">
                                                                                <div v-if="this.serviceFullDetail.item_image">
                                                                                    <img v-bind:src="this.image_url_path+this.get_item.item_image" class="img-fluid" style="height:25vh;width:100%;" alt="...">
                                                                                </div>
                                                                                <div v-else>
                                                                                    <img class="img-fluid" style="height:50vh;width:100%;" :src="require(`@/assets/DBECENTER-logo.png`)" />
                                                                                </div>                                                                                
                                                                            </div>
                                                                            <div style="width:45%;float:left;line-height:2vh;text-align: left;">
                                                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="float:left"> 

                                                                            </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <p><b>{{this.serviceFullDetail.item_name}}</b></p>
                                                                            <p>{{this.serviceFullDetail.identifier}}</p>
                                                                        </div>
                                                                    </div>
                                                                        <!--  -->
                                                            </div>
                                                    </div>
                                                    <div class="row" style="padding-top:10%">
                                    
                                                    <div class="row">
                                                        <div class="row row-pad">
                                                            <button type="button" id="submit" name="submit"  class="btn btn-danger" @click="availService()">Avail Service</button>
                                                        </div>
                                                        <div class="row row-pad">
                                                            <button class="btn btn-outline-danger waves-effect" style="margin-top:2%"   data-dismiss="modal" @click="viewAvailedServiceModal()">Back to Shopping</button>
                                                        </div>
                                                    </div>             
                                                    </div>
                                                </div>                                                    
    
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                                </div>   
                            </div>   
                        </div>
                    </teleport>
                    <!-- View contractoravail services -->        
</template>

<script>
import StarRating from 'vue-star-rating'
import { mapState } from 'vuex';

export default {
     components:{
         StarRating
    },
    data(){
      return{
            toggleViewCard:false,
            toggleAvailedServiceModal:false,
            get_item:{
               id: '',
               item_name: '',
               identifier: '',
               item_description: '',
               stat_rating: '',
               item_image: '',
           },
            view_specific_item:{
               id: ''
           },
           specific_item:{
               item_name : ''
           },
            service: {
               item_id          : '',
               name             : '',
               telephone        : '',
               description      : '',
               street           : '',
               city             : '',
               region           : '',
               zipcode          : '',
               country          : '',
            },
            userRole    : ''
      }
    },
    computed:{
        ...mapState('SHOPZONE', {
            servicesData: state => state.list_of_services,
            getSpecificitem: state => state.setSpecificItem,
            image_url_path: state => state.imageUrl,
            getServiceFullDetails: state => state.setFullDetailsItem,
        }),
        serviceList() {
            return this.servicesData
        },
                serviceFullDetail() {
            return this.getServiceFullDetails
        },
    },
    created(){
        this.$store.dispatch('SHOPZONE/getServiceList');
        this.userRole = localStorage.getItem('user_role');
    },
    methods:{
        handleModal(){
            if(!localStorage.getItem('isLoggedin')){
                alert('log-in to view Item')
            }else{
                this.toggleViewCard = !this.toggleViewCard
            }   
        },
        setItembyId(item){
            this.get_item.id = item.id;
            this.get_item.item_image = item.item_image;
            this.get_item.item_name = item.item_name;
            this.get_item.identifier = item.identifier;
            this.get_item.item_description = item.item_description;
            this.get_item.item_star_rating = item.item_star_rating;
        },
        setServiceID(id){
            this.service.item_id = id
        },
        close(){
            console.log('clear');
        },
        async fetchItem() {
            await this.$store.dispatch('SHOPZONE/fetchItem', this.get_item)
        },
        async view_full_details(item){
            this.$router.push({ name: 'service-full-details', params: { item_id: item.id } })
        },
        async availService() {
            await this.$store.dispatch('SHOPZONE/availService', this.service);
        },
    }
}
</script>
<style lang="scss" scoped>
    .shopzone-title{
        padding-left:3%;
        padding-top:1%;
        padding-bottom:1%;
        font-size:3vh;
        color: #DD1F4C;
        font-weight: 800;
        width:100%;
    }
    .shopzone-service-body{
        margin-top: 3%;
        width: 98.5%;
        margin-left: 2.5%;

    }
    .view-all{
        width:100%;
        color:#DD1F4C;
        font-size:1.5vh;
        font-weight: 300;
    }
    .hide {
       display: none;
       background: red;
       height: 100%;
       width: 100%;
    }
    .shopzone-card{
        height: 100%;
        padding: 1%;
    }:hover + .hide {
        display: block;
        color: red;
    }            
    .shopzone-card-content{
            height: 100%;
            background: rgba(196, 196, 196, 0.38);
            box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.10);
            padding: 5%;
            text-align: left;
            width: 100%;
            float: left;
            .image{
                // height: 40%;
                height: 27vh;
            }.card{
                background: rgba(196, 196, 196, 0);
            }
    }

   .shopzone-service-container{
        width: 95%;
        height: 100%;
        padding-left: 2.5%;
   }
   .shopzone-service-flexer{
       width: 100%;
       display: flex;
    }
   .shopzone-service-image{
       width: 33.333333%;
       height: 100%;
     }
    .modal-container{
        position: fixed;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        height: 100%;
        width: 100%;
        top:0px;
        z-index:251;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .services-card-content{
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.10);
        padding: 1%;
        text-align: left;
        width: 100%;
        float: left;
        .image{
            // height: 40%;
            height: 50vh;
        }
    }
    .addcart{
        height: 6vh;
        width: 100%;
    }
    .select-other{
        color:#DD1F4C;
        font-size:1.5vh;
        font-weight: 500;
    }
    .item_description{
        padding-top:5%;
        height: 10vh;
        overflow: scroll;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
    }
</style>