<template>
<div class="link-center" v-if="data.title != 'Do More' && data.title != 'Resources' ">
  <router-link class="py-3 px-3 link-center" :to="{ name : data.link}" >{{ data.title }} </router-link>
</div>
<div v-else>
  <div v-if="data.title == 'Do More'" class="dropdown-center" @mouseover="this.toggle=true" @mouseleave="this.toggle=false">
    <div class="py-3 px-3 dropdown-center-title"  @click.self="handleToggle(data.title)" >{{ data.title }} &nbsp; <DownOutlined/> </div>
    <div v-if="toggle && data.dropdata" :toggle='toggle' class="dropdown-center-items"  >
            <div  class="dropdown-center-items-style" v-for="(drop, index) in data.dropdata" :key="index">
              <router-link :to="{ name : drop.link }">{{ drop.subtitle }} </router-link>
            </div>
    </div>
     
  </div>
  <div v-else class="dropdown-center-resources " @mouseover="this.toggledrop=true" @mouseleave="this.toggledrop=false">
    <div class="py-3 px-3 dropdown-center-resources-title" >{{ data.title }} &nbsp; <DownOutlined/> </div>
    <div v-if="toggledrop && data.dropdata" class="dropdown-center-resources-items"   >
            <div  class="dropdown-center-resources-items-style" v-for="(drop, index) in data.dropdata" :key="index">
              <router-link :to="{ name : drop.link }">{{ drop.subtitle }} </router-link>
            </div>
    </div>
  </div>
   
</div>

</template>

<script>
import { DownOutlined } from "@ant-design/icons-vue";
export default {
  name: "NavBtn",
  props: {
    data: Object,
  },
  components:{
    DownOutlined
  },
  data() {
    return {
      toggle: false,
      toggledrop:false,
      
    };
  },
  computed:{
    
  },

  methods:{
    
 
 
   

    
  }
};
</script>

<style lang="scss" scoped>

   a:hover{
     color:#000000;
    }
    
  .a {
    width: 100%;
    height: 100%;
    
    
  }

  div.link-center{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 5;
    position: relative;

    a{
      display: flex;
      font-family: Poppins;
      font-size: 0.9rem;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: center;
      text-decoration: none;
      color:#E8E8E8;
      justify-content: center;
      align-items: center;
    }

    
    a::before{
    content: '';
    display:block;
    background-color:#E8E8E8;
    width: 0px;
    height: 6px;
    position: absolute;
    top:40px;
    transition: all 0.5s ease;
    
    }
    a:hover::before{
    
      width: 85px;
    }

  }
.dropdown-center{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
     font-family: Poppins;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    background-color:#463f4100;
    z-index: 1;
 
    position: relative;

      &-title{
           display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          font-family: Poppins;
          font-size: 0.9rem;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: center;
          text-decoration: none;
          color:#E8E8E8;
          z-index: 6;
      }
    
      &-items{
      position: absolute;
      height: 150px;
      background-color:#463f41;
      color: #ffffff;
     
      top: 55px;
      left:10px;
      width: 315px;
      z-index: 0;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: self-start;
      border-radius: 5px;
      animation-name: example;
      animation-duration: 0.2s;
      // box-shadow: -4px 32px 61px 7px rgba(15,13,13,0.22);
      // -webkit-box-shadow: -4px 32px 61px 7px rgba(15,13,13,0.22);
      // -moz-box-shadow: -4px 32px 61px 7px rgba(15,13,13,0.22);
          &-style{
            height: 100%;
            width: 100%;
          
            padding: 0px 10px;
            

             a{
              height: 100%;
              width: 100%;
              color:#E8E8E8;
              display: flex;
              align-items: center;
              justify-content: center;
              
              
            }
            a:hover{
                 color:#463f41;
            }
          }
          &-style:hover{
            background-color: #E8E8E8;
            color:#463f41;
          }
    }

    
  }

.dropdown-center-resources{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
     font-family: Poppins;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    color:#463f41;
    z-index: 1;
    position: relative;

      &-title{
           display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          font-family: Poppins;
          font-size: 0.9rem;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: center;
          text-decoration: none;
          color:#E8E8E8;
          z-index: 6;
      }
    
      &-items{
      position: absolute;
      height: 150px;
       background-color:#463f41;
      padding-top:30px;
      top: 25px;
      left:10px;
      width: 315px;
      z-index: 0;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: self-start;
      border-radius: 5px;
      animation-name: example;
      animation-duration: 0.2s;
      // box-shadow: -4px 32px 61px 7px rgba(15,13,13,0.22);
      // -webkit-box-shadow: -4px 32px 61px 7px rgba(15,13,13,0.22);
      // -moz-box-shadow: -4px 32px 61px 7px rgba(15,13,13,0.22);
          &-style{
            height: 100%;
            width: 100%;
          
            padding: 0px 10px;
            

             a{
              height: 100%;
              width: 100%;
              color:#E8E8E8;
              display: flex;
              align-items: center;
              justify-content: center;
            
              
            }
            a:hover{
                 color:#DD1F4C;
            }
          }
          &-style:hover{
            background-color: #E8E8E8;
            color:#DD1F4C;
          }
    }

    
  }
  


@keyframes example {
  from {height: 0px;}
  to {height: 150px;}
}
 

</style>



