<template>
    <div class=" w-100 d-md-flex flex-md-column justify-content-center align-items-center p-4">
       <div class="title">contact us</div>
       <div class="pnum">651.348.8925</div>
       <div class="email">insights.dbecenter.com</div>

       <div class="some-text"> Subscribe For Updates and Promotions</div>
       <div class="m-3 text-start">
            <label for="exampleFormControlInput1" class="form-label email-label">Email address</label>
            <input type="email" class="form-control inputEmail" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
       <button type="button" class="btn btn-danger subscribebtn text-capitalize">get updates</button>
    </div>
</template>

<style lang="scss" scoped>
.title{
    margin-top: 160px;
    font-size: 48px;
    line-height: 72px;
    align-items: center;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

}
.pnum, .email, .some-text{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 101%;
    /* or 24px */

    align-items: center;
    text-align: center;
    letter-spacing: 0.145em;
    
}
.pnum{
    margin-bottom: 10px;
}
.email{
    margin-bottom: 30px;
}
.some-text{
    margin-bottom: 10px;
}
.inputEmail, .subscribebtn{
    
    margin:5px 10px;
    width:350px ;
}
.inputEmail{
    background: rgba(196, 196, 196, 0.25);
    padding: 4px 8px;
}
.subscribebtn{
    background: #DD1F4C;
    text-transform: capitalize;
    padding: 5px 0px;
    color:#ffffff;
}

    @media (min-width: 320px) {
        .title{
           font-size: 25px;
        }

        .pnum, .email, .some-text{
           font-size: 10px;
        }    
        .email-label{
           padding-left: 4%;
        }
        .inputEmail{
           margin: 2px 0px;
           width: 245px; 
        }
        .subscribebtn{
            width: 245px;
            margin-left: 15px;
        }
        
    }

    @media (min-width: 375px) {
        .inputEmail{
            margin: 2px 28px;
        }
    }

    @media (min-width: 425px) {
        .inputEmail{
            margin: 2px 52px;
        }
    }

    @media (min-width: 768px) {
.title{
    font-size: 48px;
    line-height: 72px;
    align-items: center;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

}
.pnum, .email, .some-text{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 101%;
    /* or 24px */

    align-items: center;
    text-align: center;
    letter-spacing: 0.145em;
    
}
.pnum{
    margin-bottom: 10px;
}
.email{
    margin-bottom: 30px;
}
.some-text{
    margin-bottom: 10px;
}
.inputEmail, .subscribebtn{
    
    margin:5px 10px;
    width:350px ;
}
.inputEmail{
    background: rgba(196, 196, 196, 0.25);
    padding: 4px 8px;
}
.subscribebtn{
    background: #DD1F4C;
    text-transform: capitalize;
    padding: 5px 0px;
    color:#ffffff;
}
    }
</style>