<template>
      <div class="header-text">{{headerText}}</div>
      <div class="body-text">{{bodyText}}</div>
      <button type="button" class="btn partners-btn btn-outline-danger">Learn More</button>
</template>

<script>
export default {
    props:{
        headerText:String,
        bodyText:String,
    }
}
</script>




