<template>

<div class="container-fluid">
  <div class="row gx-0">
      <div class="col-md-3"> 
          <PartnerBodyComponent
              :headerText="'Capacity Builders'" 
              :bodyText="'Private or Public Agencies who provide business support and funding opportunitiies to Entrepreneurs'" 
          />
      </div>
      <div class="col-md-3"> 
            <div class="partner-container">
             <img src="https://static.wixstatic.com/media/cce23e_18f14ccbb6074351ae35d8bf72377a59~mv2_d_5964_3976_s_4_2.jpg" alt="">
          </div>
      </div>
      <div class="col-md-3"> 
          <PartnerBodyComponent
              :headerText="'Associations & Chambers'" 
              :bodyText="'Community Groups, Associations, etc who provide support to Entrepreneurs'" 
          />                 
      </div>      
      
      <div class="col-md-3"> 
          <div class="partner-container">
                <img src="https://static.wixstatic.com/media/cce23e_835eb14ebbd74d5e92ba45be413b7857~mv2_d_7360_4912_s_4_2.jpg" alt="">
         </div>
      </div>
            
  </div>
  <div class="row gx-0">
      <div class="col-md-3"> 
        <div class="partner-container">
             <img src="https://static.wixstatic.com/media/cce23e_42fdb9bc7ddd4843b04bca7957d45cd1~mv2_d_1800_1200_s_2.jpg" alt="">
        </div>
      </div>
      <div class="col-md-3"> 
          <PartnerBodyComponent
              :headerText="'Bonding'" 
              :bodyText="'Agencies who provide bonding services for contractors'" 
          />                 
      </div>          
      <div class="col-md-3"> 
        <div class="partner-container">
               <img src="https://static.wixstatic.com/media/cce23e_e65076670223412c93fb350edaba1442~mv2_d_3000_1887_s_2.jpg" alt="">
        </div>
      </div>
      <div class="col-md-3"> 
          <PartnerBodyComponent
              :headerText="'Commercial Policies'" 
              :bodyText="'Agencies who provide general and professional liability policies for small businessess'" 
          />                          
      </div>        
  </div>
</div>
</template>

<script>
import PartnerBodyComponent from '@/views/web/resources/partners/sections/PartnersBodySectionCompenent.vue'


export default {
     components: {
        PartnerBodyComponent
    },
}

</script>

<style scooped>
    .partner-container{
      width: 100%;
      height: 100%;
    }

    img {
      height: 100%;
      width: 100%;
    }


    .header-text{
      font-size: 40px;
      font-weight:bold;
      color:#DD1F4C;
      padding-bottom:5%;
      padding-top:2.5%;
      margin: 5% 0 0 0;   
    }
    .body-text{
      font-size:25px; 
      padding:5%;
    }

    .partners-btn{
      margin-bottom:9%;
    }

    @media screen and (max-width: 1024px) {
      .header-text {
        font-size: 25px;
      }        
      .body-text {
          font-size: 15px;
      }      
    }   
    @media screen and (max-width: 768px) {
      .header-text {
        font-size: 20px;
      }        
      .body-text {
        font-size: 12px;
      }    
      .partners-btn{
        font-size: 10px;
      }  
    }         
</style>





