<template>
    <div class="container-fluid  background-image">
        <div class="row">
            <div class="col-md-12">
                <div class="row header-background">
                    <div class="header-first-pharagraph">PARTNERS</div>
                    <div class="header-second-pharagraph"><i>BECOME PART OF OUR ECO-SYSTEM!</i></div>
                    <div class="header-third-pharagraph">
                        <i>
                        Connect with businesses who provide supportive services,
                        educational resources, volunteer mentoring, and other services to your business!  Please note, some of these businesses may compensate or be a
                        point of revenue stream or referral source for DBECenter.com.
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .background-image{
        background-image: url('./images/partnership-image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color:white;

    }   
    .header-background{
        margin: 8% 25%;
        background: white;
    }
    .header-first-pharagraph{
        font-size:60px; 
        letter-spacing:0.50vm; 
        font-weight:bold; 
        color:#DD1F4C;  
    }
    .header-second-pharagraph{
        font-size:35px; 
        color:black;
    }        
    .header-third-pharagraph{
        font-size: 25px;
        padding: 10%;
        color:black;
    }    



  

    @media screen and (max-width: 1024px) {
        .header-background{
                margin: 10% 15%;
        }           
    } 
    
    @media screen and (max-width: 768px) {
        .header-background{
                margin: 10% 15%;
        }           
        .header-second-pharagraph {
             font-size: 40px;
        }           
         .header-second-pharagraph {
            font-size: 25px;
        }        
        .header-third-pharagraph {
            font-size: 15px;
        }        
    }       
    @media screen and (max-width: 425px) {
        .header-background{
            margin: 5% 1%;
            }
        .header-first-pharagraph{
            font-size:30px; 
        }  
        .header-second-pharagraph{
            font-size:15px; 
        }                 
        .header-third-pharagraph{
            font-size:12px; 
        }                  
    }            
</style>