<template>
<div>
  <div class="container-class">
    <FabHeader />
    <FabBody />
  </div>
</div>
</template>

<script>
// @ is an alias to /src
import FabHeader from '@/views/web/resources/partners/sections/PartnersHeaderSection.vue'
import FabBody from '@/views/web/resources/partners/sections/PartnersBodySection.vue'

export default {
  name: 'partners',
  components: {
    FabHeader,
    FabBody
  }
}
</script>

<style scoped>
    .container-class{
        max-width: 1920px;
        margin-inline:auto;
    }
</style>