<template>
<div class="container-fluid eotr-body-container">
    <div class="row">
        <div class="col-md-4 card">
            <div class="row card-content-first">
                <div style="">
                    <img class="fab-img" src="https://static.wixstatic.com/media/cce23e_b1c2e4714692461ca9da35174b0c50c3~mv2.png/v1/crop/x_0,y_62,w_500,h_238/fill/w_300,h_128,al_c,q_85,usm_0.66_1.00_0.01/CEO%20Focus%20Transparent.webp" alt="">
                </div>
            </div>
            <div class="row">
                 <p class="card-header-text adjust-padding-top">REAL CONVERSATION ABOUT YOUR BUSINESS</p>
            </div>
            <div class="row">
                <p class="card-header-body">
                    CEO Focus NOW has REAL Conversations about the experiences of CEOs and Entrepreneurs have moving their business forward for success and sustainability.  CEO Focus NOW offers two platforms: 
                </p>
            </div>
            <div class="row">
                <ul class="list-disc">
                    <li>CEO Focus NOW Groups</li>
                    <li>  CEO Focus Networking & Webinarss</li>
                </ul>
            </div>
        </div>        

        <div class="col-md-4 card">
            <div class="row card-content-first">
                <div style="">
                      <img class="fab-img" src="https://static.wixstatic.com/media/cce23e_c7fa6a46a8614e789aa139d6bb836b1c~mv2.png/v1/crop/x_115,y_168,w_271,h_301/fill/w_200,h_216,al_c,q_85,usm_0.66_1.00_0.01/EOTR%20Logo%202019.webp" alt="">
                </div>
            </div>
            <div class="row">
                 <p class="card-header-text" >LEARN. IGNITE. APPLY. SUCCEED</p>
            </div>
            <div class="row">
                <p class="card-header-body">
                    EOTR is a Professional Learning & Development Program which offers workshops & technical assistance in topics proven to increase performance and work productivity in today's fast paced business world!
                </p>
            </div>
            <div class="row">
                <ul class="list-disc">
                    <li>80+ topics in Entrepreneurship, Business Process Improvement, and Government procurement</li>
                    <li>30+ topics in Construction</li>
                    <li>Project + Construction Management with Certificate of Completion option!</li>
                    <li>Instructed by subject matters experts in the Industry</li>
                </ul>
            </div>
        </div>              
        <div class="col-md-4 card">
            <div class="row card-content-first">
                <div style="">
                    <img class="fab-img" src="https://static.wixstatic.com/media/cce23e_52010fd638db450499073fbb7dbff5ae~mv2.png/v1/fill/w_229,h_216,al_c,q_85,usm_0.66_1.00_0.01/WEB%20Trasparent.webp" alt="">
                </div>
            </div>
            <div class="row">
                 <p class="card-header-text" >INTENTIONAL SUPPORT AND ASSISTANCE</p>
            </div>
            <div class="row">
                <p class="card-header-body">
                   At its core, the Work Experience Builder program or "WEB" allows Black, Indigenous, and People of Color (BIPOC) owned firms to "demonstrate their capability and capacity" in completing targeted projects.
                </p>
            </div>            
            <div class="row">
                <p class="card-header-body">
                    WEB is designed to put BIPOC firms at the center (of the web), gradually building a support system that captures their knowledge -allowing for growth and expansion. As experience is expanded and enhanced by the intentional resources and opportunities being made available, WEB will accelerate and elevate its entrepreneurs, because support and opportunities are provided with intention by the ecosystem.
                </p>
            </div>
        </div>     
    </div>
</div>    
</template>

<style  lang="scss" scoped>
.card {
    img {    
        transition: transform .3s ease-in-out; 
    }
        &:hover {
            img {
            transform: scale(1.05)
            }
        }
    }

    .fab-img{
        padding: 15%;
    }
    .card-header-body{
        font-size: 20px;
        padding: 2% 15%;
        line-height: 50px;
        text-align: justify;
    }

    .list-disc{
        padding: 0 15%;
        font-size:20px;
        text-align:left;
    }
    .adjust-padding-top{
        padding-top:14%
    }
    .card-header-text{
        font-size:30px;
    }
  @media screen and (max-width: 768px) {
        .card-header-text{
            font-size:20px;
        }        
        img{
            height: 100%;
            width: 100%;
        }

        .card-header-body {
            font-size: 15px;
            line-height: 20px;
        }        

        .list-disc{
            font-size: 15px;
        }
    }  
    @media screen and (max-width: 425px) {
        .card-header-text{
             font-size: 18px;
        }        

        .card-header-body {
            font-size: 15px;
            line-height: 25px;
        }        

        .list-disc{
            font-size: 15px;
        }
    }

    

</style>