<template>
<div class="container-fluid gx-0">
    <div class="row gx-0">
        <div class="col-md-4">
            <img src="https://static.wixstatic.com/media/5309e07b4f4d455990b3d510c03afce9.jpg/v1/fill/w_635,h_600,al_c,q_80,usm_0.66_1.00_0.01/5309e07b4f4d455990b3d510c03afce9.webp">
        </div>        
        <div class="col-md-4">
            <img src="https://static.wixstatic.com/media/cce23e_d045a73b99cc46efb6ce0e8299f0c2d8~mv2.jpg/v1/fill/w_635,h_600,al_c,q_80,usm_0.66_1.00_0.01/cce23e_d045a73b99cc46efb6ce0e8299f0c2d8~mv2.webp">
        </div>        
        <div class="col-md-4">
            <img src="https://static.wixstatic.com/media/11062b_b78577a1dbdb470fac21a13e9e9fbaf3~mv2.jpg/v1/fill/w_635,h_600,al_c,q_80,usm_0.66_1.00_0.01/11062b_b78577a1dbdb470fac21a13e9e9fbaf3~mv2.webp"> 
        </div>
    </div>
</div>
</template>


<style scoped>
    @media (min-width:320px) {
        img{
            height: 100%;
            width: 100%;
        }
    }
 
</style>