<template>
    <div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                <div class="row">
                     <h5>Vendor Bids</h5>
                </div>
            </div>
            <div v-for="bids in projectBids" :key="bids">
                <div class="card p-3" style="margin-bottom:2%">
                    <div class="row" v-if="bids.user_id == this.loginUserId">
                            <div class="form-group2" style="width:100%;float:right;padding-left:1%">
                                <button style="float: right;background-color: transparent;border: none;padding-left:2%;padding-right:2%;color:#DD1F4C"  @click="deleteBid(bids.id)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                                    <!-- <button style="float: right;background-color: transparent;border:none;color:#DD1F4C"  @click.prevent="this.toggleUpdateServedClientModal =true">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                        </svg>
                                    </button> -->
                            </div>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
                            <div class="user d-flex flex-row align-items-center" style="width: 100%;text-align:left"> 
                                <img v-bind:src="this.image_url_path+bids.user.profile.profile_picture" class="user-img rounded-circle mr-2" style="height:7vh;width:6.5%" alt="...">

                                <span  style="padding-left:4.5%;font-size:2vh;font-weight:500;color:#0d6efd"><div>{{bids.user.profile.firstname}} {{bids.user.profile.lastname}}</div>
                                </span> 
                                <span  style="padding-left:4.5%;font-size:2vh;font-weight:500;"><div>Bid Amount of : ${{bids.price}}</div></span>
                            </div> 
                                <div style="width: 10%;">{{dateTime(bids.created_at)}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-between align-items-center" style="width:100%;">
                            <div class="user d-flex flex-row align-items-center" style="width: 100%;text-align:left;"> 
                                <span style="width: 100%;padding-left:10%">
                                    <div >{{bids.comment}}</div>
                                </span> 
                            </div> 
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</template>

<script>
import StarRating from 'vue-star-rating';
import { mapState } from 'vuex'
import moment from 'moment';

export default {
    data(){
        return{
            loginUserId : '',
            rating: {
              comment   :'',
              rate      :'',
              item_id   :'',
            },
            comment     :true,
            recomment   :false,
            userRole    : ''
        }
    },
    computed: {      
    ...mapState('DASHBOARD', {
            image_url_path: state => state.imageUrl,
            userData: state => state.user,
        }),
        userDataA() {
            return this.userData;
        }
    },
    created(){
        this.loginUserId = localStorage.getItem('user_id');
        this.userRole = localStorage.getItem('user_role');
    },
    updated(){
        this.userUpdatedData = this.userDataA;
    },
    components:{
         StarRating
    },
     props:{
        projectBids:Array,
        item_id_from:String
    },
    methods:{
        dateTime(value) {
             return moment(value).format('LLL');
        },
        // async postRatingComment() {
        //     this.rating.item_id = this.item_id_from
        //     await this.$store.dispatch('DASHBOARD/postRatingComment', this.rating)
        // },
        async deleteBid(id) {
            await this.$store.dispatch('SHOPZONE/deleteBid', id)
        }
    }
}
</script>

<style scoped>
body {
    background-color: #f7f6f6
}

.card {
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px
}

.dots {
    height: 4px;
    width: 4px;
    margin-bottom: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}

.badge {
    padding: 7px;
    padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #e9ecef
}

.user-img {
    margin-top: 4px
}

.check-icon {
    font-size: 17px;
    color: #c3bfbf;
    top: 1px;
    position: relative;
    margin-left: 3px
}

.form-check-input {
    margin-top: 6px;
    margin-left: -24px !important;
    cursor: pointer
}

.form-check-input:focus {
    box-shadow: none
}

.icons i {
    margin-left: 8px
}

.reply {
    margin-left: 12px
}

.reply small {
    color: #b7b4b4
}

.reply small:hover {
    color: green;
    cursor: pointer
}
</style>
