<template>
         <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb" style="font-size: 2vh;">
            <ol class="breadcrumb">
              <li class="breadcrumb-item  active" aria-current="page">Product</li>
              <li class="breadcrumb-item"><a href="/#/shopzone/projects">Project</a></li>
              <li class="breadcrumb-item"><a href="/#/shopzone/services">Service</a></li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
            <div class="shopzone-title">
                <div style="float:center;text-align:lef">
                    Products
                </div>
           </div>
            <div class="shopzone-service-body">
                <div class="row gx-2" >
                    <div style="width:23%;margin-right:2%;padding-bottom:3%" v-for="item in productList" :key="item">
                        <div style="width:100%"  class="col-lg-3 col-md-6 shopzone-card">
                            <div class="shopzone-card-content">
                                <div >
                                    <star-rating :rtl="true" :show-rating="false" :rating="this.get_item.item_star_rating" active-color="#DD1F4C" :star-size="30" :read-only="true" :increment="0.01"></star-rating>
                                </div>
                                <div class="card" style="border:none">
                                    <div class="card-body">
                                    <div class="image">
                                        <div v-if="item.item_image" >
                                             <img v-bind:src="this.image_url_path+item.item_image" class="img-fluid" style="height:30vh;width:100%" alt="...">
                                        </div>
                                        <div v-else>
                                             <img class="img-fluid" style="height:30vh;width:100%;" :src="require(`@/assets/DBECENTER-logo.png`)" />
                                        </div>
                                    </div>
                                    <br>    
                                    <div class="row" style="padding-top:2%">
                                        <p style="font-size:2vh;width:50%;float:left"><b>{{item.item_name}}</b></p>
                                        <p style="font-size:1.6vh;width:50%;float:right;text-align: right;"><b>{{item.unit_cost}} $</b></p>
                                    </div>
                                    <hr class="solid">
                                        <p style="font-size:1.6vh;padding-top:3%;float:left;width:50%" ><b>{{ item.identifier}}</b></p>
                                        <div style="width:50%;float:left;margin-top:2%;text-align: right;">
                                            <button type="button" @click.prevent="handleModal();setItembyId(item);fetchItem()" class="btn btn-danger">View</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <teleport to="#modals">
                <div v-if="toggleViewCard" class="modal-container">
                    <div class="card mb-3" style="max-width: 60%;width:60%">
                        <div class="services-card-content">
                        <div class="row g-0">
                            <div class="col-md-7">
                                <div class="image">
                                        <div v-if="get_item.item_image" >
                                             <img v-bind:src="this.image_url_path+this.get_item.item_image" class="img-fluid" style="height:50vh;width:100%;" alt="...">
                                        </div>
                                        <div v-else>
                                             <img class="img-fluid" style="height:50vh;width:100%;" :src="require(`@/assets/DBECENTER-logo.png`)" />
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                            <div class="card-body" style="height:100%;">
                                <h5 class="card-title" style="font-size:3vh"> {{ this.get_item.item_name }}</h5>
                                <p class="card-text" style="font-size:1.5vh">{{ this.get_item.identifier }}</p>
                                <div style="padding-bottom:4%"> 
                                  <star-rating :rating="this.get_item.item_star_rating" active-color="#DD1F4C" :star-size="45" :read-only="true" :increment="0.01"></star-rating>
                                </div>
                                <div>
                                   <p class="card-text" style="font-size:1.9vh"><b>{{get_item.unit_cost}} $</b></p>
                                </div>
                                <div class="item_description">
                                    <p class="card-text" style="font-size:1.5vh">{{get_item.item_description}}</p>
                                </div>
                                <div class="row">
                                    <p class="card-text" style="font-size:1.5vh">Stock : {{get_item.stock}}</p>
                                </div>
                                    <div class="row g-3 align-items-center">
                                    <div class="col-auto">
                                        <label for="" class="col-form-label">Quantity</label>
                                    </div>
                                    <div class="col-auto">
                                        <!-- <input :readonly="(this.userRole == 'VENDOR')" style="" type="number" id="bid-text" class="form-control" v-model="this.get_item.quantity"> -->
                                        <input style="" type="number" id="bid-text" class="form-control" v-model="this.get_item.quantity">
                                    </div>
                                </div>
                                 <div style="padding-top:2%;padding-bottom:2%"> 
                                      <a @click="view_full_details(this.get_item)" class="view-all" style="padding-top:5%"><u> View full details</u> </a>
                                </div>
                                <div class="align-bottom"> 
                                    <!-- <button type="button" :disabled="(this.userRole == 'VENDOR')" class="btn btn-danger addcart" @click="addToCart(this.get_item)">Add to Cart</button> -->
                                    <button type="button" class="btn btn-danger addcart" @click="addToCart(this.get_item)">Add to Cart</button>
                                    <div style="padding-top:5%;text-align:center;">
                                        <button @click="handleModal();close()" style="background:none;border:none;"  class="select-other">Select other Product </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </teleport>

</template>

<script>
import StarRating from 'vue-star-rating'
import { mapState } from 'vuex';
export default {
     components:{
         StarRating
    },
    data(){
      return{
            toggleViewCard:false,
            get_item:{
               id               : '',
               item_name        : '',
               identifier       : '',
               item_description : '',
               stat_rating      : '',
               quantity         : '',
               stock            : '',
               item_image       : '',
           },
            view_specific_item:{
               id: ''
           },
           specific_item:{
               item_name : ''
           },
           userRole : ''
      }
    },
    computed:{
        ...mapState('SHOPZONE', {
            productsData: state => state.list_of_product,
            getSpecificitem: state => state.setSpecificItem,
            image_url_path: state => state.imageUrl,
        }),
        productList() {
            return this.productsData
        }
    },
    created(){
        this.$store.dispatch('SHOPZONE/getProductList')
        this.userRole = localStorage.getItem('user_role')
    },
    updated(){
    },
    methods:{
        handleModal(){
            if(!localStorage.getItem('isLoggedin')){
                alert('log-in to view Item')
            }else{
                this.toggleViewCard = !this.toggleViewCard
            }          
        },
        setItembyId(item){
            this.get_item.id                = item.id;
            this.get_item.item_image        = item.item_image;
            this.get_item.item_name         = item.item_name;
            this.get_item.identifier        = item.identifier;
            this.get_item.item_description  = item.item_description;
            this.get_item.unit_cost         = item.unit_cost;
            this.get_item.stock             = item.quantity;
            this.get_item.item_star_rating  = item.item_star_rating;
        },
        close(){
            console.log('clear');
        },
        async addToCart(data){
            await this.$store.dispatch('CART/AddToCart', data)
        },
        async fetchItem() {
            await this.$store.dispatch('SHOPZONE/fetchItem', this.get_item)
        },
        async view_full_details(item){
            this.$router.push({ name: 'product-full-details', params: { item_id: item.id } })
        }
    }
}
</script>
<style lang="scss" scoped>
    .shopzone-title{
        padding-left:3%;
        padding-top:1%;
        padding-bottom:1%;
        font-size:3vh;
        color: #DD1F4C;
        font-weight: 800;
        width:100%;
    }
    .shopzone-service-body{
        margin-top: 3%;
        width: 98.5%;
        margin-left: 2.5%;

    }
    .view-all{
        width:100%;
        color:#DD1F4C;
        font-size:1.5vh;
        font-weight: 300;
    }
    .hide {
       display: none;
       background: red;
       height: 100%;
       width: 100%;
    }
    .shopzone-card{
        height: 100%;
        padding: 1%;
    }:hover + .hide {
        display: block;
        color: red;
    }            
    .shopzone-card-content{
            height: 100%;
            background: rgba(196, 196, 196, 0.38);
            box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.10);
            padding: 5%;
            text-align: left;
            width: 100%;
            float: left;
            .image{
                // border: 1px solid rgba(112, 112, 112, 0.541);
                // height: 40%;
                height: 27vh;
            }.card{
                background: rgba(196, 196, 196, 0);
            }
    }

   .shopzone-service-container{
        width: 95%;
        height: 100%;
        padding-left: 2.5%;
   }
   .shopzone-service-flexer{
       width: 100%;
       display: flex;
    }
   .shopzone-service-image{
       width: 33.333333%;
       height: 100%;
     }
    .modal-container{
        position: fixed;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        height: 100%;
        width: 100%;
        top:0px;
        z-index:251;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .services-card-content{
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.10);
        padding: 1%;
        text-align: left;
        width: 100%;
        float: left;
        .image{
            // border: 1px solid rgba(112, 112, 112, 0.541);
            // height: 40%;
            height: 50vh;
        }
    }
    .addcart{
        height: 6vh;
        width: 100%;
    }
    .select-other{
        color:#DD1F4C;
        font-size:1.5vh;
        font-weight: 500;
    }
    .item_description{
        padding-top:5%;
        height: 10vh;
        overflow: scroll;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
    }
</style>