<template>
<div v-if="this.productFullDetail.user_profile" class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <!-- <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li> -->
              <li class="breadcrumb-item active" aria-current="page">Product</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <div class="mt-3">
                        <div v-if="productFullDetail.id">
                          <h4>{{productFullDetail.user.roles[0].name}} </h4>
                        </div>
                    </div>
                    <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150"> -->
                            <div v-if="productFullDetail.user_profile.profile_picture != null">
                                 <img v-bind:src="this.image_url_path+productFullDetail.user_profile.profile_picture" class="rounded-circle" style="height:15vh;width:100%" alt="...">
                            </div>
                            <div v-else-if="productFullDetail.user_profile.profile_picture == null">
                                <img style="width:100%;height:100%;" :src="require(`@/assets/DBECENTER-logo.png`)" />
                            </div>                                 
                    <div class="mt-3">
                    <router-link :to="{ name: 'user-full-details', params: { id: productFullDetail.user.id }}">  
                        <h4 style="color:#0d6efd">{{productFullDetail.user_profile.firstname}} {{productFullDetail.user_profile.lastname}}</h4>
                      <p class="text-secondary mb-1">{{productFullDetail.user_profile.address2}}</p>
                      <!-- <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> -->
                      <!-- <button  style="width:50%" class="btn btn-outline-primary">View </button> -->
                    </router-link>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                    <div class="col-md-7">
                        <div class="card-image">
                            <div v-if="productFullDetail.item_image">
                               <img v-bind:src="this.image_url_path+productFullDetail.item_image" class="img-fluid" style="height:40vh;width:100%" alt="...">
                            </div>
                            <div v-else-if="!productFullDetail.item_image">
                                <img style="width:100%;height:100%;" :src="require(`@/assets/DBECENTER-logo.png`)" />
                            </div>                               
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card-body" style="height:100%;">
                            <div style="text-align:left"> 
                                <h5 class="card-title" style="font-size:3vh;"> {{productFullDetail.item_name}} </h5>
                                <p class="card-text" style="font-size:1.5vh">{{productFullDetail.identifier}}</p>
                                <div style=""> 
                                    <star-rating :rating="productFullDetail.item_star_rating" active-color="#DD1F4C" :star-size="35" :read-only="true" :increment="0.01"></star-rating>
                                </div>
                                <div style="padding-top:5%">
                                   <p class="card-text" style="font-size:1.9vh"><b>{{productFullDetail.unit_cost}} $</b></p>
                                </div>
                                <div class="item_description">
                                    <p class="card-text" style="font-size:1.5vh">{{productFullDetail.item_description}}</p>
                                </div>                               
                                <div class="row">
                                    <p class="card-text" style="font-size:1.5vh">Stock : {{productFullDetail.quantity}}</p>
                                </div>
                            </div>
                                <div class="row g-3 align-items-center" style="padding-bottom:5%">
                                <div class="col-auto">
                                    <label for="" class="col-form-label">Quantity</label>
                                </div>
                                <div class="col-auto" style="width: 66%;">
                                    <!-- <input :disabled="(this.userRole == 'VENDOR')" style="" type="number" id="bid-text" class="form-control" v-model="this.get_item.quantity"> -->
                                    <input style="" type="number" id="bid-text" class="form-control" v-model="this.get_item.quantity">
                                </div>
                                </div>
                            <div class="align-bottom"> 
                                <!-- <button :disabled="(this.userRole == 'VENDOR')"  type="button" class="btn btn-danger addcart" @click="addToCart(this.get_item)">Add to Cart</button> -->
                                <button  type="button" class="btn btn-danger addcart" @click="addToCart(this.get_item)">Add to Cart</button>
                                <div style="padding-top:5%;text-align:center;">
                                    <a href="/#/shopzone/products" class="select-other">Select other Product </a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>


            </div>
          </div>

         <div class="row gutters-sm">
            <!-- <div class="col-md-12">
              <div class="card mb-3">
                <div class="card-body">
               
                </div>
              </div>
            </div> -->
            <comment-rating :itemRatingList='itemRatings'  :item_id_from='this.$route.params.item_id'></comment-rating>
          </div>

          <!-- <div class="spinner-border" style="width: 5rem; height: 5rem;color:#DD1F4C" role="status">
            <span class="visually-hidden">Loading...</span>
         </div> -->         
          
    </div>
</div>
</template>

<script>
import commentRating from '@/views/web/shopzone/shopZoneCommentRatings.vue';
import StarRating from 'vue-star-rating';
import { mapState } from 'vuex';
import { watch } from '@vue/runtime-core';

export default {      
    data(){
    return{
            get_item:{
               id: this.$route.params.item_id,
               quantity:'',
            },
            item_id_from : '',
            userRole : '',
            productFullDetail:[]
        }
    },
    components:{
         commentRating,
         StarRating
    },
    computed:{
        ...mapState('SHOPZONE', {
            getProductFullDetails: state => state.setFullDetailsItem,
            image_url_path:        state => state.imageUrl,
            itemRatingList:        state => state.product_item_ratings,
        }),
        productDetail() {
            return this.getProductFullDetails
        },
        itemRatings() {
            return this.itemRatingList
        },
    }, 
    methods:{
        async addToCart(data){
            await this.$store.dispatch('CART/AddToCart', data)
        }
    },
    created(){
        this.$store.dispatch('SHOPZONE/productFullDetails', this.$route.params.item_id);
        this.$store.dispatch('SHOPZONE/getProductRating', this.$route.params.item_id);
        this.userRole = localStorage.getItem('user_role');
        // if(this.itemRatings){
        //     this.itemRatings.forEach(element => {    
        //             // arr.push(element);
        //             console.log(element)
        //     });
        //     // state.userProjects = arr
        // }
    },
    watch:{
          productDetail: function(val){
             this.productFullDetail = this.productDetail;
          }
    }
}
</script>

<style lang="scss" scoped>
body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.card-image{
        border: 1px solid rgba(112, 112, 112, 0.541);
        // height: 40%;
        height: 40vh;
    }
.addcart{
    padding-top:3%;
    width: 100%;
}
.select-other{
    color:#DD1F4C;
    font-size:1.5vh;
    font-weight: 500;
}
.item_description{
    padding-top:2%;
    height: 13vh;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
width: 0;  /* Remove scrollbar space */
background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
</style>