<template>

<div class="container" style="padding:2%">
    <div class="row">
        <div class="col-md-2">
        <div class="row category-text">
            Category
        </div>
            <div class="row text-line-height">
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" v-model="isBusiness">
                    </div>
                    <div class="col-md-10 text-start">
                        <label>Certified Business</label>
                    </div>
                </div>            
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" v-model="isProjects">
                    </div>
                    <div class="col-md-10 text-start">
                        <label>Projects</label>
                    </div>
                </div>            
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" v-model="isProducts">
                    </div>
                    <div class="col-md-10 text-start">
                        <label>Products</label>
                    </div>
                </div>            
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" v-model="isServices">
                    </div>
                    <div class="col-md-10 text-start">
                        <label>Services</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row"  v-if="isBusiness">
                <div class="row">
                    <div class="result-header-text">
                    Certified Business related to "<b style="color:#DD1F4C">{{this.watchValue = this.$route.params.search_string}}</b>" Search Results...
                    </div>
                </div>
                <div class="row business-container-body">
                    <div class="content-container" >
                        <button class="button-scroll-prev" @click.prevent='prevGroup' ><LeftOutlined/></button>
                            <user-component :companyUser='companyList'> </user-component>
                        <button class="button-scroll-next" @click.prevent='nextGroup'><RightOutlined/></button>
                    </div>
                </div>
            </div>              
            <div class="row padding-top">
                <div class="row">
                    <div class="result-header-text">
                        Showing results for  "<b style="color:#DD1F4C">{{this.watchValue = this.$route.params.search_string}}</b>" ... 
                    </div>
                </div>   
                <!--  -->
                <div class="row" v-if="isProjects">
                    <div class="row">
                        <div class="col-md-12">
                              <div class="shopzone-title">
                             Projects
                             </div>      
                        </div>
                    </div>

                    <div class="content-container">
                        <button class="button-scroll-prev" @click.prevent='prevGroup1' ><LeftOutlined/></button>
                            <project-items :projectItems='projectList'> </project-items>
                        <button class="button-scroll-next" @click.prevent='nextGroup1'><RightOutlined/></button>
                    </div>
                </div>                  
                <!--  -->
                <div class="row padding-top"  v-if="isProducts">
                    <div class="row">
                        <div class="col-md-12">
                              <div class="shopzone-title">
                             Products
                             </div>      
                        </div>
                    </div>

                    <div class="content-container">
                        <button class="button-scroll-prev" @click.prevent='prevGroup2' ><LeftOutlined/></button>
                            <product-items :productItems='productList'> </product-items>
                        <button class="button-scroll-next" @click.prevent='nextGroup2'><RightOutlined/></button>
                    </div>
                </div>
                <!--  -->
                <div class="row padding-top"  v-if="isServices">
                    <div class="row">
                        <div class="col-md-12">
                              <div class="shopzone-title">
                             Services
                             </div>      
                        </div>
                    </div>

                    <div class="content-container">
                        <button class="button-scroll-prev" @click.prevent='prevGroup3' ><LeftOutlined/></button>
                            <service-items :serviceItems='serviceList'> </service-items>
                        <button class="button-scroll-next" @click.prevent='nextGroup3'><RightOutlined/></button>
                    </div>
                </div>
                            
            </div>
        </div>        
    </div>

</div>
</template>



<script>
import serviceItems from '@/views/web/shopzone/services/ServiceComponent'
import productItems from '@/views/web/shopzone/products/ProductComponent'
import projectItems from '@/views/web/shopzone/projects/ProjectComponent'
import UserComponent from '@/views/web/shopzonesearchresult/UserComponent'

import titleComponent from '@/components/base/titleComponent'
import cardIcons from '@/components/cardCategoryComponent'
import { LeftOutlined, RightOutlined } from "@ant-design/icons-vue";
import { mapState } from 'vuex'
export default {
    components:{
        serviceItems,
        titleComponent,
        LeftOutlined,
        RightOutlined,
        cardIcons,
        projectItems,
        productItems,
        UserComponent
 
    },
    data(){
      return{
          watchValue: this.$route.params.search_string,
          isBusiness: true,
          isProjects: true,
          isProducts: true,
          isServices: true,
      }
    },
    computed:{
        ...mapState('CART', {
            servicesData: state => state.searchServiceList,
            productData: state => state.searchProductList,
            projectData: state => state.searchProjectList,
            companyData: state => state.searchCompanyList,
        }),
        companyList() {
        console.log(this.companyData)
            return this.companyData
        },
        projectList() {
            return this.projectData
        },
        productList() {
            return this.productData
        },
        serviceList() {
            return this.servicesData
        },

    },
    created(){
        this.$store.dispatch('CART/searchServiceWithParams',this.$route.params.search_string);
        this.$store.dispatch('CART/searchProductWithParams',this.$route.params.search_string);
        this.$store.dispatch('CART/searchprojectWithParams',this.$route.params.search_string);
        this.$store.dispatch('CART/searchCompanyWithParams',this.$route.params.search_string)
    },
    watch:{
            watchValue(){
                window.location.reload()
            }
    },
    methods:{
        nextGroup(){
             document.getElementById('business-list').scrollLeft += 1150;
        },
        prevGroup(){
             document.getElementById('business-list').scrollLeft -= 1150;
        },        
        nextGroup1(){
             document.getElementById('project-list').scrollLeft += 1150;
        },
        prevGroup1(){
             document.getElementById('project-list').scrollLeft -= 1150;
        },
        nextGroup2(){
             document.getElementById('product-list').scrollLeft += 1150;
        },
        prevGroup2(){
             document.getElementById('product-list').scrollLeft -= 1150;
        },
        nextGroup3(){
             document.getElementById('service-list').scrollLeft += 1150;
        },
        prevGroup3(){
             document.getElementById('service-list').scrollLeft -= 1150;
        },
    }
}
</script>
<style lang="scss" scoped>
.results {
    padding-left:3%;
    padding-top:3%;
    font-size:3vh;
    color: #393939;
    font-weight: 800;
    width:100%;
}
// .shopzone-title{
//     text-align:left;
//     padding-left:3%;
//     padding-top:3%;
//     font-size:3vh;
//     color: #DD1F4C;
//     font-weight: 800;
//     width:100%;
// }
.view-all{
    width:50%;
    color:#DD1F4C;
    font-size:2vh;
    font-weight: 300;
    margin-left: 79.5%;
}
.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    position: relative;
    width:100%;
    margin-inline: auto;

    .button-scroll-next,.button-scroll-prev {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
        border:0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .button-scroll-next:hover,.button-scroll-prev:hover{
        background-color: white;
    }

    .card.backred{
    background-color: red !important;
}
    
}
.card-wrapper{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

//////////////////////
.result-header-text{
    font-size: 20px;
    text-align: left;
}
.business-container-body{
    background: white;
    height: 100%;
    width: 100%;
    padding:2%;
}
.business-container{
    height: 100%;
    width: 100%;
}

.business-logo{
    width:135px;
    height:120px;
}
.img-logo{
    width:100%;
    height:100%;
}
.business-text{
    text-align: left;
    font-size:20px;
    font-weight: 500;
}

.business-text-second{
    text-align: left;
    font-size:15px;
}

.shopzone-title{
    font-size:25px;
    color: #DD1F4C;
    font-weight: 600;
    text-align:left;
}

.category-text{
    font-size:20px;
    text-align:left;
    padding-bottom:10%;
}

.text-line-height{
    line-height: 40px;
}

.padding-top{
    padding-top:10%
}
</style>