<template>
    <div class="col-md-10" >
        <div id="business-list" >
                     
            <div v-for="company in companyUser" :key="company.id" class="top-list" @click="handleClick(company)">
                <div class="card">
                    <div class="business-container">
                        <div class="row gx-0" >
                            <div class="col-md-5">
                                <div class="business-logo">
                                   <img v-bind:src="this.image_url_path+company.logo"  class="rounded-circle img-logo" />
                                </div>
                            </div>
                            <div class="col-md-7" style="margin-block:auto;">
                                <div class="business-text">
                                   {{ company.name }}
                                </div>
                                <div class="business-text-second">
                                   {{ company.address2 }}
                                </div>
                            </div>                        
                        </div>
                    </div>    
                </div>
            </div>

                               
        </div>
    </div>
</template>


<script>
import { mapState } from 'vuex';
export default {
    props:{
        companyUser:Array
    },
    computed: {      
    ...mapState('DASHBOARD', {
            image_url_path: state => state.imageUrl,
        }
      )
    },
    methods:{
        handleClick(company){
                // this.$store.dispatch('SHOPZONE/viewProjectFullDetails', item)
               this.$router.push({ name: 'user-full-details', params: { id: company.user_id } })
        }
    },
}
</script>

<style lang="scss" scoped>
    .category{
        height: 100%;
    }
    .title{
    font-size:2.5vh;
    font-weight: 500;
    padding-top:5%
    }
    #business-list{
        width: 100%;
        display: flex;
        overflow-x:scroll;
        gap:10px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
         scroll-behavior: smooth;
       .top-list{
           cursor: pointer;
            .card {
             width: 405px;
        }
       }
    }
    #business-list::-webkit-scrollbar{
        display: none;
    }
///////////
.business-container-body{
    background: white;
    height: 100%;
    width: 100%;
    padding:2%;
}
.business-container{
    height: 100%;
    width: 100%;
}

.business-logo{
    width:135px;
    height:120px;
}
.img-logo{
    width:100%;
    height:100%;
}
.business-text{
    text-align: left;
    font-size:20px;
    font-weight: 500;
}

.business-text-second{
    text-align: left;
    font-size:15px;
}    
</style>