<template>
<div v-if="this.userFullDetails.company" class="container-fluid" style="padding:1%">
  <div class="row">
    <div class="col-md-2 side-class">
      <!-- One of three columns -->
    </div>
    <div class="col-md-8 main-class" style="padding:0%">
        <div  id="content">
                    <div class="bg">
        <div class="row bg-backround">
            <div class="col-md-6">
                <div class="row" style="padding:1%;">
                    <div v-if="this.userFullDetails.company.logo" class="image-container">
                        <img crossorigin="*" v-bind:src="this.image_url_path+this.userFullDetails.company.logo" class="rounded-circle shadow-1-strong me-3 image-logo"  alt="...">
                    </div>
                    <div v-else-if="!this.userFullDetails.company.logo"  class="image-container">
                        <img class="image-logo" :src="require(`@/assets/DBECENTER-logo.png`)" />                        
                    </div>                       
                        <!-- <img class="rounded-circle image-logo" src="./images/MKC.png" /> -->
                </div>
                <div class="row logo-text">
                     CAPABILITY   
                     <br>                
                     STATEMENT                   
               </div>
            </div>
            <div class="col-md-6 header-right-container">
                    <div class="row">
                        <p class="h2" style="font-weight:600">{{this.userFullDetails.company.name}}</p>
                     </div>
                    <div class="row">
                        <p>{{this.userFullDetails.company.address2}}</p>
                     </div>
                    <div class="row">
                        <p>{{this.userFullDetails.company.telephone}}</p>
                    </div>
                    <div style="border-top: 1px solid  #F0F0F0"></div>
                    <div class="row">
                        <p>{{ this.userFullDetails.company.country }}</p>
                    </div>
                    <div class="row">
                        <p>{{ this.userFullDetails.company.address1 }} {{ this.userFullDetails.company.city }} {{ this.userFullDetails.company.region }} {{ this.userFullDetails.company.zipcode }}</p>
                    </div>
            </div>        
        </div>
        </div>

        <div class="row text-position" >
                <div class="row">
                   <div class="col-md-12">
                       <div class="body-header-text">
                            ABOUT {{this.userFullDetails.company.name}}
                            <div style="border-top: 2px solid  #F0F0F0"></div>
                       </div>
                       <div class="body-header-child-text">
                             {{this.userFullDetails.company.description}}
                       </div>
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-6 csf-width">
                       <div class="body-header-text">
                            CORE COMPETENCIES
                            <div style="border-top: 2px solid  #F0F0F0"></div>
                       </div>
                       <div class="ul-class">
                        <ul>
                            <div v-for="capp in this.userFullDetails.company.capabilities" :key="capp" >
                                <li style="float:left;width:80%"> 
                                    {{ capp }}
                                </li>
                            </div>
                        </ul>
                       </div>
                   </div>
                    <div class="col-md-6 csf-width" style="padding-left:5%">
                        <div class="body-header-text">
                            SERVED CLIENTS
                            <div style="border-top: 2px solid  #F0F0F0"></div>
                       </div>
                       <div class="ul-class">
                                <div v-for="refer in this.userFullDetails.company.references" :key="refer" >
                                    <div class="row gutters ul-class" style="padding:5% 0%">
                                        <div class="row" style="color: #DD1F4C;"> 
                                            <div class="form-group2" style="width:50%;float:left;padding-right:1%">
                                            <label for="fullName" style="float:left;"><b>{{refer.company_name}} </b></label>
                                            </div>
                                        </div>
                                        <div style="border-top: 2px solid  #F0F0F0"></div>
                                        <div class="form-group-clients">
                                            <label for="fullName" style="float:left">{{refer.contract_number}}</label>
                                        </div>
                                        <div class="form-group-clients">
                                            <label for="fullName" style="float:left;">From : {{refer.from}} To :  {{refer.to}} </label>
                                        </div>                                        
                                        <div class="form-group-clients">
                                          <div v-if="refer.contract_value">  <label for="fullName" style="float:left">${{refer.contract_value}}</label></div>
                                        </div>
                                        <div class="form-group-clients">
                                            <label for="fullName" style="float:left">{{refer.service_offered}}</label>
                                        </div>
                                        <div class="form-group-clients">
                                            <label for="fullName" style="float:left">{{refer.contractor_name}} -  {{refer.contractor_position}}</label>
                                        </div>   
                                    </div>
                                </div>
                       </div>                                       
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-6 csf-width">
                        <div class="body-header-text">
                            DIFFERENTIATORS
                            <div style="border-top: 2px solid  #F0F0F0"></div>
                       </div>   
                       <div class="ul-class">
                        <ul>
                            <div v-for="diff in this.userFullDetails.company.differentiators" :key="diff" >
                                <li style="float:left;width:80%"> 
                                    {{ diff }}
                                </li>
                            </div>
                        </ul>
                       </div>                                            
                </div>
                    <div v-if="this.userData.company.government_designation" class="col-md-6 csf-width">
                        <div class="body-header-text">
                                Government Designation
                            <div style="border-top: 2px solid  #F0F0F0"></div>
                        </div>                   
                        <ul id="menu" v-for="(items) in this.userData.company.government_designation.governmentDesignation" :key="items">
                                <img class="rounded-circle government-logo" :src="require(`@/assets${items.url}`)" />
                                <span class="government-logo-text">{{items.department}}</span>
                        </ul>                                                                             
                    </div>    
                </div>
                <div class="row">
                    <div class="body-header-text">
                        CODES and CERTIFICATIONS
                        <div style="border-top: 2px solid  #F0F0F0"></div>
                    </div>                       
                </div>
                <div class="row">
                   <div class="col-md-6 codes-header-text">
                        DUNS NUMBER
                     <ul class="codes-body-text">
                        <li>
                            {{this.userFullDetails.company.duns_number}}
                        </li>
                    </ul>                   
                   </div>
                    <div class="col-md-6 codes-header-text">
                        CAGE CODE
                     <ul class="codes-body-text">
                        <li>
                            {{this.userFullDetails.company.cage_code}}
                        </li>
                    </ul>                   
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-6 codes-header-text">
                        NAICS CODES 
                     <ul class="codes-body-text">
                        <li v-for="naic in this.userFullDetails.company.naics_codes" :key="naic">
                            {{ naic }}
                        </li>
                    </ul>                   
                   </div>
                    <div class="col-md-6 codes-header-text">
                        CERTIFICATIONS
                        <ul class="codes-body-text">
                            <li v-for="cert in this.userFullDetails.company.certifications" :key="cert">
                                {{ cert }}
                            </li>      
                        </ul>                  
                   </div>
                </div>
        </div>
        <div class="bg">
            <div class="col-md-12 bg-backround" style="text-align:justify;padding:0%;height:8vh"> 
                <div class="row">
                    <div class="footer-right-container">
                        <p>Created at DBE Center</p>
                    </div>
                </div>
            </div> 
        </div>
        </div>
    </div>
    <div class="col-md-2 side-class">
    <!-- One of three columns -->

        <div class="box2 sb11">
            <button style="background-color: transparent; border: none;" @click="this.toggleUserShopModal=true">
                <div style="font-size:2.5vh">
                    View Shop
                    <svg style="padding-bottom:5%" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-shop-window" viewBox="0 0 16 16">
                        <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    </div>
            </button>
        </div>
        <div class="box3 ">
            <button style="background-color: transparent; border: none;" @click="makePDF">
                <div style="font-size:2.5vh">
                    Download PDF
                    </div>
            </button>
        </div>           
    <!-- view shop button -->      
    </div>
  </div>
</div>



<teleport to="#modals">
    <div v-if="toggleUserShopModal" class="modal-container">
        <div class="container">
            <div class="row gutters justify-content-center">
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                    <div class="card h-100">
                            <div class="company-header">
                                <h4 style="color:white;float:left">{{this.userFullDetails.company.name}} SHOPZONE</h4>
                                <h4 style="color:white;float:right">
                                    <svg style="padding-bottom:5%" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-shop-window" viewBox="0 0 16 16">
                                        <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z"/>
                                    </svg>
                                </h4>
                            </div>
                        <div class="card-body">
                            <div class="row gutters">

                                <div class="container mx-auto" style="max-width: 95%;">
                                    <!-- <div class="shopzone-title">
                                         Products
                                    </div> -->
                                    <div class="services-text">
                                        <table style="border:1px" class="table">
                                            <thead>
                                                <tr>
                                                <th scope="col">
                                                    <div class="tabs">
                                                        <a v-on:click="activetab=1" v-bind:class="[ activetab === 1 ? 'active' : '' ]">Products</a>
                                                        <a v-on:click="activetab=2" v-bind:class="[ activetab === 2 ? 'active' : '' ]">Services</a>
                                                    </div>
                                                </th>

                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div  v-if="activetab === 1"> 
                                        <div class="content-container">
                                            <!-- <product-items :productItems='productList'> </product-items> -->
                                            <div id="item-list"  >
                                                <div v-for="item in productList" :key="item.id" class="top-list" @click="handleClick(item)">
                                                    <div class="card">
                                                        <div class="category">
                                                            <img v-bind:src="this.image_url_path+item.item_image" class="img-fluid" style="height:20vh;width:100%" alt="...">
                                                        </div>
                                                        <div class="title">
                                                            {{ item.item_name }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div  v-if="activetab === 2"> 
                                        <div class="content-container">
                                            <!-- <product-items :productItems='productList'> </product-items> -->
                                            <div id="item-list"  >
                                                <div v-for="item in serviceList" :key="item.id" class="top-list" @click="handleClick2(item)">
                                                    <div class="card">
                                                        <div class="category">
                                                            <img v-bind:src="this.image_url_path+item.item_image" class="img-fluid" style="height:20vh;width:100%" alt="...">
                                                        </div>
                                                        <div class="title">
                                                            {{ item.item_name }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div> 

                            </div>
                            <div class="row gutters" style="padding-top:2%;text-align:right">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="text-right">
                                        <button class="btn btn-outline-danger waves-effect" @click="viewUserShopModal" data-dismiss="modal">return</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</teleport>

<!-- view shop button -->
</template>

<script>
import serviceItems from '@/views/web/shopzone/services/ServiceComponent'
import productItems from '@/views/web/shopzone/products/ProductComponent'
import { LeftOutlined, RightOutlined } from "@ant-design/icons-vue";
import { mapState } from 'vuex';
import html2canvas from 'html2canvas';
import jsPDF from 'jspdf';
export default {
    components:{
        LeftOutlined,
        RightOutlined,
        productItems,
        serviceItems
 
    },
     data(){
        return{
            toggleUserShopModal :false,
            activetab: 1,
            productList: [],
            serviceList: [],
            userFullDetails : []
        }
    },
    computed: {      
        ...mapState('DASHBOARD', {
                image_url_path: state => state.imageUrl,
                userData: state => state.userFullDetails,
            }
        ),
        userDetails() {
            return this.userData;
         },

    },
    created(){
        this.$store.dispatch('DASHBOARD/getUserFullDetails', this.$route.params.id);
    },
    methods:{
        makePDF(){
            var pdf = new jsPDF();
            var element = document.getElementById('content');

            html2canvas(element, {useCORS: true,allowTaint: true,}).then(canvas => {
                var image = canvas.toDataURL('image/png');
                pdf.addImage(image, 'JPEG', 0, -1, 210, 300);
                pdf.save(this.userFullDetails.company.name +' Capability Statement.pdf');
            });
        },
        viewUserShopModal(){
            this.toggleUserShopModal = !this.toggleUserShopModal
        },
        handleClick(item){
            if(!localStorage.getItem('isLoggedin')){
                alert('log in to view the full details')
            }else{
                 this.$router.push({ name: 'product-full-details', params: { item_id: item.id } })
            }
            // this.$store.dispatch('SHOPZONE/viewProductFullDetails', item)
        },       
        handleClick2(item){
            if(!localStorage.getItem('isLoggedin')){
                alert('log in to view the full details')
            }else{
                 this.$router.push({ name: 'service-full-details', params: { item_id: item.id } })
            }
            // this.$store.dispatch('SHOPZONE/viewProductFullDetails', item)
        }
    },
    watch:{
        userDetails: function(val){
            this.userFullDetails =  this.userDetails;
            this.userData.item.forEach(element => {
                if(element.category_id == 2){
                    this.productList.push(element);
                }else if(element.category_id == 1){
                    this.serviceList.push(element);
                }
            });
          }
    },
}
</script>

<style  lang="scss" scoped>
    .header-right-container{
        text-align:right;
        font-size: 20px;
        padding:2%;
    }

    .text-position{
        text-align:left;
        padding:4%;
    }

    .bg{
        background-image: url('./images/dbe-certified-small-business.png');
        background-repeat: no-repeat;
        background-size: cover;
        color:white;

    }   

    .bg-backround {
        padding: 1%;
        margin:0.1%;
        background: rgba(140, 0, 33, 0.158); 
    }

    .image-container{
        text-align: left;
    }

    .logo-text{
        font-size:50px;
        font-weight: 800;
        text-align: justify;
        padding-left:5%;
        /* padding-top:5%; */
        line-height: 60px;
    }

    .body-header-text{
        font-size:34px;
        font-weight: 1000;
        padding-top:5%
    }    
    
    .body-header-child-text{
        font-size:23px;
    }

    .ul-class{
        text-align:left;
        font-size:18px
    }
    .image-logo{
        width:50%;
        height:25vh;
        border-radius: 0;
    }
    .codes-header-text{
        font-size: 25px;
    }
    .codes-body-text{
        text-align:left;
        font-size:18px
    } 

    .main-class{
         box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    }

    .footer-right-container{
        text-align:right;
        font-size: 15px;
        padding-right:3%;
        padding-top:3%;
        color: #eceaeb7a;
    }

.box2 {
  width: 250px;
  border: 4px solid #DD1F4C;
  padding: 20px;
  text-align: center;
  float:right;
  font-weight: 900;
  color: #DD1F4C;
  font-family: arial;
  position: fixed;
  box-shadow: 4px 4px 5px #999;
}

.box3 {
  top: 29%;
  width: 250px;
  border: 4px solid #DD1F4C;
  padding: 20px;
  text-align: center;
  float:right;
  font-weight: 900;
  color: #DD1F4C;
  font-family: arial;
  position: fixed;
  box-shadow: 4px 4px 5px #999;
}


/* speech bubble 7 */

.sb11:before {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 10px solid #DD1F4C;
  border-right: 10px solid transparent;
  border-top: 10px solid #DD1F4C;
  border-bottom: 10px solid transparent;
  left: 20px;
  bottom: -23px;
}

.sb11:after {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 10px solid #fff;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  left: 24px;
  bottom: -13px;
}


// show company shop
.shopzone-title{
    text-align:left;
    padding-top:3%;
    font-size:2.8vh;
    color: #DD1F4C;
    font-weight: 800;
    width:100%;
}
.view-all{
    width:50%;
    color:#DD1F4C;
    font-size:2vh;
    font-weight: 300;
    margin-left: 79.5%;
}
.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    position: relative;

    .button-scroll-next,.button-scroll-prev {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
        border:0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .button-scroll-next:hover,.button-scroll-prev:hover{
        background-color: white;
    }

    .card.backred{
    background-color: red !important;
}
    
}

.company-header{
        background:#DD1F4C;
        height: 6vh;
        padding:1.5%;
        box-shadow: 0px 4px 17px #999;
    }
  .modal-container{
    position: fixed;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100%;
    width: 100%;
    top:0px;
    z-index:251;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .form-group2{
        line-height: 4vh;
    }
    .form-group-files{
        padding-top: 0% ;
    }
    .search-items{
    padding: 15px 10px;
    display: block;
    word-wrap: break-all;
    text-overflow: ellipsis;
    margin-left: -1%;
    width: 27.5%;
    height: 20vh;
    position: absolute;
    top:65.1vh;
    transform: translateX(4%);
    background-color:#ffffff;
    z-index:20;
    box-shadow: 3px 10px 38px 16px rgba(0,0,0,0.1);
    overflow: scroll;
    overflow-x: hidden;
    ul{
      li{
        text-decoration: none;
        list-style: none;
        display: flex;
        cursor: pointer;
      }:hover { 
        color: rgb(73, 163, 232); 
        cursor: pointer;
        }
    }
  }
  ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

   .category{
        height: 77%;
    }
    .title{
    font-size:2.5vh;
    font-weight: 500;
    padding-top:5%;
    text-align:center;
    }
    #item-list{
        width: 100%;
        height: 53vh;
        overflow-x:scroll;
        gap:10px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
         scroll-behavior: smooth;
       .top-list{
           cursor: pointer;
            .card {
            width: 32%; 
            margin-bottom: 2%;
            margin-right: 1%;
            height: 25vh;
            float: left;
        }
       }
    }
    #item-list::-webkit-scrollbar{
        display: none;
    }
    .services-text{
        text-align: left;
        font-size: 1.5vh;
        font-weight: bold;
    }
            /* Style the tabs */
    .tabs {
        overflow: hidden;
        margin-bottom: -2px; // hide bottom border
    }

    .tabs ul {
        list-style-type: none;
        margin-left: 20px;
    }

    .tabs a{
        float: left;
        cursor: pointer;
        padding: 12px 24px;
        transition: background-color 0.2s;
        border: 1px solid #ccc;
        border-right: none;
        background-color: #f1f1f1;
        border-radius: 10px 10px 0 0;
        font-weight: bold;
    }
    .tabs a:last-child { 
        border-right: 1px solid #ccc;
    }

    /* Change background color of tabs on hover */
    .tabs a:hover {
        background-color: #aaa;
        color: #fff;
    }

    /* Styling for active tab */
    .tabs a.active {
        background-color: #DD1F4C;;
        color: #fff;
        border-bottom: 2px solid #fff;
        cursor: default;
    }


    @media (max-width:1024px) {
    .image-logo {
        width: 60%;
        height: 25vh;
        }
      .side-class{
            width:0%
        }            
        .main-class{
            width:100%
        }            
    }  
    
    @media (max-width:768px) {
        .container-fluid{
            width: 100%;
        }
        .csf-width {
            width: 100%;
            }
        .image-logo {
            width: 65%;
            height: 20vh;
            }
        .logo-text {
            font-size: 35px;
            font-weight: 800;
            text-align: justify;
            padding-left: 5%;
            line-height: 45px;
        }        
        .header-right-container {
            text-align: right;
            font-size: 15px;
        }    
        .body-header-text {
            font-size: 25px;
            font-weight: 1000;
            padding-top: 5%;
        }    
        .body-header-child-text {
            font-size: 15px;
        }        
        .ul-class {
            text-align: left;
            font-size: 15px;
        }    
        .side-class{
            width:0%
        }            
        .main-class{
            width:100%
        }    
        .codes-body-text{
            text-align:left;
            font-size:15px;
            padding-left: 7%;
        }   
        .codes-header-text{
            font-size: 18px;
        }                
    }     
    
    @media (max-width:425px) {
        .container-fluid{
            width: 100%;
        }
        .csf-width {
            width: 100%;
            }
        .image-logo {
            width: 65%;
            height: 20vh;
            }
        .image-container{
            text-align: center;
        }
        .logo-text {
            padding-left: 28%;
            padding-bottom: 5%;
        }        
        .header-right-container {
            text-align: right;
            font-size: 15px;
        }    
        .body-header-text {
            font-size: 20px;
            font-weight: 1000;
            padding-top: 5%;
        }    
        .body-header-child-text {
            font-size: 15px;
        }        
        .ul-class {
            text-align: left;
            font-size: 15px;
        }    
        .side-class{
            width:0%
        }            
        .main-class{
            width:100%
        }    
        .codes-body-text{
            text-align:left;
            font-size:13px;
            padding-left: 7%;
        }

        .codes-header-text{
            font-size: 20px;
        }        
    }      

    .government-logo{
    width: 120px;
    height: 110px;
      margin: 10px 0 0 0;        
        // border: 3px solid #DD1F4C  
    }

    .government-logo-text{
      font-size:15px;
      padding-left:20px;
    }    
</style>