
<template>
<div class="dbe-container">
    <header>
        <div class="container-fluid gx-0">
            <div v-if="this.userData.role">
                <div class="row">
                    <div class="col-md-12">
                            <div class="dashboard-background-image"> </div>
                    </div>
                </div>      
                <div class="row">
                    <div class="col-md-12">
                        <div class="dashboard-logo-container">
                            <div v-if="this.userData.company.logo">
                                <div class="dashboard-logo">
                                    <img v-bind:src="this.image_url_path+this.userData.company.logo" class="rounded-circle image-log" alt="...">
                                </div>
                                <div class="col-md-12" style="margin-inline:auto">
                                    <div class="logo-text-first">{{this.userData.company.name}}</div>
                                    <div  class="logo-text-second">{{this.userData.type}}</div>
                                </div>
                            </div>
                            <div v-else>
                                <div class="dashboard-logo">
                                <img  class="rounded-circle image-log" :src="require(`@/assets/DBECENTER-logo.png`)" />
                                </div>
                                <div class="col-md-12" style="margin-inline:auto">
                                    <p class="company-logo-text">Update Company Logo</p>
                                </div>                            
                            </div>   
                        </div>  
                    </div>                    
                </div>          
            </div>

            <!-- if user role is Vendor -->
            <div v-if="this.userData.role == 'VENDOR'">
                <div v-if="this.userData.company.government_designation">
                <div v-if="this.userData.company.government_designation != ''  && this.userData.company.government_designation.governmentDesignation != '' " class="row" style="padding: 8% 0 0 0">
                    <div class="col">
                        <div class="row" style="padding-bottom: 100px;">
                                <ul id="menu">
                                    <li v-for="(items) in this.userData.company.government_designation.governmentDesignation" :key="items">
                                        <!-- @/assets/logo   -->
                                         <img class="rounded-circle government-logo" :src="require(`@/assets${items.url}`)" />
                                         <span>{{items.department}}</span>
                                    </li>
                                </ul>  
                        </div>
                    </div>                 
                </div>
                <div v-else style="margin-top:8%">

                </div>                    
                </div>
                <div v-else style="margin-top:8%">

                </div>  
                <vendor-profile></vendor-profile>
                <vendor-service></vendor-service>
            </div>
            <!--  -->        

            <!-- if user role is contractor -->
            <div v-else-if="this.userData.role == 'CONTRACTOR'">
                <contractor-profile></contractor-profile>
                <contractor-contract></contractor-contract>
            </div>
            <!--  -->             
        </div>



        <!-- <comment-rating></comment-rating> -->
    </header>

  </div>
</template>

<script>
import { mapState } from "vuex";
import bottomNav from '@/components/bottomNav.vue';
import VendorProfile from '@/views/dashboard/vendorprofile/VendorProfile.vue';
import VendorService from '@/views/dashboard/vendorprofile/VendorService.vue';
// import CommentRating from '@/views/web/shopzone/services/fulldetails/shopZoneCommentRatings.vue';
import ContractorProfile from '@/views/dashboard/contractorprofile/ContractorProfile.vue';
import ContractorContract from '@/views/dashboard/contractorprofile/ContractorContract.vue';
import StarRating from 'vue-star-rating'

export default{
        components: {
        
                bottomNav,
            VendorProfile,
            VendorService,
            ContractorProfile,
            ContractorContract,
            StarRating
            // CommentRating
        },
       data(){
       return{
            typeSelected: '',
            userRole: '',
       }
   },
    computed: {
        ...mapState('DASHBOARD', {
            userData: state => state.user,
            image_url_path: state => state.imageUrl,
        })
    },
    beforeCreate(){
        this.$store.dispatch('DASHBOARD/getUserData');
    },
    created(){
        if(!localStorage.getItem('isLoggedin')){
            window.location.replace("/#/login")
        }
    },
    watch:{
        userData(){
            console.log('change in data')
        }
    },
    methods:{
        home(){
            window.location.replace("/#/home")
        },
        async logout(){
            await this.$store.dispatch('USERAUTH/logoutUser')
        }
    }
}
</script>


<style  lang="scss" scoped>
    .dashboard-background-image{
        background-image: url('images/dbe.png');
        background-repeat: no-repeat;
        height: 200px;
        width: 100%;
        background-size: cover;
    }        

    .dashboard-logo-container{
        width: 100%;
        z-index:150;
        position:absolute;
        top: 270px;
    }

    .dashboard-logo{
        margin-inline: auto;
        width: 150px; 
        background: rgb(255, 255, 255);
        border-radius: 50%;
        height: 140px;
        border: 6px solid #FFFFFF       
    }
    .image-log{
        height: 100%;
        width: 100%;
    }    
    .government-logo-container{
        width: 115px;
        height: 100px;
    }
    .government-logo{
        width: 115px;
        height: 100px;
        margin: 0 0.5%;        
        // border: 3px solid #DD1F4C  
    }
    .logo-text-first{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
    }    
    .logo-text-second{
        color: #DD1F4C;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
    }

    .government-logo-text{
      font-weight: 300;
      font-size: 20px;
    }
    ul#menu li {
        display:inline;
    }

    li {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 1em;
    margin: 0 1em;
    display: inline-block;
    position: relative;
    }

    li > span { 
    position: absolute;
        top: 5em;
        left: 5px;
        line-height: 151%;
    }    
</style>

    
