<template>
        <div class="floating-grid-container">
            <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="floating-cardss">
                    <div class="floating-cards-container">
                   
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-6">
                <div class="floating-cardss">
                    <div class="floating-cards-container" style="padding: 5.5%;">
                        <div class="floating-cards-title"><b>DBE General Assesment</b> 
                            <button style="float: right;background-color: transparent;border:none" @click.prevent="this.togglecompanyProfileModal =true;CompanyData(this.userData)">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                </svg>
                            </button>
                        </div>
                        <div class="profile-information2" style="float:left;width:50%">
                            <p>Company Title : {{this.userData.company.name}}</p> 
                            <p>Website : {{this.userData.company.address2}}</p> 
                            <p>Address : {{ this.userData.company.address1 }} {{ this.userData.company.city }} {{ this.userData.company.region }} {{ this.userData.company.zipcode }} {{ this.userData.company.country }} </p>
                            <p>Mobile Phone :  {{this.userData.company.telephone}}</p>
                            <p>Naics Code :  
                                <ul style="font-size:1.5vh" >
                                    <li v-for="naic in this.userData.company.naics_codes" :key="naic">
                                        {{ naic }}
                                    </li>
                                </ul>
                            </p>
                            <p>Duns Number : {{this.userData.company.duns_number}}</p> 
                            <p>Cage Code : {{this.userData.company.cage_code}}</p> 
                            <!-- <p>Email :  </p>
                            <p>Website :  </p>
                            <p>Marketing Video URL : </p> -->
                        </div>
                            <div style="width:50%;float:left;margin-top:12px;padding-left:5%;padding-right:1%;text"> 
                            <div class="image-modal">
                            <div class="image"  style="height:20vh">
                                <div  v-if="this.userData.company.logo"> 
                                      <img v-bind:src="this.image_url_path+this.userData.company.logo" class="img-fluid" style="width:85%;height:20vh;border-radius: 0;" alt="...">
                                </div>
                                <!-- <p>Company Logo : {{ this.userData.company.social }} </p> -->
                            </div>
                            </div>
                            <div style="border-top: 1px solid  #F0F0F0"></div>
                            <div class="profile-information" style="padding-bottom:2%;">
                                Company Overview :  {{this.userData.company.description}}<br>
                            <p style="font-weight:300;overflow: hidden;height: 9vh;"> </p>
                            <!-- <p>Email : {{ this.userData.social }} </p> -->
                            </div>
                        </div>
                        <!-- <div class="row" style="text-align:left">
                        <div style="border-top: 1px solid  #F0F0F0;padding-bottom:2%"></div>
                            <p><b>EMPLOYERS :</b></p> 
                            <div style="padding-left:13%"> 
                                <div style="width:40%;float:left">
                                    <p> Name : </p> 
                                </div>
                                <div style="width:40%;float:left">
                                    <p>Contact Number : </p> 
                            </div>
                            </div>

                        </div> -->
                        </div>
                </div>
                
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="floating-cardss">
                    <div class="floating-cards-container">
                        <div class="floating-cards-title"><b>Conversations</b> </div>
                            <div class="conversations-card">
                                <div class="image-container">
                                    <img class="img-icon" src="https://cdn4.iconfinder.com/data/icons/circle-avatars-1/128/050_girl_avatar_profile_woman_suit_student_officer-2-512.png">
                                </div>
                                <div class="details">
                                <div class="details-names">Sophie B.</div>
                                <div class="details-desc">Hi! I need more information…</div>
                                </div>
                                <button type="button" class="btn btn-white" style="color: #CB0C9F;font-weight: bold;">VIEW</button>
                            </div>

                    </div>
                </div>
            </div>
            </div>

            <div class="row gx-0" style="padding-top:5%">
                <div class="col-lg-4 col-md-6">
                    <div class="floating-cards2">
                        <div class="company-header">
                            <h4 style="color:white;">Differentiators</h4>
                        </div>
                        <div class="floating-cards-container">
                            <div class="form-group-files">
                                <ul id="example-1" style="text-align:left;font-size:1.8vh" >
                                    <div  v-for="(diff,index) in this.companyDetail.differentiators" :key="diff" >
                                        <li style="float:left;width:80%;padding-top:1%"> 
                                            {{ diff }}
                                        </li>
                                        <div style="float:right;width:20%;text;padding-left: 3%;">
                                        <button style="background-color: transparent;border:none;color:#DD1F4C;width: 100%;" @click="delete_differentiators(index)">
                                         <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                         </svg>
                                        </button>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                            <div class="form-group-files">
                                <input  type="text" class="form-control" placeholder="Add Differentiatiors" style="float:left;width:80%" v-model="this.differentiators_data">
                                <div style="float:right;width:20%;">
                                    <button style="background-color: transparent;border:none;width:8%;color:#DD1F4C" @click="add_differentiators(this.differentiators_data)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="floating-cards2">
                        <div class="company-header">
                            <h4 style="color:white;">Core Competencies</h4>
                        </div>
                        <div class="floating-cards-container">
                            <div class="form-group-files">
                                <ul id="example-1" style="text-align:left;font-size:1.8vh" >
                                    <div  v-for="(capp,index) in this.companyDetail.capabilities" :key="capp" >
                                        <li style="float:left;width:80%;padding-top:1%"> 
                                            {{ capp }}
                                        </li>
                                        <div style="float:right;width:20%;text;padding-left: 3%;">
                                        <button style="background-color: transparent;border:none;color:#DD1F4C;width: 100%;" @click="delete_capabilities(index)">
                                         <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                         </svg>
                                        </button>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                            <div class="form-group-files">
                                <input  type="text" class="form-control" placeholder="Add  Core Competencies" style="float:left;width:80%" v-model="this.capabilities_data" >
                                <div style="float:right;width:20%;">
                                    <button style="background-color: transparent;border:none;width:8%;color:#DD1F4C" @click="add_capabilities(this.capabilities_data)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="floating-cards2">
                        <div class="company-header">
                            <h4 style="color:white;">Served Clients </h4>
                        </div>
                        <div class="floating-cards-container">
                            <div class="row" style="padding-bottom:5%;width:100%">
                                    <button style="width:30%;font-size:1.3vh;margin-left:70%" class="btn btn-outline-danger waves-effect" @click="addServedClientModal" data-dismiss="modal">+ Served Clients</button>
                            </div>
                            <div v-for="(refer,index) in this.companyDetail.references" :key="refer" >
                            <div class="row gutters" style="padding-bottom:5%">
                                <div class="row" style="color: #DD1F4C;"> 
                                    <div class="form-group2" style="width:50%;float:left;padding-right:1%">
                                    <label for="fullName" style="float:left"><b>{{refer.company_name}} </b></label>
                                    </div>
                                <div class="form-group2" style="width:50%;float:right;padding-left:1%">
                                    <!-- <button style="float: right;background-color: transparent;border: none;padding-left:5%"  @click="this.toggleDeleteServecClientmModal =true"> -->
                                    <button style="float: right;background-color: transparent;border: none;padding-left:5%"  @click="delete_references(index)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </button>
                                    <button style="float: right;background-color: transparent;border:none"  @click.prevent="this.toggleUpdateServedClientModal =true">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                        </svg>
                                    </button>
                                </div>
                                </div>
                                <div style="border-top: 2px solid  #F0F0F0"></div>
                                <div class="form-group-clients">
                                    <label for="fullName" style="float:left">{{refer.contract_number}}</label>
                                </div>
                                <div class="form-group-clients">
                                    <label for="fullName" style="float:left;">From :{{refer.from}} To :  {{refer.to}} </label>
                                </div>
                                <div class="form-group-clients">
                                    <label for="fullName" style="float:left">{{refer.service_offered}}</label>
                                </div>
                                <div class="form-group-clients">
                                    <label for="fullName" style="float:left">{{refer.contractor_name}} -  {{refer.contractor_position}}</label>
                                </div>   
                          </div>

                            
                            <!-- delete Served Clients -->
                            <!-- <teleport to="#modals">
                                <div v-if="toggleDeleteServecClientmModal" class="modal-container">
                                    <div class='delete-modal-card-container' style="width:20%">
                                        <div class="modal-form" style="padding:5%">
                                            <div class="row mb-3">
                                                <input type="hidden" > 
                                                    <h5 style="float:left;width:100%;padding-top:15%;text-align:center">Delete this Served Clients?</h5>
                                            </div>
                                            <div style="text-align: center;" class="modal-button">
                                                <button style="width:25%" type="button"  class="btn btn-outline-danger" @click="delete_references(index)">YES</button>
                                                <button style="width:25%;margin-left:5%" @click="deleteServedClientModal" type="button" class="btn btn-outline-primary">NO</button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            </teleport> -->
                            <!-- delete Served Clients -->

                            </div>

                        <!-- <div class="row gutters">
                            <div class="form-group-clients" tyle="padding-bottom:5%">
                                <label for="fullName" style="float:left"> <b>Bureau of Trade</b></label>
                            </div>
                            <div style="border-top: 2px solid  #F0F0F0"></div>
                            <div class="form-group-clients">
                                <label for="fullName" style="float:left">Contract XA12XY1 </label>
                            </div>
                            <div class="form-group-clients">
                                <label for="fullName" style="float:left;">May 19, 2021 to January 21, 2022 </label>
                            </div>
                            <div class="form-group-clients">
                                <label for="fullName" style="float:left">Consulting Service</label>
                            </div>
                            <div class="form-group-clients">
                                <label for="fullName" style="float:left">Contractor Office -  John Doe</label>
                            </div>   
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <teleport to="#modals">
            <div v-if="toggleUpdateUserModal" class="modal-container">
                <div class="container">
                    <div class="row gutters">
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="account-settings">
                                        <div class="user-profile">
                                            <div class="user-avatar">
                                                <!-- <img style="width:100%;height:100%;border-radius: 12px;" v-bind:src="this.userData.profile_image" class="img-thumbnail" alt="...">
                                                <input type="file" style="width:80%;margin-left:20%;" id="myFile" name="filename"> -->
                                                        <div class="image">
                                                            <div style="height:25vh;width:100%;border:1px solid black;border-radius: 12px;" >
                                                                <div v-if="this.userDetail.profile_picture">
                                                                 <!-- <img style="width:100%;height:15vh;" v-if="url" :src="this.companyDetail.logo" /> -->
                                                                   <img style="width:100%;height:25vh;border-radius: 12px;" :src="this.userDetail.profile_picture" />
                                                                </div>
                                                            </div>
                                                            <input style="width:100%;padding-top:5%" type="file" @change="onChangeProfilePic" />
                                                        </div>
                                            </div>
                                        </div>
                                        <div class="about">
                                        <textarea style="height: 130px;" class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="this.userDetail.address2" placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                    <div class="company-header">
                                        <h4 style="color:white;float:left">User Profile</h4>
                                        <h4 style="color:white;float:right">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                            </svg>
                                        </h4>
                                    </div>
                                <div class="card-body">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h6 class="mb-2 text-primary">Personal Details</h6>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding-bottom:2%">
                                            <div class="form-group" style="width:50%;float:left;padding-right:1%">
                                                <label for="fullName">First Name</label>
                                                <input type="text" class="form-control" v-model="this.userDetail.firstname" placeholder="Enter First name">
                                            </div>
                                                <div class="form-group" style="width:50%;float:right;padding-left:1%">
                                                <label for="fullName">Last Name</label>
                                                <input type="text" class="form-control" v-model="this.userDetail.lastname" placeholder="Enter Last name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" >
                                            <div class="form-group" style="width:50%;float:left;padding-right:1%">
                                                <label for="website">Address</label>
                                                <input type="url" class="form-control" id="website" v-model="this.userDetail.address1" placeholder="Enter Address">
                                            </div>
                                            <div class="form-group" style="width:50%;float:right;padding-left:1%">
                                                <label for="fullName">City</label>
                                                <input type="text" class="form-control" v-model="this.userDetail.city" placeholder="Enter City">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input type="text" class="form-control" id="phone" v-model="this.userDetail.telephone" placeholder="Enter phone number">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group" style="width:33%;float:left;padding-right:1%">
                                                <label for="fullName">Region</label>
                                                <input type="text" class="form-control" v-model="this.userDetail.region" placeholder="Enter Region">
                                            </div>
                                            <div class="form-group" style="width:33%;float:left">
                                                <label for="fullName">Zipcode</label>
                                                <input type="text" class="form-control" v-model="this.userDetail.zipcode" placeholder="Enter zipcode">
                                            </div>
                                            <div class="form-group" style="width:33%;float:right">
                                                <label for="fullName">Country</label>
                                                <input type="text" class="form-control" v-model="this.userDetail.country" placeholder="Enter Country">
                                            </div>                                            
                                        </div>
                                    </div>
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h6 class="mt-3 mb-2 text-primary">Account Settings</h6>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding-bottom:2%">
                                        <div class="form-group">
                                            <label for="ciTy">Username</label>
                                            <input type="name" class="form-control" id="ciTy"  v-model="this.userDetail.username"  placeholder="Enter Username">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                        <label for="eMail">Email</label>
                                        <input type="email" class="form-control" v-model="this.userDetail.email" placeholder="Enter email ID" readonly>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="sTate">Password</label>
                                            <input type="password" class="form-control" id="sTate" v-model="this.userDetail.password">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="zIp">Confirm Password</label>
                                            <input type="password" class="form-control" id="zIp" v-model="this.userDetail.password_confirmation">
                                        </div>
                                    </div>
                                </div>
                                    <div class="row gutters" style="padding-top:2%;text-align:right">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="text-right">
                                                <button style="margin-right:2%" type="button" id="submit" name="submit" class="btn btn-danger" @click="updateUserProfile()">Update</button>
                                                <button class="btn btn-outline-danger waves-effect" @click="updateUserModal" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </teleport>

        <teleport to="#modals">
            <div v-if="togglecompanyProfileModal" class="modal-container">
                <div class="container">
                    <div class="row gutters justify-content-center">
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                            <div class="card h-100">
                                    <div class="company-header">
                                        <h4 style="color:white;float:left">Company Profile</h4>
                                        <h4 style="color:white;float:right">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                                            <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                                            </svg>
                                        </h4>
                                    </div>
                                <div class="card-body">
                                    <div class="row gutters">
                                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12" style="padding-bottom:2%">
                                            <div class="form-group2">
                                                <label for="fullName">Company Title</label>
                                                <input type="text" class="form-control" v-model="this.companyDetail.name" placeholder="Enter full name">
                                            </div>
                                            <div class="form-group2">
                                                <label for="fullName">Website</label>
                                                <input type="text" class="form-control" v-model="this.companyDetail.address2" placeholder="Enter Company Website">
                                            </div>
                                            <div class="form-group2">
                                                <div class="form-group" style="width:50%;float:left;padding-right:1%">
                                                <label for="website">Address</label>
                                                <input type="url" class="form-control" id="website" v-model="this.companyDetail.address1" placeholder="Enter Address">
                                            </div>
                                            <div class="form-group" style="width:50%;float:right;padding-left:1%">
                                                <label for="fullName">City</label>
                                                <input type="text" class="form-control" v-model="this.companyDetail.city" placeholder="Enter City">
                                            </div>
                                            </div>
                                            <div class="form-group2">
                                                <div class="form-group" style="width:33%;float:left;padding-right:1%">
                                                    <label for="fullName">Region</label>
                                                    <input type="text" class="form-control" v-model="this.companyDetail.region" placeholder="Enter Region">
                                                </div>
                                                <div class="form-group" style="width:33%;float:left">
                                                    <label for="fullName">Zipcode</label>
                                                    <input type="text" class="form-control" v-model="this.companyDetail.zipcode" placeholder="Enter zipcode">
                                                </div>
                                                <div class="form-group" style="width:33%;float:right">
                                                    <label for="fullName">Country</label>
                                                    <input type="text" class="form-control" v-model="this.companyDetail.country" placeholder="Enter Country">
                                                </div>     
                                            </div>
                                            <div class="form-group2">
                                                <label for="fullName">Mobile Phone </label>
                                                <input type="text" class="form-control" v-model="this.companyDetail.telephone" placeholder="Enter Mobile Number">
                                            </div>
                                            <div class="form-group2">
                                                <div class="form-group2"  style="width:50%;float:left;padding-right:1%">
                                                    <label for="fullName">Duns Number </label>
                                                    <input type="text" class="form-control" v-model="this.companyDetail.duns_number" placeholder="Enter Duns Number">
                                                </div>                                            
                                                <div class="form-group2" style="width:50%;float:right;padding-left:1%">
                                                    <label for="fullName">Cage Code </label>
                                                    <input type="text" class="form-control" v-model="this.companyDetail.cage_code" placeholder="Enter Cage Code">
                                                </div>
                                            </div>

                                            <div class="form-group2" style="padding-bottom:5%" @click="isDirty=false">
                                                <label for="fullName">Naics Code </label>
                                                  <div class="form-group" >
                                                        <input style="width: 50%;;float:left;margin-right:2%" v-model="searchValue" type="text"
                                                        @input.self="handleSearch(searchValue)"
                                                        class="form-control input-outline search-input-text" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" maxlength="50" @keyup.enter="searchWithParams(this.searchValue)" />
                                                        <div v-if="isDirty" class="search-items" >
                                                            <ul style="padding-left:0.5%" v-for="(items,index) in filterSearch" :key="index">
                                                                <!-- <li @click="searchWithParams(items)">{{items}}</li> -->
                                                                <li @click="array_push(this.naicCodes[index])">{{items}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <button  class="btn btn-dark h-100 search-btn-icon " type="button" id="button-addon2" @click="searchWithParams(this.searchValue);" >
                                                    <SearchOutlined class="py-1"/>
                                                    </button>
                                            </div>     
                                         
                                             <div class="form-group2" style="line-height: 2vh">
                                                    <ul style="font-size:1.8vh">
                                                        <li v-for="(naic,index) in this.userData.company.naics_codes" :key="naic">
                                                            {{ naic }}
                                                            <button style="background-color: transparent;border:none;width:8%;color:#DD1F4C" @click="remove_array(index)">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-x" viewBox="0 0 16 16">
                                                            <path d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
                                                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                                            </svg>
                                                        </button>
                                                        </li>
                                                    </ul>
                                            </div>   
                                        </div>
                                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-12" >
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="float:left">
                                                <p></p>
                                            </div>                                                
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="float:left;padding-top:2%;">
                                                <label for="fullName" style="padding-bottom:2%">Company Logo </label>
                                                    <div class="image-modal">
                                                        <div class="image">
                                                            <div style="height:15vh;width:100%;border:1px solid black;" >
                                                                 <!-- <img style="width:100%;height:15vh;" v-if="url" :src="this.companyDetail.logo" /> -->
                                                                 <img style="width:100%;height:15vh;" :src="this.companyDetail.logo" />
                                                            </div>
                                                            <input style="width:100%;padding-top:5%" type="file" @change="onFileChange" />
                                                        </div>
                                                    </div>
                                            </div>                                                      
                                            <div class="form-group2">
                                                <label for="fullName"  style="padding-top:4%;">Company Overview  </label>
                                                <textarea type="text" class="form-control" v-model="this.companyDetail.description" placeholder="Enter Description" rows="5"> </textarea>
                                            </div>  
                                            <!-- <div class="form-group" aria-selected="padding-bottom:0%">
                                                <div class="row" style="padding-top:9%">
                                                <p><b>EMPLOYERS </b></p> 
                                                <div style="width:45%;float:left;">
                                                    <p>Employer Name </p> 
                                                    <input type="text" class="form-control" placeholder="Enter full name">
                                                </div>
                                                <div style="width:45%;float:left;padding-left:5%">
                                                    <p>Mobile Number </p> 
                                                    <input type="text" class="form-control" placeholder="Enter Mobile Number">
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-top:2%;padding-left:82%">
                                                    <button style="background-color: transparent;border:none;width:8%;color:#DD1F4C">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>   -->
                                        </div>
                                    </div>
                                    <div class="row gutters" style="padding-top:2%;text-align:right">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="text-right">
                                                <button style="margin-right:2%" type="button" id="submit" name="submit" class="btn btn-danger" @click="updateCompanyProfile">Update</button>
                                                <button class="btn btn-outline-danger waves-effect" @click="updateCompanyProfileModal" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </teleport>

        <teleport to="#modals">
            <div v-if="toggleServedClientModal" class="modal-container">
                <div class="container">
                    <div class="row gutters justify-content-center">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                            <div class="card h-100">
                                    <div class="company-header">
                                        <h4 style="color:white;float:left">Served Clients</h4>
                                        <h4 style="color:white;float:right">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                                            <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                                            </svg>
                                        </h4>
                                    </div>
                                <div class="card-body">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-bottom:2%">
                                            <div class="form-group2">
                                                <label for="fullName">Company Name</label>
                                                <input type="text" class="form-control" v-model="this.setClient.company_name" placeholder="Enter Company name">
                                            </div>
                                            <div class="form-group2">
                                                <label for="fullName">Contract No.</label>
                                                <input type="text" class="form-control" v-model="this.setClient.contract_number" placeholder="Enter Contract Num">
                                            </div>
                                            <div class="row"> 
                                                <div class="form-group2" style="width:50%;float:left;padding-right:1%">
                                                    <label for="fullName">From </label>
                                                    <input type="date" class="form-control" v-model="this.setClient.from">
                                                </div>
                                                <div class="form-group2" style="width:50%;float:right;padding-left:1%">
                                                    <label for="fullName">To </label>
                                                    <input type="date" class="form-control" v-model="this.setClient.to">
                                                </div>
                                            </div>
                                            <div class="form-group2">
                                                <label for="fullName">Service</label>
                                                <input type="text" class="form-control" placeholder="Enter Service offered name" v-model="this.setClient.service_offered">
                                            </div>
                                                <div class="row"> 
                                                <div class="form-group2" style="width:50%;float:left;padding-right:1%">
                                                    <label for="fullName">Contractor Name </label>
                                                    <input type="text" class="form-control" placeholder="Enter Contractor name" v-model="this.setClient.contractor_name">
                                                </div>
                                                <div class="form-group2"  style="width:50%;float:right;padding-left:1%">
                                                    <label for="fullName">Contractor Position </label>
                                                    <input type="text" class="form-control" placeholder="Enter Position name" v-model="this.setClient.contractor_position">
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gutters" style="padding-top:2%;text-align:right">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="text-right">
                                                <button style="margin-right:2%" type="button" id="submit" name="submit" class="btn btn-danger" @click="add_references(this.setClient)">Add</button>
                                                <button class="btn btn-outline-danger waves-effect" @click="addServedClientModal" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </teleport>

        <teleport to="#modals">
            <div v-if="toggleUpdateServedClientModal" class="modal-container">
                <div class="container">
                    <div class="row gutters justify-content-center">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                            <div class="card h-100">
                                    <div class="company-header">
                                        <h4 style="color:white;float:left">Update Served Clients</h4>
                                        <h4 style="color:white;float:right">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                                            <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                                            </svg>
                                        </h4>
                                    </div>
                                <div class="card-body">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-bottom:2%">
                                            <div class="form-group2">
                                                <label for="fullName">Company Name</label>
                                                <input type="text" class="form-control" placeholder="Enter Company name">
                                            </div>
                                            <div class="form-group2">
                                                <label for="fullName">Contract No.</label>
                                                <input type="text" class="form-control" placeholder="Enter full name">
                                            </div>
                                            <div class="row"> 
                                                <div class="form-group2" style="width:50%;float:left;padding-right:1%">
                                                    <label for="fullName">From </label>
                                                    <input type="date" class="form-control">
                                                </div>
                                                <div class="form-group2" style="width:50%;float:right;padding-left:1%">
                                                    <label for="fullName">To </label>
                                                    <input type="date" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group2">
                                                <label for="fullName">Service</label>
                                                <input type="text" class="form-control" placeholder="Enter Service offered name">
                                            </div>
                                                <div class="row"> 
                                                <div class="form-group2" style="width:50%;float:left;padding-right:1%">
                                                    <label for="fullName">Contractor Name </label>
                                                    <input type="text" class="form-control" placeholder="Enter Contractor name">
                                                </div>
                                                <div class="form-group2"  style="width:50%;float:right;padding-left:1%">
                                                    <label for="fullName">Contractor Position </label>
                                                    <input type="text" class="form-control" placeholder="Enter Position name">
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gutters" style="padding-top:2%;text-align:right">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="text-right">
                                                <button style="margin-right:2%" type="button" id="submit" name="submit" class="btn btn-danger">Update</button>
                                                <button class="btn btn-outline-danger waves-effect" @click="updateServedClientModal" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </teleport>

        <!-- delete Served Clients -->
        <teleport to="#modals">
            <div v-if="toggleDeleteServecClientmModal" class="modal-container">
                <div class='delete-modal-card-container' style="width:20%">
                    <div class="modal-form" style="padding:5%">
                        <div class="row mb-3">
                            <input type="hidden" > 
                                <h5 style="float:left;width:100%;padding-top:15%;text-align:center">Delete this Served Clients?</h5>
                        </div>
                        <div style="text-align: center;" class="modal-button">
                            <button style="width:25%" type="button"  class="btn btn-outline-danger">YES</button>
                            <button style="width:25%;margin-left:5%" @click="deleteServedClientModal" type="button" class="btn btn-outline-primary">NO</button>
                        </div>
                </div>
            </div>
        </div>
        </teleport>
        <!-- delete Served Clients -->

</template>

<script>
import { mapState } from "vuex";
import StarRating from 'vue-star-rating'
import { SearchOutlined, UserOutlined, ShoppingCartOutlined } from "@ant-design/icons-vue";
export default {
    data(){
        return{
            searchValue:'',
            isDirty:false,
            suggestedValues: [],
            url: null,
            userDetail : {
                username              : '',
                email                 : '',
                type                  : '',
                firstname             : '',
                middlename            : '',
                lastname              : '',
                profile_picture       : '',
                telephone             : '',
                address1              : '',
                address2              : '',
                city                  : '',
                region                : '',
                country               : '',
                zipcode               : '',
                role                  : '',
                password              : '',
                password_confirmation : ''
            },            
            companyDetail : {
                name            : '',
                logo            : '',
                description     : '',
                telephone       : '',
                address1        : '',
                address2        : '',
                city            : '',
                region          : '',
                country         : '',
                zipcode         : '',
                duns_number     : '',
                cage_code       : '',
                naics_codes     : [],
                differentiators : [],
                capabilities    : [],
                references      : []
            },
            setClient: {
                company_name         : '',
                contract_number      : '',
                from                 : '',
                to                   : '',
                service_offered      : '',
                contractor_name      : '',
                contractor_position  : ''
            },
            company_naics                  : '',
            differentiators_data           : '',
            capabilities_data              : '',
            references_data                : [],
            toggleUpdateUserModal          : false,
            togglecompanyProfileModal      : false,
            toggleServedClientModal        : false,
            toggleUpdateServedClientModal  : false,
            toggleDeleteServecClientmModal : false,

        }
    },
    components:{
         SearchOutlined,
         StarRating
    }, computed: {
        ...mapState('DASHBOARD', {
            userData: state => state.user,
            image_url_path: state => state.imageUrl,
        }),
        ...mapState('CART', {
            searchNaicCodeList: state => state.searchNaicCodeList,
            searchNaicCodeDescList: state => state.searchNaicCodeDescList,
            searchNaicCodeandDescList: state => state.searchNaicCodeandDescList,
        }),
        naicCodes() {
            return this.searchNaicCodeList
        },       
        naicCodesDesc() {
            return this.searchNaicCodeDescList
        },      
        naicCodesandDesc() {
            return this.searchNaicCodeandDescList
        },
        filterSearch(){
          if (this.searchValue.length >= 3) {
                    // console.log('test');
                    return this.naicCodesandDesc;    
             }
          }
    }, 
    created(){
        // this.$store.dispatch('CART/noParamsNaicsCode');
        this.companyDetail.differentiators = (this.userData.company.differentiators) ? this.userData.company.differentiators : []
        this.companyDetail.capabilities    = (this.userData.company.capabilities) ? this.userData.company.capabilities : []
        this.companyDetail.references      = (this.userData.company.references) ? this.userData.company.references : []
        this.companyDetail.naics_codes     = (this.userData.company.naics_codes) ? this.userData.company.naics_codes : []
    },
    updated(){
      this.suggestedValues = this.naicCodesandDesc;
    //   this.suggestedValues = [ ...new Set(this.suggestedValues) ] //  method uses a Set object, which stores unique values of any type, and a Spread operator (three dots in JavaScript), which expands a new list as an array.
    },
    methods : {
        onFileChange(e) {
            const file = e.target.files[0];
            this.companyDetail.logo = file.name;
            this.url = URL.createObjectURL(file);
            const reader = new FileReader()

            reader.onloadend = () => {
                this.companyDetail.logo = reader.result;
                // set the logo to base64
            }
            reader.readAsDataURL(file); //without this file wont be converted into base64
        },
        handleSearch(value){
            if(value == '' || value <= 3){
                this.isDirty =false
            }
        },
        onChangeProfilePic(e) {
            const file = e.target.files[0];
            this.userDetail.profile_picture = file.name;
            this.url = URL.createObjectURL(file);
            const reader = new FileReader()

            reader.onloadend = () => {
                this.userDetail.profile_picture = reader.result;
                // set the logo to base64
            }
            reader.readAsDataURL(file); //without this file wont be converted into base64
        },
        updateUserModal(){
            this.toggleUpdateUserModal          = !this.toggleUpdateUserModal
        },
        updateCompanyProfileModal(){
            this.togglecompanyProfileModal      = !this.togglecompanyProfileModal
        } ,
        addServedClientModal(){
            this.toggleServedClientModal        = !this.toggleServedClientModal
        },
        updateServedClientModal(){
            this.toggleUpdateServedClientModal  = !this.toggleUpdateServedClientModal
        },
        deleteServedClientModal(){
            this.toggleDeleteServecClientmModal = !this.toggleDeleteServecClientmModal
        },
        setUserData(data){
            this.userDetail.username                = data.username,
            this.userDetail.email                   = data.email,
            this.userDetail.type                    = data.type,
            this.userDetail.firstname               = data.firstname,
            this.userDetail.middlename              = data.middlename,
            this.userDetail.profile_picture         =(data.profile_picture) ? this.image_url_path+data.profile_picture : '',
            this.userDetail.lastname                = data.lastname,
            this.userDetail.telephone               = data.telephone,
            this.userDetail.address1                = data.address1,
            this.userDetail.address2                = data.address2,
            this.userDetail.city                    = data.city,
            this.userDetail.region                  = data.region,
            this.userDetail.country                 = data.country,
            this.userDetail.zipcode                 = data.zipcode,
            this.userDetail.role                    = data.role        
            this.userDetail.password                = data.password        
            this.userDetail.password_confirmation   = data.password_confirmation        
        },        
        CompanyData(data){
            this.companyDetail.name        = data.company.name,
            this.companyDetail.logo        = (data.company.logo) ? this.image_url_path+data.company.logo : '',
            this.companyDetail.description = data.company.description,
            this.companyDetail.telephone   = data.company.telephone,
            this.companyDetail.address1    = data.company.address1,
            this.companyDetail.address2    = data.company.address2,
            this.companyDetail.city        = data.company.city,
            this.companyDetail.region      = data.company.region,
            this.companyDetail.country     = data.company.country,
            this.companyDetail.zipcode     = data.company.zipcode,
            this.companyDetail.duns_number = data.company.duns_number,
            this.companyDetail.cage_code   = data.company.cage_code,
            this.companyDetail.naics_codes = data.company.naics_codes            
        },
        array_push(naics){
           this.companyDetail.naics_codes.push(naics)
           this.company_naics = "";
        },
        remove_array(naics){
            this.companyDetail.naics_codes.splice(naics, 1);
        //    this.companyDetail.naics_codes.push(naics)
        },
        async add_differentiators(data){
            this.companyDetail.differentiators.push(data)
            this.differentiators_data = "";
            await this.$store.dispatch('DASHBOARD/UpdateDifferentiator', this.companyDetail.differentiators)
        },        
        async searchWithParams(data){
            await this.$store.dispatch('CART/getNaicsCode', data);
            this.isDirty=true;
        },        
        async delete_differentiators(data){
            this.companyDetail.differentiators.splice(data, 1);
            await this.$store.dispatch('DASHBOARD/UpdateDifferentiator', this.companyDetail.differentiators)
        },
        async add_capabilities(data){
            this.companyDetail.capabilities.push(data)
            this.capabilities_data = "";
            await this.$store.dispatch('DASHBOARD/UpdateCapabilities', this.companyDetail.capabilities)
        },
        async delete_capabilities(data){
            this.companyDetail.capabilities.splice(data, 1);
            await this.$store.dispatch('DASHBOARD/UpdateCapabilities', this.companyDetail.capabilities)
        },
        async add_references(data){
            this.companyDetail.references.push(data)
            this.capabilities_data = "";
            await this.$store.dispatch('DASHBOARD/UpdateReferences', this.companyDetail.references)
        },
        async delete_references(data){
            this.companyDetail.references.splice(data, 1);
            await this.$store.dispatch('DASHBOARD/UpdateReferences', this.companyDetail.references)
        },
        async updateUserProfile(){
            await this.$store.dispatch('DASHBOARD/UpdateUser', this.userDetail)
        },
        async updateCompanyProfile(){
            await this.$store.dispatch('DASHBOARD/UpdateCompany', this.companyDetail)
        },
        dateTime(value) {
             return moment(value).format('LL');
        },
    } 
}
</script>

<style lang="scss" scoped>
    .floating-grid-container{
        height: 100%;
        width: 100%;
        padding: 10% 3% 5% 3%;
    }
    .floating-grid{
        position: absolute;
        width: 90%;
        height: 20vh;
        left: 10vh;
        top: 50vh;
        padding: 1%;
        background: #FFFFFF;
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
            .image{
            border: 1px solid rgb(155, 152, 152);
            border-radius: 12px;
            width: 10%;
            height: 100%;
            float:left;
            }.grid-text{
                float:left;
                width: 50%;
                height: 100%;
                padding: 2.5% 0 0 2.5%;
                font-size: 4vh;
                font-weight: bold;
                text-align: left;
                .text{
                    font-size: 2vh;
                }
            }
            
    }
    .floating-cardss{
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.10);
        border-radius: 12px;
    }
    .floating-cards2{
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
    }
    .floating-cards-container{
        width: 100%;
        height: 100%;
        padding: 7%;
    }
    .floating-cards-title{
        text-align: left;
        font-size: 1.9vh;
        font-family: Poppins;
        color:#DD1F4C;
        button.icon-btn{
            float: right;
            background-color: #DD1F4C;
            border:none;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            
            svg{
                fill:#FFFFFF
            }
         
        }
          button.icon-btn:hover{
           
            background-color: #ffffff;
            border: 1px solid;
            border-color: #DD1F4C;
               svg{
                fill:black;
            }
            
           
        }
    }
    .floating-cards-title2{
        text-align: center;
        font-size: 1.9vh;   
        height: 5vh;
        font-family: Poppins;
        color:#DD1F4C;
        
    }
    .floating-cards-content{
        color: #67748E;
        margin-top: 4%;
        text-align: left;
        font-size: 1.8vh;
        font-family: Poppins;
    }
    .profile-information{
        color: #67748E;
        margin-top: 5%;
        text-align: left;
        font-size: 1.5vh;
        font-family: Poppins;
        text-align: justify;
        text-justify: inter-word;
    }
    .profile-information2{
        margin-top: 5%;
        color: #67748E;
        text-align: left;
        font-weight: 500;
        font-size: 1.5vh;
        line-height: 3vh;
        font-family: Poppins;
        text-align: justify;
        text-justify: inter-word;
    }

    .conversations-card{
        margin-top: 5%;
        display:flex;
        width: 100%;
        // height: 8vh;
        .image-container{
            border: 1px solid rgb(155, 152, 152);
            border-radius: 12px;
            height: 100%;
            width: 15%;
            .img-icon{
                width:100%;
                height:100%;
                border-radius: 12px;
            }
         }  
        .details{
        width: 65%; 
                padding:2%;
            &-names{
                text-align: left;
                width: 100%;
                font-weight: bold;
            }
            &-desc{
                text-align: left;
                width: 100%;
            }
            }
        }

        /// update profile
    .update-profile-container{
        width: 80%;
                    body {
                margin: 0;
                padding-top: 40px;
                color: #2e323c;
                background: #f5f6fa;
                position: relative;
                height: 100%;
            }
            .account-settings .user-profile {
                margin: 0 0 1rem 0;
                padding-bottom: 1rem;
                text-align: center;
            }
            .account-settings .user-profile .user-avatar {
                margin: 0 0 1rem 0;
            }
            .account-settings .user-profile .user-avatar img {
                width: 90px;
                height: 90px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
            }
            .account-settings .user-profile h5.user-name {
                margin: 0 0 0.5rem 0;
            }
            .account-settings .user-profile h6.user-email {
                margin: 0;
                font-size: 0.8rem;
                font-weight: 400;
                color: #9fa8b9;
            }
            .account-settings .about {
                margin: 2rem 0 0 0;
                text-align: center;
            }
            .account-settings .about h5 {
                margin: 0 0 15px 0;
                color: #007ae1;
            }
            .account-settings .about p {
                font-size: 0.825rem;
            }
            .form-control {
                border: 1px solid #cfd1d8;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                font-size: .825rem;
                background: #ffffff;
                color: #2e323c;
            }

            .card {
                background: #ffffff;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                border: 0;
                margin-bottom: 1rem;
            }

    }
    .company-header{
        background:#DD1F4C;
        height: 6vh;
        padding:1.5%;
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
    }
    .modal-container{
    position: fixed;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100%;
    width: 100%;
    top:0px;
    z-index:251;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .form-group2{
        line-height: 4vh;
    }
    .form-group-files{
        padding-top: 0% ;
    }.delete-modal-card-container{
        position: absolute;
        box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.10);
        width: 25%;
        padding: 1%;
        margin-top: 5%;
        border-radius: 12px;
        background-color: white;
        height: 25%;
    }
      .search-items{
    padding: 15px 10px;
    display: block;
    word-wrap: break-all;
    text-overflow: ellipsis;
    margin-left: -1%;
    width: 27.5%;
    height: 20vh;
    position: absolute;
    top:65.1vh;
    transform: translateX(4%);
    background-color:#ffffff;
    z-index:20;
    box-shadow: 3px 10px 38px 16px rgba(0,0,0,0.1);
    overflow: scroll;
    overflow-x: hidden;
    ul{
      li{
        text-decoration: none;
        list-style: none;
        display: flex;
        cursor: pointer;
      }:hover { 
        color: rgb(73, 163, 232); 
        cursor: pointer;
        }
    }
  }
  ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
</style>