<template>
    <div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h5>Comments and Ratings</h5>
            </div>
            <!--  -->
            <div class="card p-3" style="margin-bottom:2%">
                <div class="row">
                    <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
                        <div class="user d-flex flex-row align-items-center" style="width: 100%;text-align:left"> 
                            <img src="https://i.imgur.com/hczKIze.jpg" width="70" class="user-img rounded-circle mr-2"> 
                            <span  style="padding-left:4.5%;font-size:2vh;font-weight:500;color:#0d6efd"><div>james_olesenn</div>
                            </span> 
                        </div> 
                            <div style="width: 10%;">2 days ago</div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-between align-items-center" style="width:100%;">
                        <div class="user d-flex flex-row align-items-center" style="width: 100%;text-align:left;"> 
                            <span style="width: 100%;padding-left:10%">
                                <div >The Dauré family own one of the Roussillon's top properties, the Château de Jau. Around the dinner table one Christmas they agreed it was time to spread their wings and look to new wine horizons. The womenfolk (Las Niñas) fancied Chile and won out in the end, achieving their dream when they established an estate in the Apalta Valley of Colchagua. The terroir is excellent and close neighbours of the Chilean star Montes winery.</div>
                            </span> 
                        </div> 
                    </div>
                </div>
                <div class="row" style="padding-top:2%;margin-left: auto;">
                        <star-rating st :rating="3" :star-size="30" active-color="#DD1F4C" :read-only="true" :increment="0.01"></star-rating>
                </div>
                <div style="padding:2% 0% 0% 10%"> 
                    <div v-if="comment"> 
                        <a @click="reply_comment()" class="view-all" style="font-size:2vh;padding-left: 90%;"><u>Reply</u> </a>
                    </div>
                    <div v-if="recomment">
                        <div class="d-flex flex-start w-100">
                            <div class="form-outline w-100">
                                <textarea class="form-control" id="textAreaExample" rows="2" style="background: #fff;" placeholder="Reply....."></textarea>
                            </div>
                        </div>
                        <div class="float-end mt-2 pt-1" style="width:100%;text-align:right">
                            <button type="button" class="btn btn-primary btn-sm" style="margin-right:2%">Reply</button>
                            <button type="button" class="btn btn-outline-primary btn-sm" @click="reply_comment()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="card p-3 mt-2" style="margin-bottom:2%">
                <div class="row">
                    <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
                        <div class="user d-flex flex-row align-items-center" style="width: 100%;text-align:left"> 
                            <img src="https://i.imgur.com/C4egmYM.jpg" width="70" class="user-img rounded-circle mr-2">
                            <span  style="padding-left:4.5%;font-size:2vh;font-weight:500;color:#0d6efd"><div>olan_sams </div>
                            </span> 
                        </div> 
                            <div style="width: 10%;">4 days ago</div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-between align-items-center" style="width:100%;">
                        <div class="user d-flex flex-row align-items-center" style="width: 100%;text-align:left;"> 
                            <span style="width: 100%;padding-left:10%">
                                <div >Sometimes the scent of seasonal hand wash is all we need to rouse our holiday spirits. Available in an array of festive fragrances, our naturally derived gel hand wash will leave your hands soft, clean and ready to be tucked into a pair of fair isle mittens. It really is the most wonderful time of the year.</div>
                            </span> 
                        </div> 
                    </div>
                </div>
                <div class="row" style="padding-top:2%;margin-left: auto;">
                        <star-rating st :rating="5" :star-size="30" active-color="#DD1F4C" :read-only="true" :increment="0.01"></star-rating>
                </div>
            </div>
            <div class="card p-3 mt-2" style="margin-bottom:2%">
                <div class="row">
                    <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
                        <div class="user d-flex flex-row align-items-center" style="width: 100%;text-align:left"> 
                            <img src="https://i.imgur.com/ZSkeqnd.jpg" width="70" class="user-img rounded-circle mr-2">
                            <span  style="padding-left:4.5%;font-size:2vh;font-weight:500;color:#0d6efd"><div>simona_rnasi </div>
                            </span> 
                        </div> 
                            <div style="width: 10%;">5 days ago</div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-between align-items-center" style="width:100%;">
                        <div class="user d-flex flex-row align-items-center" style="width: 100%;text-align:left;"> 
                            <span style="width: 100%;padding-left:10%">
                                <div >You know what's sucky about regular flashlights? They only come in two colors: white or that yellowish-white that reminds us of the teeth of an avid coffee drinker. What fun is that kind of flashlight? We'll answer that: NO FUN AT ALL. You know what is fun? Using the Multi-Color LED Flashlight to cast a sickly green glow over your face while telling a zombie story around a campfire. No campfire? Make a fake one with the orange light!</div>
                            </span> 
                        </div> 
                    </div>
                </div>
                <div class="row" style="padding-top:2%;margin-left: auto;">
                        <star-rating st :rating="5" :star-size="30" active-color="#DD1F4C" :read-only="true" :increment="0.01"></star-rating>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import StarRating from 'vue-star-rating'
export default {
    data(){
        return {
            comment:true,
            recomment:false,
        }
    },
     components:{
         StarRating
    },
    methods: {
        reply_comment(){
            this.comment = !this.comment
            this.recomment = !this.recomment
        }
    }
}
</script>

<style scoped>
body {
    background-color: #f7f6f6
}

.card {
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px
}

.dots {
    height: 4px;
    width: 4px;
    margin-bottom: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}

.badge {
    padding: 7px;
    padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #e9ecef
}

.user-img {
    margin-top: 4px
}

.check-icon {
    font-size: 17px;
    color: #c3bfbf;
    top: 1px;
    position: relative;
    margin-left: 3px
}

.form-check-input {
    margin-top: 6px;
    margin-left: -24px !important;
    cursor: pointer
}

.form-check-input:focus {
    box-shadow: none
}

.icons i {
    margin-left: 8px
}

.reply {
    margin-left: 12px
}

.reply small {
    color: #b7b4b4
}

.reply small:hover {
    color: green;
    cursor: pointer
}
</style>
