<template>
   <div class="container-fluid certified-business-wrapper gx-0">
       <div class="row gx-0" >
           <div class="col-md-12">
            <div class="banner">
                <BannerComponent 
                    :title="'CERTIFIED SMALL BUSINESSES'" 
                    :title2="'DBE, MBE, SBE, WBE, VET, and more!'" 
                    :subtitle="'GET FOUND. GET KNOWLEDGE. GET OPPORTUNITY. GET LINKED.'"
                    :content="'DBECenter.com is an online resource center for DBE and certified small businesses. Receive an online presence by providing your profile and we will create your Capability Statement for Project Owners, General Contractors, Agencies, Investors and more to view! Take advantage of our proprietary portal to find your next bid/opportunity, events/workshops and resources!'" 
                />
            </div>
           </div>
       </div>
       <div class="row">
            <div class="col-md-12" style="margin:2% 0%">
                <div class="header-text-first">Why use DBECenter.com?</div>
                <div class="header-text-second">Simple</div>
                <div class="header-text-third">GET FOUND. GET KNOWLEDGE. GET OPPORTUNITY. GET LINKED.</div>
            </div>
       </div>    

       <div class="row">
            <div class="col-md-8 inline-auto">
                <div class="row">
                  <div v-for="content in contentBodies" :key="content">
                      <div class="body-main">
                        <span class="body-title">{{content.title}}</span>
                        <span class="body-content">{{content.content}}</span>
                      </div>
                  </div>
                </div>
            </div>
       </div>                 
   </div>
</template>

<script>
import BannerComponent from '@/components/BannerComponent.vue'
                 

export default {
    name:'dbe-certified-businesses',
    components: {
        BannerComponent
    },
    data() {
        return{
            contentBodies: [
                {title: "GET FOUND!", content: "Government Agencies, General Contractors, Investors and partners are constantly looking for certified small businesses. DBECENTER.com will give your brand an online presence to be found by presenting your profile and Capability Statement in a format that is accessible to them! With minority and women participation in these projects continuing to be at low numbers, DBECenter.com intends to and will promote and elevate Minority wned and Women owned businesses, improving their opportunities."},
                {title: "GET KNOWLEDGE!", content: "DBECenter.com offers workshops on-line and has access to over 80+ topics on entrepreneurship and construction. You can take advantage of our FREE program all while getting support from seasoned business consultants in a variety of industries."},
                {title: "GET OPPORTUNITY!", content: "GET OPPORTUNITY!</span> Looking for bids or contracting opportunities? Search our portal using your NAICS or BID codes, by Project! Remember to return often as we constantly update information when Project Owners, General Contractors, and Agencies posts their opportunities on our site!"},
                {title: "GET LINKED!", content: "Learn more about the FAB WCL Program - our exclusive, in house Working Capital Loan Program along with resources for bonding, insurance and more! We have partnered with several organization who support certified small businesses in their journey for growth!"},
            ]
        }
    }
}

</script>

<style lang="scss" scoped>
    .certified-business-wrapper{
         max-width: 1920px;
    }
    .banner{
        background-image: url('./images/dbe-certified-small-business.png');
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
    }   
    .header-text-first{
        font-size: 75px;
    }    
    .header-text-second{
        font-weight: bold;
        font-size: 80px;
    }    
    .header-text-third{
        font-weight: bold;
        font-size: 18px;
    }
    .inline-auto{
        margin-inline:auto;
    }
    .body-main{
        text-align:justify;
        padding:2% 0%
    }
    .body-title{
        color:#DC204B;
        font-size: 55px;
        line-height: 1;
    }
    .body-content{
        font-size: 18px;
    }    
    @media (min-width: 320px) {
        .header-text-first{
             font-size: 30px;
        }
        .header-text-second {
            font-weight: bold;
            font-size: 30px;
        }        
        .header-text-third {
            font-size: 15px;
        }       
        .body-title {
            font-size: 19px;        
        } 
        .body-main{
            padding: 2% 14%;
        }        
        .body-content {
            font-size: 9px;
        }        
    }
    @media (min-width: 768px) {
        .header-text-first{
             font-size: 40px;
        }
        .header-text-second {
            font-weight: bold;
            font-size: 35px;
        }        
        .header-text-third {
            font-size: 15px;
        }       
        .body-title {
            font-size: 30px;        
        } 
        .body-main{
            padding: 2% 0%;
        }        
        .body-content {
            font-size: 15px;
        }      
    }

    @media (min-width: 1440px) {          

        .header-text-first{
             font-size: 75px;
        }
        .header-text-second {
            font-weight: bold;
            font-size: 80px;
        }        
        .header-text-third {
            font-size: 18px;
        }       
        .body-title {
            font-size: 55px;        
        } 
        .body-content {
            font-size: 18;
        }  
    }        
</style>