<template>
 
 <div class="body-container"> 
    <div class="container fullwidth vh-100  w-100" id="container">
    <div class="form-container h-auto sign-up-container">
      <form role="form" method="POST" action="">
        <div class="input-container">
          <div class="right-content1">
            <div class="right-content1-phar">Create Account</div>
          </div>
          <div class="right-form">
            <div class="column_wrapper">
              <label class="text-left">Username </label>
              <label class="text-right">Email </label>
            </div>
            <div class="column_wrapper gap-2">
              <div class="left-form-group form-group">
                <div class="input-group input-group-alternative mb-3">
                  <input
                    class="lefts signup-input form-control"
                    placeholder="Username"
                    type="text"
                    name="username"
                    v-model="user_registration.username"
                    required
                    autofocus
                  />
                </div>
              </div>

              <div class="right-form-group form-group">
                <div class="input-group input-group-alternative mb-3">
                  <input
                    class="signup-input rights form-control"
                    placeholder="Email"
                    type="text"
                    name="email"
                    v-model="user_registration.email"
                    required
                  />
                </div>
              </div>             
            </div>

            <div class="column_wrapper">
              <label class="text-left">First Name </label>
              <label class="text-right">Last Name </label>
            </div>
            <div class="column_wrapper gap-2">
              <div class="left-form-group form-group">
                <div class="input-group input-group-alternative">
                  <input
                    class="lefts signup-input form-control"
                    placeholder="First Name"
                    type="text"
                    name="name"
                    v-model="user_registration.firstname"
                    required
                  />
                </div>
              </div>        
              
              <div class="right-form-group form-group">
                <div class="input-group input-group-alternative">
                  <input
                    class="lefts signup-input form-control"
                    placeholder="Last Name"
                    type="text"
                    name="name"
                    v-model="user_registration.lastname"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="column_wrapper">
              <label class="text-left">Role </label>
              <label class="text-right">Type </label>
            </div>
            <div class="column_wrapper gap-2">
              <div class="right-form-group form-group">
                <select style="width: 96%;font-size: 1.7vh;" class="form-select form-select-lg mb-3 role-dropdown" v-model="user_registration.role">
                  <option value="" selected disabled>-- Select Role --</option>
                  <option value="VENDOR">Vendor</option>
                  <option value="CONTRACTOR">Contractor</option>
               </select>
              </div>

              <div class="left-form-group form-group">
                <select v-model="user_registration.type" style="width: 96%;font-size: 1.7vh;" class="form-select form-select-lg mb-3 role-dropdown" aria-label=".form-select-lg example" >
                <option value="" selected disabled>--  Select Type --</option>
                <template v-if="user_registration.role === 'VENDOR'">
                      <option value="Small Business">Small Business</option>
                      <option value="Big Business">Big Business</option>
                      <option value="Others">Others</option>
                </template>
                <template v-else>
                    <option value="General Contractor">General Contractor</option>
                    <option value="Goverment Agencies">Goverment Agencies</option>
                    <option value="Corporate Buyers">Corporate Buyers</option>
                </template>
              </select>
              </div>        
            </div>

            <div class="column_wrapper">
              <label class="text-left">Password </label>
              <label class="text-right">Confirm Password </label>
            </div>
            <div class="column_wrapper gap-2">
              <div class="left-form-group form-group">
                <div class="input-group input-group-alternative">
                  <input
                    class="lefts signup-input form-control"
                    placeholder="Password"
                    type="password"
                    name="password"
                    v-model="user_registration.password"
                    required
                  />
                </div>
              </div>
              <div class="right-form-group form-group">
                <div class="input-group input-group-alternative">
                  <input
                    class="form-control signup-input rights"
                    placeholder="Confirm Password"
                    type="password"
                    v-model="user_registration.password_confirmation"
                    name="password_confirmation"
                    required
                    @keyup.enter="handleRegistration()"
                  />
                </div>
              </div>              
            </div>
            <br />
            <div class="button-right-container">
              <input
                class="custom-control-input"
                id="customCheckRegister"
                type="checkbox"
              />
              <label class="custom-control-label" for="customCheckRegister">
                  <div v-if="required_field2" style="color:red">{{this.error_message}}<br></div>
                  <div v-if="this.getError.check2" v-bind="this.required_field2=false" style="color:red">Username or Email is Already Taken</div>
                <span class="text-muted"
                  >I have read the Term & Conditions</span
                >
              </label>
              <br />
              <br />
              <div type="submit" class="button-right btn btn-primary mt-4" @click.prevent="handleRegistration()">
                Create Account
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="form-container h-auto sign-in-container">
      <form role="form" method="POST" action="#">
        <div class="input-container">
          <div class="left-icon-container"></div>
          <div class="left-content1">
            <div class="left-content1-phar">Sign in to DBCENTER.COM</div>
            <br />
            <br />
          </div>
          <div class="left-form-container">
            <div class="left-form">
              <label>Email </label>
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <input
                    class="login-input form-control"
                    placeholder="email"
                    type="text"
                    name="username"
                    v-model="user_login.email"
                    required
                  />
                </div>
              </div>
              <label>Password </label>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <input
                    class="login-input form-control"
                    name="password"
                    placeholder="password"
                    type="password"
                    v-model="user_login.password"
                    required
                    @keyup.enter="handleLogin()"
                  />
            
                  </div>
                    <div v-if="required_field" style="color:red">Email and Password is required</div>
                    <div v-if="this.getError.check" v-bind="this.required_field=false" style="color:red">Email or Password is incorrect
                    </div>
              </div>
              <div class="forgot-password">
                <a href="#"> Forgot password? </a>
              </div>
              <br />
              <div
                type="submit"
                class="button-left btn btn-primary"
                @click.prevent="handleLogin()"
              >
                Sign In
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <div class="white-icon-container"></div>
          <br />
          <br />
          <br />
          <p class="hello">One of Us?</p>
          <p class="phar">
            If you already have an <br />
            account, just signin. We've <br />
            missed you!
          </p>
          <button
            class="ghost singup-button-right"
            id="signIn"
            @click.prevent="handleSignIn()"
          >
            Sign In
          </button>
        </div>
        <div class="overlay-panel overlay-right">
          <p class="hello2">Hello, Friend!</p>
          <p class="phar2">
            Enter your personal details<br />
            and start journey with us
          </p>
          <div class="width">
            <button
              class="ghost singup-button-right"
              id="signUp"
              @click.prevent="handleSignUp()"
            >
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</template>

<script>
import { mapState } from "vuex";
export default {
    data: () => ({
        required_field:false,
        required_field2:false,
        error_message:'',
        user_login: {
            email: '',
            password: ''
        },
        user_registration: {
            firstname: '',
            lastname: '',
            username: '',
            email: '',
            password: '',
            password_confirmation: '',
            role: '',
            type: ''
        }
    }),
    computed: {
        ...mapState('USERAUTH', {
            getError: state => state.error,
        })
    },
    created(){
      // console.log('data',this.getError.check);
    },
    methods: {
      handleSignUp() {
        const container = document.getElementById("container");
        container.classList.add("right-panel-active");
      },
      handleSignIn() {
        const container = document.getElementById("container");
        container.classList.remove("right-panel-active");
      },
      async handleLogin() {
        if(!this.user_login.password || !this.user_login.email){
          this.required_field = true;
          this.getError.check = false;
        }else{
          await this.$store.dispatch('USERAUTH/loginUser', this.user_login)
        }
        },
      async handleRegistration() {
        if(!this.user_registration.password || !this.user_registration.email || !this.user_registration.firstname || !this.user_registration.lastname || !this.user_registration.username || !this.user_registration.password_confirmation || !this.user_registration.role || !this.user_registration.type){
          this.required_field2 = true;
          this.getError.check2 = false;
          this.error_message = 'Some Fields are Empty';
        }else if( this.user_registration.password.length <= 6 ){
          this.required_field2 = true;
          this.getError.check2 = false;
          this.error_message = 'Password must be at least 6 characters in length must contain at least one lowercase letter, Upper Case,one digit,special character';
        }else if(this.user_registration.password != this.user_registration.password_confirmation){
          this.required_field2 = true;
          this.getError.check2 = false;
          this.error_message = 'Password and Password Confirmation is Wrong';
        }else{
            await this.$store.dispatch('USERAUTH/signupUser', this.user_registration)
        }
      }
    } 
};
</script>


<style>
        * { 
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html { height:100%; }
        body { position:absolute; top:0; bottom:0; right:0; left:0; }  
        
        body.bg-default.login-page, body.login-page { 
            position: relative;
            background: linear-gradient(0deg, rgba(23, 43, 77, 1) 0%, rgba(0,128,128,1) 100%)!important;
        }

        .logo.login-logo {
            text-align: center;
            padding: 20px 0 10px;
        }

        .logo.login-logo img {
            width: 100px;
            margin: 0 auto;
        }
    
        form {
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            /* padding: 0 50px; */
            height: 100%;
            text-align: center;
        }
    
        .body-container {
            background-color: #E5E5E5;
            position: relative;
            overflow: hidden;
            width: 100%;
            min-height: 100%;
        }
    
        .form-container {
            position: absolute;
            top: 0;
            height: 100%;
            transition: all 0.6s ease-in-out;
        }
    
        .sign-in-container {
            left: 0;
            width: 65%;
            z-index: 2;
        }
    
        .container.right-panel-active .sign-in-container {
            transform: translateX(55%);
        }
    
        .sign-up-container {
            left: 0;
            width: 65%;
            opacity: 0;
            z-index: 1;
        }
    
        .container.right-panel-active .sign-up-container {
            transform: translateX(55%);
            opacity: 1;
            z-index: 5;
            animation: show 0.6s;
        }
    
        .input-group{
          width: 95%;
        }
        @keyframes show {
        0%, 49.99% {
            opacity: 0;
            z-index: 1;
        }
    
        50%, 100% {
            opacity: 1;
            z-index: 5;
        }
        }
    
        .overlay-container {
            position: absolute;
            top: 0;
            left: 65%;
            width: 36%;
            height: 100%;
            overflow: hidden;
            transition: transform 0.6s ease-in-out;
            z-index: 100;
        }
    
        .container.right-panel-active .overlay-container{
            transform: translateX(-180%);
        }
    
        .overlay {
            background: #DD1F4C;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0 0;
            color: #FFFFFF;
            position: relative;
            left: -200%;
            height: 100%;
            width: 300%;
            transform: translateX(0);
            transition: transform 0.6s ease-in-out;
        }
    
        /* this set the over lay to 65 percent and hide the hello, friend */
        .container.right-panel-active .overlay {
            transform: translateX(65%);
        }
    
        .overlay-panel {
            /* background-color: #222; */
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 40px;
            text-align: center;
            top: 0;
            height: 100%;
            width: 36%;
            transform: translateX(0);
            transition: transform 0.6s ease-in-out;
        }
    
        .overlay-left {
            left: 0;
            transform: translateX(-80%);
        }
    
        .container.right-panel-active .overlay-left {
            transform: translateX(0%);
        }
    
        .overlay-right {
            right: 0;
            transform: translateX(0);
        }
    
        .container.right-panel-active .overlay-right {
            transform: translateX(20%);
        }
    
        .input-container {
            font-family: arial;
            height: 100%;
            width: 100%;
            position: relative;
            background-color: #E5E5E5;
            text-align: left;
        }
    
        .left-icon-container {
            width: 100%;
            height: 20%;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
        }
    
        .left-icon-image {
            position: relative;
            padding-left: 10%;
            width: 25%;
            height: 30%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            justify-content: center;
        }
    
        .left-content1{
            margin-top: 15.5%;
            width: 100%;
            height: 20%;
            position: relative;
            text-align: center;
        }
    
        .left-content1-phar{
            font-size: 2.2vw;
            font-weight: 600;
        }
    
        .left-form-container {
            width: 100%;
            height: 100%;
            padding-left: 27.5%;
            text-align: left;
        }
        .left-form {
            width: 61.5%;
            height: 100%;
        }
    
        .login-input[type=text], .login-input[type=password] { 
            width: 100%; 
            margin: 8px 0;
            padding: 12px 20px; 
            display: inline-block; 
            border: 1px solid rgb(182, 189, 182); 
            box-sizing: border-box; 
            height: 60px;
            background-color: rgba(0, 0, 0, 0);
            outline-color:#DD1F4C;
        } 
    
        .signup-input[type=text], .signup-input[type=password] { 
            outline-color:#DD1F4C;
        } 
    
        .forgot-password{
            width: 100%;
            text-align: right;
        }
    
        .button-left { 
            background-color: black; 
            width: 100%;
            color: #eee; 
            padding: 15px; 
            margin: 10px 0px; 
            border: none; 
            cursor: pointer; 
            height: 60px;
            font-size: 16px;
        } 
    
        .hello{
            font-family: arial;
            font-size: 3.3vw;
            font-weight: 700;
            color: white;
        }
        
        .phar{
            font-family: arial;
            font-size: 1.2vw;
            color: white;
            line-height: 1.7;
            letter-spacing: 2px;
        }
    
        .hello2{
            font-family: arial;
            font-size: 3.3vw;
            font-weight: 700;
            color: white;
            padding-left: 50px;
        }
    
        .padding{
            padding-left: 10%;
        }
    
        .phar2{
            font-family: arial;
            font-size: 1.2vw;
            color: white;
            line-height: 1.7;
            letter-spacing: 2px;
            padding-left: 50px;
        }
    
        .singup-button-right {
            margin-top: 75px;
            padding: 14px 40px;
            width: 60%;
            height: 70px;
            border-color: white;
            background-color: rgba(255, 255, 255, 0);
            cursor: pointer;
            font-size: 16px;
            color: white;
        }  
    
        .singup-button-rigth:hover { 
            opacity: 0.7; 
        }
    
        .white-icon-container {
            margin-top: -30%;
            width: 100%;
            /* background-color: rgb(107, 33, 33); */
            height: 15%;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
        }
    
        .white-icon-image {
            position: relative;
            padding-left: 15%;
            width: 45%;
            height: 35%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            justify-content: center;
            /* background-color: rgba(32, 4, 97, 0.7); */
        }
    
        .right-content1{
            margin-top: 9%;
            width: 100%;
            height: 14%;
            /* background-color: red;   */
            position: relative;
            text-align: center;
        }
    
        .right-content1-phar{
            font-size: 2.2vw;
            font-weight: 600;
        }
    
        .right-form {
            width: 100%;
            /* background-color: #1f1483; */
            height: 100%;
            /* padding-left: 100px; */
        }
    
        .column_wrapper{
            width: 100%;
            display: flex;
            padding: 0% 15% 0% 15%;
            /* background-color: red; */
        }
    
        .text-left{
            padding-top: 2%;
            width: 95%;
        }
        .lefts{
            width: 95%;
            display: inline-block; 
            border: 1px solid rgb(182, 189, 182); 
            box-sizing: border-box; 
            height: 60px;
            background-color: rgba(0, 0, 0, 0);
            padding:12px 20px;
        }
        .text-right{
            padding-top: 2%;
            width: 95%;
        }
        .rights{
            width: 95%;
            display: inline-block; 
            border: 1px solid rgb(182, 189, 182); 
            box-sizing: border-box; 
            height: 60px;
            background-color: rgba(0, 0, 0, 0);
            padding:12px 20px;
        }
    
        .button-right-container {
            width: 100%;
            text-align: center;
        }
    
        .button-right { 
            background-color: black; 
            width: 45%;
            color: #eee; 
            padding: 15px; 
            margin: 10px 0px; 
            border: none; 
            cursor: pointer; 
            height: 60px;
            font-size: 16px;
        }
    
        input[type=checkbox]
        {
            opacity: 0.6;
            background: rgb(182, 189, 182);
            transform: scale(1.5);
        }
    
        
        .width {
        width: 100%;
        padding-left: 10%;
        }
        a:link {
        text-decoration: none;
        color: gray;
        }
    
        .left-form-group{
            /* background-color: red; */
            width: 50%;
        }
    
        .right-form-group{
            /* background-color: red; */
            width: 50%;
        }
    
        .invalid-feedback{
            color: red;
        }
    
        input:-webkit-autofill,
        input:-webkit-autofill:focus {
            transition: background-color 600000s 0s, color 600000s 0s;
        }
        input[data-autocompleted] {
            background-color: transparent !important;
        }

        .role-dropdown{
          width: 96%;
          height: 60px;
          background: rgba(255, 255, 255, 0);
        }
        /* Begin Media Queries
         * Extra small devices (portrait phones, less than 576px)
         * No media query for `xs` since this is the default in Bootstrap
        */
        
        /* Small devices (landscape phones, 576px and up) */
        @media (min-width: 576px) {}

        /* Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) {}

        /* Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {}

        /* Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {}
    
</style>

   

  





    