<template>
   <div class="container-fluid capability-statement-wrapper gx-0">
       <div class="row gx-0" >
           <div class="col-md-12">
            <div class="banner">
                <BannerComponent 
                    :title="'Capabilities statement'" 
                    :title2="'Enter. Post. Interact. Contract.'" 
                    :subtitle="'A TOOL FOR PROJECT OWNERS, GENERAL CONTRACTORS, AND GOVERNMENT AGENCIES'"
                    :content="'Government contracting have set project goals for Minorities and WomenFinding these Disadvantaged Business Enterprises (DBEs), Women Owned (WOSB or WBE), Veteran Owned (VOSB), and other certified small businesses is no easy task. DBECENTER.COM iprovides an innovative and inclusive way to make this connection and collaboration.'" />
                />
            </div>
           </div>
       </div>              
   </div>   
</template>

<script>
import BannerComponent from '@/components/BannerComponent.vue'


export default {
    name: 'capability-statement',
    components: {
         BannerComponent
    }
}

</script>

<style lang="scss" scoped>
   .capability-statement-wrapper{
         max-width: 1920px;
    }
    .banner{
        background-image: url('./images/dbe-certified-small-business.png');
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
    }   
</style>


