<template>
    <div class="grid gap-0 h-2/4 py-10 ">
        <div class="col p-0 m-0 w-full  title">{{ title }}</div>
        <div class="col  subtitle">{{ subtitle }}</div>
        <div class="col pt-8">{{ content }}</div>
    </div>
</template>

<script>
export default {
    props: {
        title:String,
        subtitle:String,
        content:String
    }
}
</script>

<style lang="scss" scoped>

.title{
   font-family: Poppins;
    font-weight: bold;
    font-size: 64px;
    font-style: normal;
    color: #DD1F4C;
    height: auto;
    text-transform: uppercase;
}
.subtitle{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
     text-transform: capitalize;
}

    @media (min-width: 320px) {
        .title{
            font-size: 35px;
        }        
        .subtitle{
            font-size: 15px;
        }
    }

    @media (min-width: 768px) {
        .title{
            font-size: 35px;
        }        
        .subtitle{
            font-size: 25px;
        }
    }


    @media (min-width: 1024px) {
        .title{
            font-size: 40px;
        }        
        .subtitle{
            font-size: 30px;
        }
    }  
    

    @media (min-width: 1440px) {
        .title{
             font-size: 64px;
        }        
        .subtitle{
             font-size: 36px;
        }
    }        
</style>

