<template>
  <div class="carousel">
    
    <div class="h-full carousel-item carousel-item-visible">
      <CarouselContents
        :title="'be intentional'"
        :subtitle="'agencies'"
        :content="'Enter. Post. Interact. Contract.'"
      />
      <CarouselCardContent
        :content="'Use DBECenter.com to find pools of verified, ready, willing, and able Certified Small Business firms. View their online Capability Statement and connect with them before or after you post your projects, contract opportunities, or supply requirements.'"
        :imageId="'1'"
        :subtitle="'asdfasdf'"
      />
    </div>
    <div class="carousel-item">
       <CarouselContents
        :title="'do more'"
        :subtitle="'General Contractors'"
        :content="'Post. Share. Invite. Review. Contract.'"
      />
       <CarouselCardContent
        :content="'Use DBECenter.com to find pools of verified, ready, willing, and able Certified Small Business firms. View their online Capability Statement and connect with them before or after you post your projects, contract opportunities, or supply requirements.'"
        :imageId="'2'"
        :subtitle="'asdf'"
      />
    </div>
    <div class="carousel-item">
         <CarouselContents
        :title="'showcase you'"
        :subtitle="'Certified Small Businesses'"
        :content="'Search. Interact. Assess. Respond.'"
      />
       <CarouselCardContent
        :content="'Use DBECenter.com to find pools of verified, ready, willing, and able Certified Small Business firms. View their online Capability Statement and connect with them before or after you post your projects, contract opportunities, or supply requirements.'"
        :imageId="'3'"
        :subtitle="'asdf'"
      />
    
    </div>

    <div class="carousel-actions">
      <button
        v-on:click="moveToPrevSlide"
        id="carousel-button-prev"
        aria-label="Previous Slidex"
      ></button>
      <button
        v-on:click="moveToNextSlide"
        id="carousel-button-next"
        aria-label="Next Slide"
      ></button>
    </div>
  </div>
</template>

<script>
import CarouselContents from "./CarouselContents.vue";
import CarouselCardContent from "./CarouselCardContent.vue";
export default {
  components: {
    CarouselContents,
    CarouselCardContent,
  },
  mounted() {
    this.getslides();
   
  },
  data() {
    return {
      slides: "",
      slidePosition: 0,
      totalSlides: 0,
    };
  },
  methods: {
    getslides() {
      this.slides = document.getElementsByClassName("carousel-item");
      const nextbtn = document.getElementById("carousel-button-next");
      const prevbtn = document.getElementById("carousel-button-prev");
      this.slidePosition = 0;
      this.totalSlides = this.slides.length;

      prevbtn.textContent = "<";
      nextbtn.textContent = ">";
      console.log("wow", this.slides, this.slidePosition, this.totalSlides);
    },

    moveToNextSlide() {
      if (
        this.slidePosition >= 0 &&
        this.slidePosition < this.totalSlides - 1
      ) {
        this.slidePosition += 1;
        this.slides[this.slidePosition].classList.add("carousel-item-visible");
        this.slides[this.slidePosition - 1].classList.remove(
          "carousel-item-visible"
        );
        console.log(this.slidePosition);
      } else if (this.slidePosition === 2) {
        this.slidePosition = 0;
        this.slides[this.slidePosition].classList.add("carousel-item-visible");
        this.slides[this.slidePosition + 2].classList.remove(
          "carousel-item-visible"
        );
        console.log(this.slidePosition);
      }
    },

    moveToPrevSlide() {
      if (this.slidePosition > 0 && this.slidePosition <= this.totalSlides) {
        this.slidePosition -= 1;
        this.slides[this.slidePosition].classList.add("carousel-item-visible");
        this.slides[this.slidePosition + 1].classList.remove(
          "carousel-item-visible"
        );
        console.log(this.slidePosition);
      } else if (this.slidePosition === 0) {
        this.slidePosition = 2;
        this.slides[this.slidePosition].classList.add("carousel-item-visible");
        this.slides[this.slidePosition - 2].classList.remove(
          "carousel-item-visible"
        );
        console.log(this.slidePosition);
      }
    },
  },
};
</script>


<style scoped>
.carousel {
  width: 100%;
  height: 100vh;
  position: relative;
}

.carousel .carousel-item {
  display: none;
}
.hideAllslides {
  display: none;
}
.carousel .carousel-item-visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel .carousel-item img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.carousel .carousel-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
}

.carousel .carousel-actions button {
  border-radius: 50px;
  background-color: white;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.carousel .carousel-actions button#carousel-button-prev {
  margin-left: 20px;
}

.carousel .carousel-actions button#carousel-button-next {
  margin-right: 20px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
