<template>
      <div class="contentcontainer ">
          <div class="row">
                <div class="col-md-6 left-class">
                    <div v-if="imageId == '1'" class="contentcontainer-leftitem">
                                  <img
                                    class="bg1"
                                    src="@/views/web/home/sections/HeroSection/images/Asset1.png"
                                    alt="DBECENTER asset1"
                                    />
                        <!-- <div class="bg1"></div> -->
                    </div>
                    <div  v-if="imageId == '2'" class="contentcontainer-leftitem">
                                    <img
                                    class="bg2"
                                    src="@/views/web/home/sections/HeroSection/images/Asset2.png"
                                    alt="DBECENTER asset2"
                                    />
                        <!-- <div class="bg2"></div> -->
                    </div>
                    <div  v-if="imageId == '3'" class="contentcontainer-leftitem">
                                   <img
                                    class="bg3"
                                    src="@/views/web/home/sections/HeroSection/images/Asset3.png"
                                    alt="DBECENTER asset3"
                                    />                        
                        <!-- <div class="bg3"></div> -->
                    </div>
                </div>
                <div class="col-md-6 right-class">
                    <div class="row">
                        <div class="contentcontainer-rightitem">
                                <p class="content text-start">{{content}}</p><br><br>
                                <p class="text-left"><b>{{subtitle}}</b></p>
                        </div>
                    </div>
                </div>
          </div>
 
        
    </div>
</template>
 
<style lang="scss" scoped>
.text-start{
    font-size: 20px;
}


.contentcontainer{
    position: relative;
    height: 50%;
    display: flex;
    padding: 80px 200px;  
    gap:20px;
    margin: auto;
    justify-content: center;

     .bg1{
        position: absolute;
        // background-image: url('images/Asset1.png');
        background-repeat: no-repeat;
        width: 469px;
        height: 333px;
        left: 90px;
        top:0;
        background-size: cover;
        z-index:2;
    }

    .bg2{
        position: absolute;
        // background-image: url('images/Asset2.png');
        background-repeat: no-repeat;
        width: 466px;
        height: 550px;
        left: 100px;
        top: -165px;
        background-size: cover;
        z-index:2;
    }

    .bg3{
        position: absolute;
        // background-image: url('images/Asset3.png');
        background-repeat: no-repeat;
        width: 570px;
        height: 480px;
        left: 30px;
        top:-120px;
        background-size: cover;
        z-index:2;
        transform:scale(0.9)
    }

    &-leftitem{
    min-width: 400px;
    width: 100%;
    }
    &-rightitem{
      max-width: 700px;
      display: flex;
      flex-direction: column;

      .subtitle-right{
          font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        display: flex;
        align-items: center;

        color: #000000;
      }
    }
}

     @media (min-width: 320px) {
            .left-class{
                width:100%;
                height:20vh;
            }
            .right-class{
                width:100%;
            }            
            .text-start{
                font-size: 10px;
                padding-left: 15%;
                padding-right: 15%;
            }
            .text-left{
                font-size: 10px;
                 width: 100%;
            }
            .contentcontainer{
            padding: 5px 25px;
            .bg1{
                height: 135px;
                width: 175px;
                left: 50px;
                top: 25px;
            }
            .bg2{
                height: 150px;
                width: 150px;
                left: 70px;
                top: 9px;
            }     
            
            .bg3{
                height: 150px;
                width: 210px;
                left: 45px;
                top: 0px;
            }              
        }  
         
    }

        @media (min-width: 375px) {
            .left-class{
                width:100%;
                height:20vh;
            }
            .right-class{
                width:100%;
            }            
            .text-start{
                font-size: 15px;
                padding-left: 15%;
                padding-right: 15%;
            }
            .text-left{
                font-size: 15px;
            }
            .subtitle-right{
                font-size: 15px;
            }
            .contentcontainer{
            padding: 5px 25px;
            .bg1{
                height: 29%;
                width: 60%;
                left: 65px;
                top: 25px;
            }
            .bg2{
                height: 28%;
                width: 45%;
                left: 90px;
                top: 9px;
            }     
            
            .bg3{
                height: 34%;
                width: 62%;
                left: 70px;
                top: 25px;
            }              
        }  
         
    }

        @media (min-width: 425px) {
            .left-class{
                width:100%;
                height:20vh;
            }
            .right-class{
                width:100%;
            }            
            .text-start{
                font-size: 15px;
            }
            .subtitle-right{
                font-size: 15px;
            }
            .contentcontainer{
            padding: 5px 25px;
            .bg1{
                height: 140px;
                width: 180px;
                left: 85px;
                top: 25px;
            }
            .bg2{
                height: 160px;
                width: 155px;
                left: 109px;
                top: 9px;
            }     
            
            .bg3{
                height: 170px;
                width: 220px;
                left: 80px;
                top: 0px;
            }              
        }  
         
    }

        @media (min-width: 767px) {
            .left-class{
                width:50%;
            }
            .right-class{
                width:50%;
            }                       
            .text-start{
                font-size: 15px;
            }
            .subtitle-right{
                font-size: 15px;
            }
            .contentcontainer{
            padding: 5px 5px;
            .bg1{
                height: 200px;
                width: 270px;
                left: 60px;
                top: 50px;
            }
            .bg2{
                height: 200px;
                width: 200px;
                left: 76px;
                top: 50px;
            }     
            
            .bg3{
                height: 200px;
                width: 300px;
                left: 55px;
                top: 50px;
            }              
        }  
         
    }
    
        @media (min-width: 1024px) {
            .left-class{
                width:50%;
            }
            .right-class{
                width:50%;
            }                       
        .contentcontainer{
            padding: 20px 50px;
            
        .bg1{
            height: 200px;
            width: 270px;
            left: 110px;
            top: 50px;
        }
        .bg2{
            height: 300px;
            width: 300px;
            left: 125px;
            top: 50px;
        }     
        
        .bg3{
            height: 200px;
            width: 280px;
            left: 85px;
            top: 50px;
        }    
        }                  

    }

        @media (min-width: 1440px) {
        .text-start{
            font-size: 20px;
        }
        .text-left{
            font-size: 20px;
        }
        .contentcontainer{
            padding: 20px 50px;
        .bg1{
            height: 405px;
            width: 500px;
            left: 35px;
            top: 0;
        }
        .bg2{
            height: 530px;
            width: 450px;
            left: 50px;
            top: -150px;
        }
        .bg3{
            height: 440px;
            width: 600px;
            left: 15px;
            top: -100px;
        }    
        }  
    }

        @media (min-width: 1900px) {
        .contentcontainer{
        .bg1{
            height: 400px;
            width: 600px;
            left: 35px;
            top:0;
        }
        .bg2{
            height: 600px;
            width: 500px;
            left: 75px;
            top: -165px;
        }
        .bg3{
            height: 500px;
            width: 650px;
            left: 15px;
            top: -160px;
        }    
        }  
    }    
</style>

<script>
export default {
    props: {
        imageId:String,
        subtitle:String,
        content:String
    }
}
</script>