<template>
 <!-- <div class="arrows">
     <div
      slot="prevArrow"
      slot-scope="props"
      class="custom-slick-arrow"
      style="left: 10px;zIndex: 1"
    >
      <LeftCircleOutlined />
    </div>
    <div slot="nextArrow" slot-scope="props" class="custom-slick-arrow" style="right: 10px">
      <RightCircleOutlined />
    </div>
</div> -->
  <a-carousel arrows>

    <div><h3>1</h3></div>
    <div><h3>2</h3></div>
    <div><h3>3</h3></div>
    <div><h3>4</h3></div>
  </a-carousel>
</template>
<script>
import { LeftCircleOutlined, RightCircleOutlined} from '@ant-design/icons-vue'
export default {
    components:{
        LeftCircleOutlined,
        RightCircleOutlined
    },
    mounted(){
     this.putArrow()
   },
   methods:{
         putArrow(){
           let btnPrev =document.querySelector('.slick-prev')
           let btnNext = document.querySelector('.slick-next')

           btnPrev.innerHTML = `<LeftCircleOutlined />`
           btnNext.textContent = `<RightCircleOutlined />`
       }
   }
};
</script>
<style scoped>
/* For demo */
.slick-prev, .slick-next{
    position: absolute;
    top:0px;
    left: 80px;
    height: 50px;
    height: 50px;
}
.ant-carousel >>> .slick-slide {
  text-align: center;
  height: 100vh;
  position: relative;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel >>> .custom-slick-arrow {
    position: absolute;
    top:0;
    left: 0;
  width: 25px;
  height: 25px;
  font-size: 25px;
  color: #fff;
  background-color: rgba(31, 45, 61, 0.11);
  opacity: 0.3;
}
.ant-carousel >>> .custom-slick-arrow:before {
  display: block;
}
.ant-carousel >>> .custom-slick-arrow:hover {
  opacity: 0.5;
}

.ant-carousel >>> .slick-slide h3 {
  color: #fff;
}
</style>
