<template>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-header">
        <CarouselContents
            :title="'Be intentional'"
            :subtitle="'agencies'"
            :content="'Enter. Post. Interact. Contract.'"
          />
      </div>
    <div class="row carousel-body">
      <CarouselCardContent
        :content="'Use DBECenter.com to find pools of verified, ready, willing, and able Certified Small Business firms. View their online Capability Statement and connect with them before or after you post your projects, contract opportunities, or supply requirements.'"
        :imageId="'1'"
        :subtitle="'Be ready to meet your goals. BE INTENTIONAL.'"
      />
    </div>
    </div>
    <div class="carousel-item">
    <div class="carousel-header">
      <CarouselContents
        :title="'do more'"
        :subtitle="'General Contractors'"
        :content="'Post. Share. Invite. Review. Contract.'"
      />
    </div>      
    <div class="row carousel-body">
      <CarouselCardContent
        :content="'Post your projects and sub-contracting opportunities and find verified firms who match the scope of work you are actually looking on DBECenter.com! View their capability and capacity and personally invite those specifically fitting your needs and get target focused responses to your bids, making your search more intentional! As an added bonus, our site makes your reporting easy for compliance easy!'"
        :imageId="'2'"
        :subtitle="' Be focused to contract. DO MORE.'"
      />
      </div>
    </div>
    <div class="carousel-item">
    <div class="carousel-header">
      <CarouselContents
        :title="'showcase you'"
        :subtitle="'Certified Small Businesses'"
        :content="'Search. Interact. Assess. Respond.'"
      />
    </div>
    <div class="row carousel-body">
      <CarouselCardContent
        :content="'Join other certified small businesses who have completed their profile and online assessments! Let our consultants help you create your Capability Statement online! Get found for projects, contract and supply purchases/opportunities.'"
        :imageId="'3'"
        :subtitle="'Be ready to be found. GET POSTED.'"
      />
    </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




 
</template>
<script>
import CarouselContents from "./CarouselContents.vue";
import CarouselCardContent from "./CarouselCardContent.vue";

export default {
  components: {
    CarouselContents,
    CarouselCardContent,
   
  },
  
};
</script>
<style scoped>
   .carousel-control-next-icon,.carousel-control-prev,.carousel-indicators{
    filter:invert(100%)
   }
</style>


<style>
    .carousel-header{
      padding:5%
    }

    .carousel-body{
      background: rgba(229, 229, 229, 0.47);
      padding: 0% 10% 0% 10%;
      margin-bottom:5%;
    }
    
</style>