<template>
        <div class="container-fluid">
            <div class="row">
                    <div class="col-md-12">
                        <div class="fab-header">APPLY NOW!</div>
                    </div>
            </div>

            <div class="row fab-body-background gx-3">
                <div class="col-md-3 pad">
                    <div class="background-white">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="fab-content-img"  src="https://static.wixstatic.com/media/cce23e_d142132554314c568d9e8ca528ae8562~mv2.png/v1/fill/w_100,h_100,al_c,q_85,usm_0.66_1.00_0.01/Apply.webp" alt="">
                             <p class="fab-content-text">APPLY</p>
                             <div style="border-top: 3px solid black;"></div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                             <p class="fab-content-text">WHAT YOU DO</p>
                             <p class="fab-content-text-second"><i>COMPLETE APPLICATION</i></p>
                             <p class="fab-content-text-third">Requirements:</p>
                             <p class="fab-content-text-third left-padding">U.S. Citizen or Permanent</p>
                             <p class="fab-content-text-third left-padding">Resident</p>
                             <p class="fab-content-text-third left-padding">In business for atleast 1 year</p>
                             <p class="fab-content-text-third left-padding">Earning a minimum amount of revenue</p>
                             <p class="fab-content-text-third left-padding">Verifiable and executed</p>
                             <p class="fab-content-text-third left-padding">contract</p>
                             <p class="fab-content-text-third left-padding">2 years history of prior work in the same field</p>
                        </div>
                    </div>    
                    </div>
                </div>

                <div class="col-md-3 pad">
                    <div class="background-white">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="fab-content-img"  src="https://static.wixstatic.com/media/cce23e_e9add9d4936d49b693ff266e9c9ea966~mv2.png/v1/fill/w_100,h_100,al_c,q_85,usm_0.66_1.00_0.01/Approval%20Process.webp" alt="">
                             <p class="fab-content-text">GET APPROVED</p>
                             <div style="border-top: 3px solid black;"></div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                             <p class="fab-content-text">WHAT'S NEXT</p>
                             <p class="fab-content-text-second"><i>COMPLETE APPLICATION</i></p>
                             <p class="fab-content-text-third">SCHEDULE YOUR CONSULTATION</p>
                             <p class="fab-content-text-third" style="padding-left:15%;padding-right:15%">Review Project Schedule</p>
                             <p class="fab-content-text-third" style="padding-left:15%;padding-right:15%">Review Loan Term Conditions</p>
                             <p class="fab-content-text-third" style="padding-left:15%;padding-right:15%">Validate Deposit Account</p>
                             <p class="fab-content-text-third">Approval</p>
                        </div>
                    </div>                    
                </div>
                </div>
                <div class="col-md-3 pad">
                    <div class="background-white">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="fab-content-img"  src="https://static.wixstatic.com/media/cce23e_ebafb992b27a43b0b8c56f2cf566b33b~mv2.png/v1/fill/w_100,h_100,al_c,q_85,usm_0.66_1.00_0.01/Send%20Expenses.web" alt="">
                             <p class="fab-content-text">SEND EXPENSES</p>
                             <div style="border-top: 3px solid black;"></div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                             <p class="fab-content-text">AND THEN</p>
                             <p class="fab-content-text-second"><i>SUBMIT</i></p>
                             <p class="fab-content-text-third">Expense Report Back Up Invoices</p>
                        </div>
                    </div>                    
                </div>
                </div>
                <div class="col-md-3 pad">
                    <div class="background-white">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="fab-content-img"  src="https://static.wixstatic.com/media/cce23e_ebafb992b27a43b0b8c56f2cf566b33b~mv2.png/v1/fill/w_100,h_100,al_c,q_85,usm_0.66_1.00_0.01/Send%20Expenses.web" alt="">
                             <p class="fab-content-text">RECEIVE FUNDS</p>
                             <div style="border-top: 3px solid black;"></div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                             <p class="fab-content-text">YOU GET</p>
                             <p class="fab-content-text-second"><i>Funded</i></p>
                             <p class="fab-content-text-third">Funds are directly desposit in 48 hours</p>
                        </div>
                    </div>     
                    </div>
                </div>                                                
            </div>

        </div>
</template>

<style lang="scss" scoped>
    .fab-header{
        margin-top:2%; 
        font-size:80px; 
        color:#DD1F4C; 
        font-weight:bold; 
        letter-spacing:2px;
    }

    .fab-body-background{
        background-image: url('https://static.wixstatic.com/media/cce23e_ff8ba06a313f48a9b89856ae60d16f8b~mv2_d_4076_2712_s_4_2.jpg/v1/fill/w_980,h_622,al_c,q_85,usm_0.66_1.00_0.01/cce23e_ff8ba06a313f48a9b89856ae60d16f8b~mv2_d_4076_2712_s_4_2.webp');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.7;

    }
    .pad{
        padding:2%
    }
    .background-white{
        height: 100%;
        background: white;
    }

    .fab-content-img{
        width: 40%;
        margin:10%;
    }

    .fab-content-text{
        color: #DD1F4C;
        font-size: 50px;
        font-weight:bold;
    }

    .fab-content-text-second{
        font-size: 30px;
        font-weight:bold;
    }

    .fab-content-text-third{
        padding: 0% 5%;
        font-size: 20px;
        text-align: left;

    }
    .left-padding{
        padding-left: 14%;
    }



    @media screen and (max-width: 1024px) {
        .fab-content-text{
            font-size:30px;
        }

        .fab-content-text{
            font-size:25px;
        }    
        
        .fab-content-text-third {
             font-size: 15px;
        }        
    }

    @media screen and (max-width: 768px) {
        .fab-header{
            font-size:40px;
        }

        .fab-content-img{
            width:25%;
        }

        .fab-content-text{
            font-size:25px;
        }

        .fab-content-text-second {
            font-size: 20px;
        }        
        .fab-content-text-third {
             font-size: 15px;
        }
    }    
</style>





