<template>
<div class="container-fluid gx-0">
    <div class="bg">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 fab-content">
                    <div class="row">   
                        <div class="context-header-first content-text-color">FAB</div>
                        <div class="context-header-second">FOCUS ADDRESS BUILD</div>
                        <div class="context-header-third content-text-color"><i>Working Capital Loan Program</i></div>
                    </div>
                    <div class="row">
                        <p class="p-text">CONGRATULATIONS! You signed a contract!</p>
                        <p class="p-text">Now you need to get your project off to the right start without the stress of funding!</p>
                    </div>
                    <div class="row">
                        <p class="p-text">FAB offers a unique funding process for</p>
                        <p class="p-text">commercial and government contractors!</p>
                        <p class="p-text">WCLP allows you to:</p>
                        <p class="p-text"><i>Focus on your projects, Address its needs, and Build your relationship!</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<style lang="scss" scoped>
    .bg{
        background-image: url('https://static.wixstatic.com/media/cce23e_703b5f4106a6436797b0403552d6b8b7~mv2_d_3156_4734_s_4_2.jpg/v1/fill/w_1349,h_536,al_c,q_85,usm_0.66_1.00_0.01/cce23e_703b5f4106a6436797b0403552d6b8b7~mv2_d_3156_4734_s_4_2.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;

    }
    .fab-content{
        background: white;
        margin-inline: auto;
        margin-top: 5%;
        margin-bottom: 6%;
    }

    .content-text-color{
        color:#DD1F4C; 
    }

    .context-header-first{
        font-size: 125px; 
        letter-spacing: 10px;        
        font-weight:bold; 
    }    
    .context-header-second{
        font-size: 40px;
        letter-spacing: 15px;       
        font-weight:bold; 
    }    
    .context-header-third{
        font-size: 25px; 
    }

    .p-text{
        font-size: 20px; 
    }

  @media screen and (max-width: 768px) {
    .fab-content{
        padding: 3%;
    }
    .context-header-first[data-v-1a656504] {
        font-size: 60px;
        letter-spacing: 10px;
    }
    .context-header-second[data-v-1a656504] {
        font-size: 20px;
        letter-spacing: 10px;
    }
    .context-header-third[data-v-1a656504] {
        font-size: 20px;
    }  
    .p-text{
        font-size: 10px; 
    }      
  }
</style>