<template>
     <div class="floating-cards-title"><b>{{title}}</b> 
        <button style="float: right;background-color: transparent;border:none"  @click.prevent="handleEvent">

        <slot></slot>
       
    </button>
    </div>
</template>

<script>
export default {
    props:{
        title:{
            type:String,
            default: ''
            },
        handleEvent: Function,
        
        
    },
}
</script>

<style lang="scss" scoped>
    .floating-cards-title{
        text-align: left;
        font-size: 1.9vh;
        font-family: Poppins;
        color:#DD1F4C;
        button.icon-btn{
            float: right;
            background-color: #DD1F4C;
            border:none;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            
            svg{
                fill:#FFFFFF
            }
         
        }
          button.icon-btn:hover{
           
            background-color: #ffffff;
            border: 1px solid;
            border-color: #DD1F4C;
               svg{
                fill:black;
            }
            
           
        }
    }
</style>