<template>
    <br/>   
   <h2>{{ title }}</h2>
   <br/> 
</template>

<script>
export default {
    props:{
        title:String
    },
}
</script>

<style lang="scss" scoped>
h2{
    color:#404145;
    
}
</style>