    <template>
    <div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <!-- <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h5>Comments and Ratings</h5>
            </div> -->
            <!--  -->
            <div v-for="service in setcontractorAvailedServices" :key="service">
                <div class="card p-3" style="margin-bottom:2%">
                    <div class="row">
                        <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
                            <div class="user d-flex flex-row align-items-center" style="width: 100%;text-align:left"> 
                                <img src="https://i.imgur.com/hczKIze.jpg" width="70" class="user-img rounded-circle mr-2"> 
                                <span  style="padding-left:4.5%;font-size:2vh;font-weight:500;color:#0d6efd"><div>{{service.item_name}}</div>
                                </span> 
                            </div> 
                                <div style="width: 14%;">
                                    <div class="row" ><b>Status : {{service.status}}</b></div>
                                <div class="row">{{dateTime(service.created_at)}}</div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-between align-items-center" style="width:100%;">
                            <div class="user d-flex flex-row align-items-center" style="width: 100%;text-align:left;"> 
                                <span style="width: 100%;padding-left:10%">
                                    <div >{{service.description}}</div>
                                </span> 
                            </div> 
                        </div>
                    </div>
                    <div style="padding:2% 0% 0% 10%"> 
                        <div v-if="comment"> 
                            <div class="float-end mt-2 pt-1" style="width:100%;text-align:right">
                                <!-- <button type="button" style="margin-right:1%" class="btn btn-outline-primary btn-sm" @click="reply_comment()">Reply</button> -->
                                <button type="button" class="btn btn-outline-primary btn-sm " style="width:7%" @click="this.toggleAvailedServiceModal=true;setAvailedService(service)" >View</button>
                            </div>
                        </div>
                        <!-- <div v-if="recomment">
                            <div class="d-flex flex-start w-100">
                                <div class="form-outline w-100">
                                    <textarea class="form-control" id="textAreaExample" rows="2" style="background: #fff;" placeholder="Reply....."></textarea>
                                </div>
                            </div>
                            <div class="float-end mt-2 pt-1" style="width:100%;text-align:right">
                                <button type="button" class="btn btn-primary btn-sm" style="margin-right:1%">Reply</button>
                                <button type="button" class="btn btn-outline-primary btn-sm" @click="reply_comment()">Cancel</button>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>


                    <!-- View contractor avail services -->
                    <teleport to="#modals" >
                        <div v-if="toggleAvailedServiceModal"  @click.self="viewAvailedServiceModal" class="modal-container">
                        <div class="container"> 
                            <div class="row gutters justify-content-center">
                            <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                                    <div class="card h-100" style="border-radius:20px">
                                    <div class="card-body">
                                        <div class="row gutters">
                                                                                     <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8" style="padding-bottom:2%">
                                                <div class="row">
                                                    <div class="row row-pad header-title">
                                                        <label for="fullName"><h2>Contractor Details</h2></label>
                                                    </div>
                                                    <div class="row row-pad">
                                                        <div style="font-size:2vh;padding-bottom:5%" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                            <div class="row">
                                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                                    <div class="form-group" >
                                                                        <label><b>Availed Service ID : </b> {{this.availedService.reference_number}}</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                                    <div class="form-group" >
                                                                        <label><b>Availed Status : </b>{{this.availedService.status}}</label>
                                                                    </div>
                                                                </div>
                                                            </div>                                                
                                                            <div class="row">
                                                                <div class="form-group">
                                                                <label><b>Date Availed : </b>{{dateTime(this.availedService.created_at)}}</label>
                                                                </div>
                                                            </div>
                                                        </div>                                        
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="font-size:1.6vh;padding-bottom:5%">
                                                                <div style="border-top: 1px solid  #F0F0F0;padding-bottom:2%"></div>
                                                            <label><b>Personal Information</b></label>
                                                            <div class="form-group">
                                                            <label>{{this.availedService.name}}</label>
                                                            </div>
                                                            <div class="form-group">
                                                            <div class="row">
                                                            <label>{{this.availedService.telephone}}</label>
                                                            </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style="font-size:1.6vh;padding-bottom:5%">
                                                            <div class="row">
                                                            <div style="border-top: 1px solid  #F0F0F0;padding-bottom:2%"></div>
                                                            <label><b>Note</b></label>
                                                            <label style="height:10vh">{{this.availedService.description}}</label>
                                                            </div>
                                                        </div>                                            
                                                        <div class="form-group" style="font-size:1.6vh;">
                                                            <div class="row">
                                                            <label><b>Address</b></label>
                                                            <div style="border-top: 1px solid  #F0F0F0;padding-bottom:2%"></div>
                                                            <label style="height:10vh">{{this.availedService.address}}</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4" style="padding:2% 2% 2% 2%">
                                                <div class="row">
                                                    <div class="row row-pad header-title">
                                                        <label for="fullName"><h1>Service</h1></label>
                                                    </div>
                                                        <div class="row" style="height: 45vh;">
                                                                    <!--  -->
                                                            <div class="cart-content" style="height:40vh">
                                                                  <div class="row mb-3 ">
                                                                        <div style="width:100%;float:left">
                                                                        <img v-bind:src="this.image_url_path+this.availedService.item.item_image" class="img-fluid" style="height:24vh" alt="...">
                                                                        </div>
                                                                        <div style="width:45%;float:left;line-height:2vh;text-align: left;">
                                                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="float:left"> 

                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <p><b>{{this.availedService.item.item_name}}</b></p>
                                                                        <p>{{this.availedService.item.identifier}}</p>
                                                                    </div>
                                                                </div>
                                                                    <!--  -->
                                                        </div>
                                                </div>
                                                <div class="row" style="padding-top:10%">
                               
                                                     <!-- <div class="row row-pad" style="padding-top:1%">
                                                        <button class="btn btn-outline-danger waves-effect" :disabled="this.availedService.status == 'cancelled' || this.availedService.status == 'approved'" @click.prevent="approvedAvailedService(this.availedService.id)"  data-dismiss="modal"> Approved </button>
                                                    </div> -->
                                                    <div class="row row-pad" style="padding-top:1%">
                                                        <button class="btn btn-outline-danger waves-effectr" :disabled="this.availedService.status == 'cancelled' || this.availedService.status == 'approved'"  @click.prevent="cancelAvailedService(this.availedService.id)" > Cancel </button>
                                                    </div>
                                                    <div class="row row-pad" style="padding-top:1%">
                                                        <button class="btn btn-danger" @click="viewAvailedServiceModal"  data-dismiss="modal">Back to List</button>
                                                    </div>                    
                                                </div>
                                            </div>                                                    
   
                                        </div>
                                    </div>
                                </div>
                            </div>   
                            </div>   
                    </div>   
                    </div>
                    </teleport>
                    <!-- View contractoravail services -->
</template>

<script>
import { mapState } from "vuex";
import moment from 'moment';

export default {
    data(){
        return {
            comment:true,
            recomment:false,
            toggleAvailedServiceModal:false,
            availedService : []
        }
    },
     components:{
    },
    methods: {
        reply_comment(){
            this.comment = !this.comment
            this.recomment = !this.recomment
        },
        dateTime(value) {
             return moment(value).format('LLL');
        },
        viewAvailedServiceModal(){
            this.toggleAvailedServiceModal = !this.toggleAvailedServiceModal
        },
        setAvailedService(service){
            this.availedService = service
        },
        async approvedAvailedService(id){
            await this.$store.dispatch('DASHBOARD/approvedAvailedService', id)
        },           
        async cancelAvailedService(id){
            await this.$store.dispatch('DASHBOARD/cancelAvailedService', id);
            this.toggleAvailedServiceModal = false;
        },
    },
    created(){
        this.$store.dispatch('DASHBOARD/fetchContractorAvailedService');
    },
    computed: {      
        ...mapState('DASHBOARD', {
            contractorAvailedServices     : state => state.contractorAvailedServices,
            image_url_path: state => state.imageUrl
        }),
        setcontractorAvailedServices() {
            return this.contractorAvailedServices
        }
    }
}
</script>

<style scoped>
body {
    background-color: #f7f6f6
}

.card {
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px
}

.dots {
    height: 4px;
    width: 4px;
    margin-bottom: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}

.badge {
    padding: 7px;
    padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #e9ecef
}

.user-img {
    margin-top: 4px
}

.check-icon {
    font-size: 17px;
    color: #c3bfbf;
    top: 1px;
    position: relative;
    margin-left: 3px
}

.form-check-input {
    margin-top: 6px;
    margin-left: -24px !important;
    cursor: pointer
}

.form-check-input:focus {
    box-shadow: none
}

.icons i {
    margin-left: 8px
}

.reply {
    margin-left: 12px
}

.reply small {
    color: #b7b4b4
}

.reply small:hover {
    color: green;
    cursor: pointer
}

.modal-container{
    position: fixed;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100%;
    width: 100%;
    top:0px;
    z-index:251;
    display: flex;
    justify-content: center;
    align-items: center;
    }
</style>
