<template>
    <!-- <div class="h-5/6 w-full d-md-flex flex-md-column d-sm-grid justify-content-start align-items-center p-8">
        <div class="title">
            SMALL BUSINESS SPOTLIGHT
        </div>
        <div class="justify-content-around d-sm-grid d-md-flex px-md-3 gap-72 w-100 mb-sm-4">
            <div v-for="(data,index) in datas"  :key="index" class="grid grid-row-3 ">
                <div class="b-title" >{{ data.title }}</div>
                <div class="b-subtitle">{{ data.subtitle }}</div>
            </div>
        </div>
    </div> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    SMALL BUSINESS SPOTLIGHT
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" v-for="(data,index) in datas"  :key="index" >
                <div class="b-title" >{{ data.title }}</div>
                <div class="b-subtitle">{{ data.subtitle }}</div>
            </div>
        </div>
    </div>

</template>

<style lang="scss" scoped>
    .title{
    padding-top:5%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    
    /* or 68px */

    // display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.145em;
    line-height: 10rem;
    }
    .b-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    /* or 38px */

    align-items: center;
    justify-content: center;
    letter-spacing: 0.145em;

    color: #DD1F4C;
}
.b-subtitle{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    /* or 38px */

    align-items: center;
    justify-content: center;
    letter-spacing: 0.145em;
    margin-bottom: 20px;
    color: #000000;
}

    @media (min-width: 320px) {
        .title{
            font-size: 25px;
            line-height: 45px;
            margin-bottom: 30px;            
        }
        .b-title{
            font-size: 25px;
        }        
        .b-subtitle{
            font-size: 20px;
            margin-bottom: 30px;            
        }
    }

    @media (min-width: 720px) {
        .title{
            font-size: 40px;
        }
    }    

    @media (min-width: 720px) {
        .title{
            font-size: 40px;
        }
    }       
    
    @media (min-width: 1024px) {
        .title{
            font-size: 55px;
        }
    }    
    
    @media (min-width: 1440px) {
        .title{
            font-size: 70px;
            margin-bottom: 60px;
        }
        .b-title{
            font-size: 50px;
        }   
        .b-subtitle{
            font-size: 30px;
        }
    }          
    
    @media (min-width: 1900px) {
        .title{
            font-size: 100px;
            margin-bottom: 120px;
        }
        
    }       


</style>
<script>
export default {
    data() {

        return {
            datas: [
                  {
                    title : 'bipoc',
                    subtitle : 'business'
                  },
                  {
                    title : 'veteran',
                    subtitle : 'business'
                  },
                  {
                    title : 'woman',
                    subtitle : 'business'
                  },
                ]
        
        }
    }
}
</script>