<template>
    <div class="row gx-0">
        <div class=" inline-border">
            <div class="row">
                <div class="title-first">{{title}}</div>
            </div>            
            <div class="row">
                <p class="title-second">{{ title2 }}​</p>
            </div>            
            <div class="row">
                <p class="subtitle"><b>{{ subtitle }}</b></p>
            </div>            
            <div class="row">
                <div class="col-md-8 content">
                     <p>{{content}}</p>
                </div>
            </div>
        </div>
    </div>

</template>


<script>
export default {
    props:{
        title:String,
        title2:String,
        subtitle:String,
        content:String
    }
}
</script>

<style lang="scss" scoped>
    .inline-border{
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        padding:3% 0%;
        margin-block: 7%;
    }

    .title-first{
        font-weight: 800;
        font-size: 70px;
        color: #FFFFFF;
        text-transform: uppercase;
    }    
    .title-second{
        font-size: 0.8vw;
        color: #FFFFFF;
        font-size:20px;
    }
    .subtitle{
        font-size: 25px;
        color: #FFFFFF;
        padding-top: 3%;
    }
    .content{
        font-size: 18px;
        color: #FFFFFF;
        padding: 1%;
        margin-inline: auto;
    }    

    @media (min-width: 320px) {
        .title-first{
            font-size: 25px;
        }
        .title-second{
            font-size: 15px;
        }
       .subtitle{
            font-size: 15px;
        }
        .content{
            font-size: 10px;
            padding: 0 10%;
        }          
    }
    @media (min-width: 768px) {
        .title-first{
            font-size: 40px;
        }
        .title-second{
            font-size: 15px;
        }
       .subtitle{
            font-size: 20px;
        }
        .content{
            font-size: 15px;
            padding: 0;
        }  
    }

    @media (min-width: 1440px) {          
        .title-first{
            font-size: 70px;
        }
        .title-second{
            font-size: 20px;
        }
       .subtitle{
            font-size: 25px;
        }
        .content{
            font-size: 18px;
            padding: 1%;
        }  
    }      
</style>

