<template>
  <nav class="bottom-nav">
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex justify-content-center" >
        <div v-for="(nav, index) in navs" :key="index">
          <NavBtn :data="nav" />
        </div>
      </div>
      <!-- <div class="text-danger fw-bold d-md-flex justify-content-center">
        JOIN TODAY!
      </div> -->
    </div>
  </nav>
</template>

<style lang="scss" scoped>
nav {
  background-color: #F8DDDF;
  max-height: 120px;
  // overflow-y:hidden;
}
.icon {
  width: 18px;
  height: 17px;
  cursor: pointer;
}
.loginbtn {
  cursor: pointer;
  a{
    color:#000000;
  }
}
.input-outline {
  outline: none !important;
  box-shadow: none;
}
.top-index {
  z-index: 10;
}
.bottom-nav{
  background-color: #393939;
   z-index: 3;
}

</style>

<script>
import NavBtn from "@/components/navigation-button/ButtonComponent.vue";
import { SearchOutlined, UserOutlined, ShoppingCartOutlined } from "@ant-design/icons-vue";
export default {
  name: "Navigation",
  components: {
    NavBtn,
    SearchOutlined,
    UserOutlined,
    ShoppingCartOutlined
  },
  data() {
    return {
      navs: [
        {
          title: "Home",
          link: "Home",
        },
        {
          title: "Do More",
          dropdata: [
            {
              subtitle: "DBEs & Certified Business",
              link: "dbe-certified-businesses",
            },
            {
              subtitle: "Project Owners, GCs, & Agencies",
              link: "project-owners-gcs-agencies",
            },
            {
              subtitle: "Capabilities Statement",
              link: "capability-statement",
            },
          ],
          toggle:false
        },
        {
          title: "Resources",
          dropdata: [
            {
              subtitle: "EOTR Series",
              link: "eotr-series",
            },
            {
              subtitle: "FAB : Working Capital Loan ",
              link: "fab-working-capital-loan",
            },
            {
              subtitle: "Partners",
              link: "partners",
            },
          ],
           toggledrop:false
        },
        {
          title: "Shop Zone",
          link: "shopzone",
        },
        {
          title: "Investors",
          link: "investors",
        },
        {
          title: "Contact",
          link: "contact-us",
        },
      ],
    };
  },
};
</script>
