<template>
  <div class="category-container">
    <div class="category-logo-container"> <CustomerServiceOutlined size/></div>
    <div class="line"></div>
    <div class="category-title">test</div>
  </div>
</template>

<script>
import {
  BankOutlined,
  AccountBookOutlined,
  AppstoreOutlined,
  CustomerServiceOutlined,
  MedicineBoxOutlined,
  ShopOutlined,
  ApartmentOutlined,
} from "@ant-design/icons-vue";

export default {
  components: {
    BankOutlined,
    AccountBookOutlined,
    AppstoreOutlined,
    CustomerServiceOutlined,
    MedicineBoxOutlined,
    ShopOutlined,
    ApartmentOutlined,
  },
};
</script>

<style lang="scss" scoped>
.category-logo-container{
  height: 50px;
  width: 50px;
}
</style>