<template>
  <nav
    class="d-md-flex flex-wrap justify-content-around align-items-center py-3 h-auto gap-10"
  >
    <div class="row w-100">
      <div class="col-md-3 nav-side-class">
        <router-link to="/">
          <img
            class="object-contain"
            src="@/assets/DBECENTER.svg"
            alt="DBECENTER logo"
          />
        </router-link>
      </div>
      <div class="col-md-6 h-auto center-class" >
        <div class="d-flex justify-content-center align-items-center h-100 search-container" >
          <div
          class="input-group d-flex justify-content-center align-items-center border  rounded border-dark search-input"
          >
            <input
              v-model="searchValue"
              @input.self="handleSearch(searchValue)"
              type="text"
              class="form-control input-outline search-input-text"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="basic-addon2"
              @keyup.enter="searchWithParams(this.searchValue)"
            />
            <button

              class="btn btn-dark h-100 search-btn-icon "
              type="button"
              id="button-addon2"
              @click="searchWithParams(this.searchValue)"
            >
              <SearchOutlined class="py-1"/>
            </button>
          </div>
          <div v-if="isDirty" class="search-items" >
              <ul style="padding-left:0.5%" v-for="(items,index) in filterSearch" :key="index">
                <li @click="searchWithParams(naicCodes[index])">{{items}}</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 nav-side-class">
        <div style="width:80%;" class="h-100 loginbtn">
          <div style="padding-bottom:2%">
            <div v-if="this.isUser">
          <button style="float: right;background-color: transparent;border:none" @click.prevent="this.togglecCartModal =true">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
              <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
            </svg>
          </button>
          </div>
          </div>
            <div v-if="isUser" class="auth-settings" @mouseover="userSettings =true" @mouseleave="userSettings =false">
           
              <div class="d-flex justify-content-center align-items-center gap-2 " @click="showUserSettings()">
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                <div class="nav-login">{{username}} </div>
              </div>
              <div class="dropdown-user" v-if="userSettings" style="padding:2%">
                <router-link to="/user-dashboard" class="">Dashboard</router-link>
                <div  @click.self='userCsModal();viewUserCS()'>Company Capabilities Statement</div>  
                <div class="logout-btn" @click.self='logout()'>Logout</div>
              </div>
             
          </div>
          <div v-if="!isUser">
            <router-link to="/login" class="">
              <div class="d-flex justify-content-center align-items-center gap-2 nav-login">
              <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              </svg>
               <div class="nav-login">Login</div> 
              </div>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <bottom-nav> </bottom-nav>

        <teleport to="#modals" >
            <div v-if="togglecCartModal"  @click.self="addToCartModal" class="modal-container">
               <cart :cart_list='cart_list' ></cart>
           </div>
        </teleport>

        <teleport to="#modals" v-if="this.userFullDetails.company">
            <div v-if="togglecUserCSModal" class="cs-modal-container" id="pdf-container">
                  <div class="container-fluid" style="padding:1%;">
                      <div class="row"   @click.self="userCsModal" style="justify-content: center;">
                        <div class="col-md-6 main-class" style="padding:0%">
                          <div  id="content">
                            <div class="bg">
                            <div class="row bg-backround">
                                <div class="col-md-6">
                                    <div class="row" style="padding:1%;">
                                        <div v-if="this.userFullDetails.company.logo" class="image-container">
                                            <img crossorigin="*" v-bind:src="this.image_url_path+this.userFullDetails.company.logo" class="rounded-circle shadow-1-strong me-3 image-logo"  alt="...">
                                        </div>
                                        <div v-else-if="!this.userFullDetails.company.logo"  class="image-container">
                                             <img class="image-logo" :src="require(`@/assets/DBECENTER-logo.png`)" />
                                        </div>                       
                                         <!-- <div class="image-container">
                                           <img class="rounded-circle image-logo" src="./images/MKC.png" />
                                         </div> -->
                                    </div>
                                    <div class="row logo-text">
                                        CAPABILITY   
                                        <br>                
                                        STATEMENT                   
                                  </div>
                                </div>
                                <div class="col-md-6 header-right-container">
                                        <div class="row">
                                            <p class="h2" style="font-weight:600">{{this.userFullDetails.company.name}}</p>
                                        </div>
                                        <div class="row">
                                            <p>{{this.userFullDetails.company.address2}}</p>
                                        </div>
                                        <div class="row">
                                            <p>{{this.userFullDetails.company.telephone}}</p>
                                        </div>
                                        <div style="border-top: 1px solid  #F0F0F0"></div>
                                        <div class="row">
                                            <p>{{ this.userFullDetails.company.country }}</p>
                                        </div>
                                        <div class="row">
                                            <p>{{ this.userFullDetails.company.address1 }} {{ this.userFullDetails.company.city }} {{ this.userFullDetails.company.region }} {{ this.userFullDetails.company.zipcode }}</p>
                                        </div>
                                </div>        
                            </div>
                            </div>

                            <div class="row text-position" >
                                    <div class="row">
                                      <div class="col-md-12">
                                          <div class="body-header-text">
                                                ABOUT {{this.userFullDetails.company.name}}
                                                <div style="border-top: 2px solid  #F0F0F0"></div>
                                          </div>
                                          <div class="body-header-child-text">
                                                {{this.userFullDetails.company.description}}
                                          </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div v-if="this.userData.company.capabilities" class="col-md-6 csf-width">
                                          <div class="body-header-text">
                                                CORE COMPETENCIES
                                                <div style="border-top: 2px solid  #F0F0F0"></div>
                                          </div>
                                          <div class="ul-class">
                                            <ul>
                                                <div v-for="capp in this.userFullDetails.company.capabilities" :key="capp" >
                                                    <li style="float:left;width:80%"> 
                                                        {{ capp }}
                                                    </li>
                                                </div>
                                            </ul>
                                          </div>
                                      </div>
                                        <div v-if="this.userData.company.references" class="col-md-6 csf-width" style="padding-left:5%">
                                            <div class="body-header-text">
                                                SERVED CLIENTS
                                                <div style="border-top: 2px solid  #F0F0F0"></div>
                                          </div>
                                          <div class="ul-class">
                                                    <div v-for="refer in this.userFullDetails.company.references" :key="refer" >
                                                        <div class="row gutters ul-class" style="padding:5% 0%">
                                                            <div class="row" style="color: #DD1F4C;"> 
                                                                <div class="form-group2" style="width:50%;float:left;padding-right:1%">
                                                                <label for="fullName" style="float:left;"><b>{{refer.company_name}} </b></label>
                                                                </div>
                                                            </div>
                                                            <div style="border-top: 2px solid  #F0F0F0"></div>
                                                            <div class="form-group-clients">
                                                                <label for="fullName" style="float:left">{{refer.contract_number}}</label>
                                                            </div>
                                                            <div class="form-group-clients">
                                                                <label for="fullName" style="float:left;">From : {{refer.from}} To :  {{refer.to}} </label>
                                                            </div>                                        
                                                            <div class="form-group-clients">
                                                              <div v-if="refer.contract_value">  <label for="fullName" style="float:left">${{refer.contract_value}}</label></div>
                                                            </div>
                                                            <div class="form-group-clients">
                                                                <label for="fullName" style="float:left">{{refer.service_offered}}</label>
                                                            </div>
                                                            <div class="form-group-clients">
                                                                <label for="fullName" style="float:left">{{refer.contractor_name}} -  {{refer.contractor_position}}</label>
                                                            </div>   
                                                        </div>
                                                    </div>
                                          </div>                                       
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div  v-if="this.userData.company.differentiators" class="col-md-6 csf-width">
                                            <div class="body-header-text">
                                                DIFFERENTIATORS
                                              <div style="border-top: 2px solid  #F0F0F0"></div>
                                          </div>   
                                          <div class="ul-class">
                                            <ul>
                                                <div v-for="diff in this.userFullDetails.company.differentiators" :key="diff" >
                                                    <li style="float:left;width:80%"> 
                                                        {{ diff }}
                                                    </li>
                                                </div>
                                            </ul>
                                          </div>                                            
                                      </div>
                                      <div v-if="this.userData.company.government_designation" class="col-md-6 csf-width">
                                            <div class="body-header-text">
                                                 Government Designation
                                                <div style="border-top: 2px solid  #F0F0F0"></div>
                                            </div>                   
                                          <ul id="menu" v-for="(items) in this.userData.company.government_designation.governmentDesignation" :key="items">
                                                  <img class="rounded-circle government-logo" :src="require(`@/assets${items.url}`)" />
                                                  <span class="government-logo-text">{{items.department}}</span>
                                          </ul>                                                                             
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="body-header-text">
                                            CODES and CERTIFICATIONS
                                            <div style="border-top: 2px solid  #F0F0F0"></div>
                                        </div>                       
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6 codes-header-text">
                                            DUNS NUMBER
                                        <ul class="codes-body-text">
                                            <li>
                                                {{this.userFullDetails.company.duns_number}}
                                            </li>
                                        </ul>                   
                                      </div>
                                        <div class="col-md-6 codes-header-text">
                                            CAGE CODE
                                        <ul class="codes-body-text">
                                            <li>
                                                {{this.userFullDetails.company.cage_code}}
                                            </li>
                                        </ul>                   
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6 codes-header-text">
                                            NAICS CODES 
                                        <ul class="codes-body-text">
                                            <li v-for="naic in this.userFullDetails.company.naics_codes" :key="naic">
                                                {{ naic }}
                                            </li>
                                        </ul>                   
                                      </div>
                                        <div class="col-md-6 codes-header-text">
                                            CERTIFICATIONS
                                            <ul class="codes-body-text">
                                                <li v-for="cert in this.userFullDetails.company.certifications" :key="cert">
                                                    {{ cert }}
                                                </li>      
                                            </ul>                  
                                      </div>
                                    </div>
                            </div>
                            <div class="bg">
                                <div class="col-md-12 bg-backround" style="text-align:justify;padding:0%;height:5vh"> 
                                    <div class="row">
                                      <div class="footer-right-container">
                                          <p>Created at DBE Center</p>
                                      </div>
                                  </div>
                                </div> 
                            </div>
                          </div>

                        </div>
                        <div class="col-md-1">
                              <button type="button" @click="makePDF" id="removeButton" class="btn btn-danger">Download</button>
                        </div>
                      </div>
                  </div>
           </div>
        </teleport>
</template>
  
  <script>
  import NavBtn from "@/components/navigation-button/ButtonComponent.vue";
  import { SearchOutlined, UserOutlined, ShoppingCartOutlined } from "@ant-design/icons-vue";
  import bottomNav from '@/components/bottomNav.vue'
  import cart from '@/views/cart/cart.vue'
  import { mapState } from 'vuex';
  import html2canvas from 'html2canvas';
  import jsPDF from 'jspdf';
  export default {
    name: "Navigation",
    components: {
      NavBtn,
      SearchOutlined,
      UserOutlined,
      ShoppingCartOutlined,
      bottomNav,
      cart
    },
      data() {
        return {
          username : localStorage.getItem('username'),
          isUser : localStorage.getItem('blog_token'),
          togglecCartModal:false,
          togglecUserCSModal:false,
          searchValue:'',
          isDirty:false,
          userSettings:false,
          suggestedValues: [],
          suggestedValuesWithNoDuplicate: [],
            toggleUserShopModal :false,
            activetab: 1,
            productList: [],
            serviceList: [],
            userFullDetails : []
        };
      },
          computed: {
        ...mapState('CART', {
              userCartList: state => state.userCartList,
              userCart: state => state.userCart,
              searchNaicCodeList: state => state.searchNaicCodeList,
              searchNaicCodeandDescList: state => state.searchNaicCodeandDescList,
          },
        ),
        ...mapState('DASHBOARD', {
                image_url_path: state => state.imageUrl,
                userData: state => state.userFullDetails,
            }
        ),
        userDetails() {
            return this.userData;
         },

        cart_list() {
            return this.userCartList
        },
        user_cart() {
            return this.userCart
        },       
        naicsList() {
            return this.searchItemIdentifierList
        },       
        CompanyNaicsList() {
            return this.searchCompanyList
        },
        naicCodes() {
            return this.searchNaicCodeList
        },   
        naicCodesandDesc() {
            return this.searchNaicCodeandDescList
        },
        filterSearch(){
          if(this.searchValue.length >= 3){
                return this.naicCodesandDesc
          }
     }
    },
    watch:{
          searchValue: function(val){
            this.$store.dispatch('CART/getNaicsCode', this.searchValue);
          },
          userDetails: function(val){
            this.userFullDetails =  this.userDetails;

          }
    },
    created(){
        if(localStorage.getItem('isLoggedin')){
         this.$store.dispatch('CART/getUserCart');
        }
    },
    updated(){
   
    },
      methods: {
        makePDF(){
            var pdf = new jsPDF();
            var element = document.getElementById('content');
            // var width = element.style.width;
            // var height = element.style.height;
            // console.log(height);
            // console.log(width);
            // document.getElementById('removeButton').style.display='none';

            html2canvas(element, {useCORS: true,allowTaint: true}).then(canvas => {
                var image = canvas.toDataURL('image/png');
                // pdf.addImage(image, 'JPEG', 0, -1, width, height);
                pdf.addImage(image, 'JPEG', 0, -1, 210, 300);
                pdf.save(this.userFullDetails.company.name +' Capability Statement.pdf');
            });
        },
        handleLogin() {
          this.$store.state.auth.isAuth = !this.$store.state.auth.isAuth;
        },      
         handleSearch(value){
          value.length >= 3 ? this.isDirty =true : this.isDirty =false
        },
         async logout(){
          await this.$store.dispatch('USERAUTH/logoutUser')
       },
        addToCartModal(){
            this.togglecCartModal = !this.togglecCartModal
        },        
        userCsModal(){
            this.togglecUserCSModal = !this.togglecUserCSModal
        },
        clickoutside(){
            // this.isDirty = false
            // this.searchValue = '';
        },
        searchWithParams(data){
            this.$router.push({ name: 'search-results', params: { search_string: data } });
            this.isDirty = false;
            // this.searchValue = '';
        },
        viewUserCS(){
          // if(!this.userFullDetails.company){
          //   alert('Please Fill Up DBE General Assesment');
          // }else{
             this.$store.dispatch('DASHBOARD/getUserFullDetails', localStorage.getItem('user_id'));
          // 
        }
      },

  };
  </script>
<style lang="scss" scoped>
    .modal-container{
    position: fixed;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    // backdrop-filter: blur( 4px );
    // -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100%;
    width: 100%;
    top:0px;
    z-index:5;
    display: flex;
    justify-content: right;
    padding-right:4.5%;
    padding-top:3%;
    }
.cs-modal-container{
    position: fixed;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100%;
    width: 100%;
    top:0px;
    z-index:251;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}  

nav {
  background-color: #E8E8E8;
  max-height: 120px;
  // overflow-y:hidden;
}
img {

  width: 173px;
  height: 54px;
  // filter: invert(99%) sepia(1%) saturate(585%) hue-rotate(182deg) brightness(112%) contrast(82%);
}
.icon {
  width: 18px;
  height: 17px;
  cursor: pointer;
}
.loginbtn {
  display:flex;
  justify-content:flex-end;
  align-items:center;
  gap:20px;
  cursor: pointer;
  a{
    color:#000000;
  }
  .auth-settings{
    position: relative;


    .dropdown-user{
      z-index: 998;
      position: absolute;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      width: 200px;
      left:-50px;
      gap:10px;
      box-shadow: 0px 10px 15px 15px rgba(0,0,0,0.1);
    }
    
    .dropdown-user > *{
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dropdown-user > *:hover{
      background-color: #DD1F4C;
      color:#E8E8E8
    }

  }
}
.input-outline {
  outline: none !important;
  box-shadow: none;
}

.nav-login{
  padding-top:2%;
  font-size:20px;
}
.top-index {
  z-index: 10;
}
.bottom-nav{
  background-color: #393939;
}
.search-container{
  width: 100%;
  position: relative;
  .search-btn{

    padding: 7px;
    border-radius: 0.25px;
  }
  .search-btn-icon{
        padding: 6px 22px;
      border-radius: 0.25px;
  }
  .search-input{
    border:1px black solid;
    .search-input-text{
      
      box-shadow: none;
  } 
  .search-input-text:focus{
    outline: 1px solid black !important;
  }
  
  }
  .search-items{
    padding: 15px 10px;
    margin-right: 13%;
    display: block;
   word-wrap: break-all;
   text-overflow: ellipsis;
  //  overflow: auto;
    width: 87.9%;
    height: 20vh;
    position: absolute;
    top:5.1vh;
    transform: translateX(4%);
    background-color:#ffffff;
    z-index:20;
    box-shadow: 3px 10px 38px 16px rgba(0,0,0,0.1);
    overflow: scroll;
    overflow-x: hidden;
    ul{
      li{
        text-decoration: none;
        list-style: none;
        display: flex;
        cursor: pointer;
      }:hover { 
        color: rgb(73, 163, 232); 
        cursor: pointer;
        }
    }
  }
  ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


}

@media screen and (max-width: 767px) {
    .row.w-100 { margin: auto;}
}


///////////////////////////////////////
    .header-right-container{
      text-align: right;
      font-size: 16px;
      padding: 2%;
    }

    .text-position{
        text-align:left;
        padding:0% 2%;
    }

    .bg{
        background-image: url('./images/dbe-certified-small-business.png');
        background-repeat: no-repeat;
        background-size: cover;
        color:white;

    }   

    .bg-backround {
        padding: 1%;
        margin:0.1%;
        background: rgba(140, 0, 33, 0.158); 
    }

    .image-container{
        text-align: left;
        padding-left: 10%;
    }

    .logo-text{
      font-size: 30px;
      font-weight: 700;
      text-align: justify;
      padding-left: 10%;
      line-height: 35px;
    }

    .body-header-text{
        font-size:16px;
        font-weight: 1000;
        padding-top:5%
    }    
    
    .body-header-child-text{
        font-size:15px;
    }

    .ul-class{
        text-align:left;
        font-size:15px
    }
    .image-logo{
        width:40%;
        height:15vh;
        border-radius: 0;
    }
    .codes-header-text{
        font-size: 15px;
    }
    .codes-body-text{
        text-align:left;
        font-size:15px
    } 

    .main-class{
         margin-bottom: 1%;
         background: white;
         box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    }

.box2 {
  width: 250px;
  border: 4px solid #DD1F4C;
  padding: 20px;
  text-align: center;
  float:right;
  font-weight: 900;
  color: #DD1F4C;
  font-family: arial;
  position: fixed;
  box-shadow: 4px 4px 5px #999;
}


/* speech bubble 7 */

.sb11:before {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 10px solid #DD1F4C;
  border-right: 10px solid transparent;
  border-top: 10px solid #DD1F4C;
  border-bottom: 10px solid transparent;
  left: 20px;
  bottom: -23px;
}

.sb11:after {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 10px solid #fff;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  left: 24px;
  bottom: -13px;
}


// show company shop
.shopzone-title{
    text-align:left;
    padding-top:3%;
    font-size:2.8vh;
    color: #DD1F4C;
    font-weight: 800;
    width:100%;
}
.view-all{
    width:50%;
    color:#DD1F4C;
    font-size:2vh;
    font-weight: 300;
    margin-left: 79.5%;
}
.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    position: relative;

    .button-scroll-next,.button-scroll-prev {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
        border:0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .button-scroll-next:hover,.button-scroll-prev:hover{
        background-color: white;
    }

    .card.backred{
    background-color: red !important;
}
    
}

.company-header{
        background:#DD1F4C;
        height: 6vh;
        padding:1.5%;
        box-shadow: 0px 4px 17px #999;
    }
  .modal-container{
    position: fixed;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100%;
    width: 100%;
    top:0px;
    z-index:251;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .form-group2{
        line-height: 4vh;
    }
    .form-group-files{
        padding-top: 0% ;
    }
    .search-items{
    padding: 15px 10px;
    display: block;
    word-wrap: break-all;
    text-overflow: ellipsis;
    margin-left: -1%;
    width: 27.5%;
    height: 20vh;
    position: absolute;
    top:65.1vh;
    transform: translateX(4%);
    background-color:#ffffff;
    z-index:20;
    box-shadow: 3px 10px 38px 16px rgba(0,0,0,0.1);
    overflow: scroll;
    overflow-x: hidden;
    ul{
      li{
        text-decoration: none;
        list-style: none;
        display: flex;
        cursor: pointer;
      }:hover { 
        color: rgb(73, 163, 232); 
        cursor: pointer;
        }
    }
  }
  ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

   .category{
        height: 77%;
    }
    .title{
    font-size:2.5vh;
    font-weight: 500;
    padding-top:5%;
    text-align:center;
    }
    #item-list{
        width: 100%;
        height: 53vh;
        overflow-x:scroll;
        gap:10px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
         scroll-behavior: smooth;
       .top-list{
           cursor: pointer;
            .card {
            width: 32%; 
            margin-bottom: 2%;
            margin-right: 1%;
            height: 25vh;
            float: left;
        }
       }
    }
    #item-list::-webkit-scrollbar{
        display: none;
    }
    .services-text{
        text-align: left;
        font-size: 1.5vh;
        font-weight: bold;
    }
            /* Style the tabs */
    .tabs {
        overflow: hidden;
        margin-bottom: -2px; // hide bottom border
    }

    .tabs ul {
        list-style-type: none;
        margin-left: 20px;
    }

    .tabs a{
        float: left;
        cursor: pointer;
        padding: 12px 24px;
        transition: background-color 0.2s;
        border: 1px solid #ccc;
        border-right: none;
        background-color: #f1f1f1;
        border-radius: 10px 10px 0 0;
        font-weight: bold;
    }
    .tabs a:last-child { 
        border-right: 1px solid #ccc;
    }

    /* Change background color of tabs on hover */
    .tabs a:hover {
        background-color: #aaa;
        color: #fff;
    }

    /* Styling for active tab */
    .tabs a.active {
        background-color: #DD1F4C;;
        color: #fff;
        border-bottom: 2px solid #fff;
        cursor: default;
    }


    @media (max-width:1024px) {
    .image-logo {
        width: 60%;
        height: 25vh;
        }
      .side-class{
            width:0%
        }            
        .main-class{
            width:100%
        }            
    }  
    
    @media (max-width:768px) {
        .container-fluid{
            width: 100%;
        }
        .csf-width {
            width: 100%;
            }
        .image-logo {
            width: 65%;
            height: 20vh;
            }
        .logo-text {
            font-size: 30px;
            font-weight: 600;
            text-align: justify;
            padding-left: 15%;
            line-height: 45px;
        }        
        .header-right-container {
            text-align: right;
            font-size: 15px;
        }    
        .body-header-text {
            font-size: 25px;
            font-weight: 1000;
            padding-top: 2%;
        }    
        .body-header-child-text {
            font-size: 15px;
        }        
        .ul-class {
            text-align: left;
            font-size: 15px;
        }    
        .side-class{
            width:0
        }            
        .main-class{
            width:100%
        }    
        .codes-body-text{
            text-align:left;
            font-size:15px;
            padding-left: 7%;
        }   
        .codes-header-text{
            font-size: 18px;
        }  
        .nav-side-class{
            width:25%;
        }    
        .center-class{
            width:50%;
        }             
        
    }     
    
    @media (max-width:425px) {
        .container-fluid{
            width: 100%;
        }
        .csf-width {
            width: 100%;
            }
        .image-logo {
            width: 65%;
            height: 20vh;
            }
        .image-container{
            text-align: center;
        }
        .logo-text {
            padding-left: 28%;
            padding-bottom: 5%;
        }        
        .header-right-container {
            text-align: right;
            font-size: 15px;
        }    
        .body-header-text {
            font-size: 20px;
            font-weight: 1000;
            padding-top: 5%;
        }    
        .body-header-child-text {
            font-size: 15px;
        }        
        .ul-class {
            text-align: left;
            font-size: 15px;
        }    
        .side-class{
            width:0%
        }            
        .main-class{
            width:100%
        }    
        .codes-body-text{
            text-align:left;
            font-size:13px;
            padding-left: 7%;
        }

        .codes-header-text{
            font-size: 20px;
        }    
        
        .object-contain{
              width: 90px;
              height: 50px;
        }
        .nav-login{
            font-size: 10px;
        }
        .search-input{
           height: 31px;
           width: 80%;
        }
        .search-input-text{
          font-size: 10px;
        }
        .search-btn-icon{
          padding: 0px 15px !important;
        }

        .loginbtn{
              gap: 5px;
        }
        .cart-modal-card-container{
          width: 75%;
        }

        .search-items{
          margin-right: 5% !important;
          width: 78.9% !important;
          font-size:10px;
        }

        .bottom-nav{
          height: 40px;
        }
    }      

    .footer-right-container{
        text-align:right;
        font-size: 10px;
        padding-right:3%;
        padding-top:1%;
        color: #eceaeb7a;
    }    

////////////////////////////////////////////////

    .government-logo{
      width: 70px;
      height: 60px;
      margin: 10px 0 0 0;        
        // border: 3px solid #DD1F4C  
    }

    .government-logo-text{
      font-size:12px;
      padding-left:20px;
    }
</style>
