<template>
        <div  v-for="(result,index) in inputResults" :key="result" class="assesment-text" >
                {{ result }}
            <div style="float:right">
                <button class="assesment-button"  @click="delete_certifications(index)">
                    <svg style="padding-bottom: 20%;" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                    <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                    </svg>
                </button>
            </div>
        </div>
</template>
<script>
export default {
    props:{
        inputResults:Array
    },
}
</script>

<style lang="scss" scoped>
    .assesment-text{
        margin-top:1%;
        float:left;
        font-size:2vh;
        border:1px solid #ccc;
        border-radius: 5px;
        padding:0% 1% 0% 2%;
        background: aliceblue;
        margin-right:1%;
    }
    .assesment-button{
        background-color: transparent;
        border:none;
        color:#DD1F4C;
        width: 100%;
    }
</style>