<template>
  <div class="container-class">
    <FabHeader />
    <FabBody />
  </div>
</template>

<script>
// @ is an alias to /src
import FabHeader from '@/views/web/resources/fab/sections/FabHeaderSection.vue'
import FabBody from '@/views/web/resources/fab/sections/FabBodySection.vue'

export default {
  name: 'fab-working-capital-loan',
  components: {
    FabHeader,
    FabBody
  }
}
</script>

<style scoped>
    .container-class{
        max-width: 1920px;
        margin-inline:auto;
    }
</style>
