<template>
   <div class="container-fluid project-owners-wrapper gx-0">
       <div class="row gx-0" >
           <div class="col-md-12">
            <div class="banner">
                <BannerComponent 
                    :title="'DO MORE'" 
                    :title2="'Enter. Post. Interact. Contract.'" 
                    :subtitle="'A TOOL FOR PROJECT OWNERS, GENERAL CONTRACTORS, AND GOVERNMENT AGENCIES'"
                    :content="'Government contracting have set project goals for Minorities and WomenFinding these Disadvantaged Business Enterprises (DBEs), Women Owned (WOSB or WBE), Veteran Owned (VOSB), and other certified small businesses is no easy task. DBECENTER.COM iprovides an innovative and inclusive way to make this connection and collaboration.'" />
                />
            </div>
           </div>
       </div>
       <div class="row">
            <div class="col-md-12" style="margin:2% 0%">
                <div class="header-text">Why use DBECenter.com?</div>
            </div>
       </div>    

       <div class="row">
            <div class="col-md-8 inline-auto">
                <div class="row">
                  <div v-for="content in contentText" :key="content">
                      <div class="body-main">
                        <span class="body-content">{{content.text}}</span>
                      </div>
                  </div>
                </div>
            </div>
       </div>   

       <div class="row">
        <div class="lower-body-border">
             <p class="lower-text-first"><b>JOIN TODAY AND TAKE ADVANTAGE OF THESE SERVICES!</b></p>
             <p class="lower-text-second">(You must be an active subscriber in order to access these features)</p>     
             <p class="lower-text-third">Current Subscribers, please <b>LOG IN</b>.</p>                     
        </div>
       </div>
   </div>   
</template>

<script>
import BannerComponent from '@/components/BannerComponent.vue'


export default {
     name:'project-owners-gcs-agencies',
     components: {
        BannerComponent
    },
    data() {
        return{
            contentText: [
                {text: "DBECenter brings government agencies, general contractors, investors and partners together through a unique portal, providing access to DBEs and certified small business firms."},
                {text: "Firms completed a three stage assessment and verification process. They are deemed \"qualified willing and able\""},
                {text: "Our paten pending unified code matches procurement codes like the NAICS, DOT and/or AIA item codes to your project or other scope related or product number codes"},
                {text: "Our humanized codes allows you to fully interact with your qualified businesses, from inviting them to bid to receiving their bid."},
                {text: "Our customized systems gives you the ability to print reports that details \"Good Faith Effort documentations - outreach, follow up, and more.\""}
            ]
        }
    }
}

</script>

<style lang="scss" scoped>
  .project-owners-wrapper{
         max-width: 1920px;
    }
    .banner{
        background-image: url('./images/dbe-proj-owners.png');
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
    }   
    .header-text{
        font-size: 75px;
    }    
    .inline-auto{
        margin-inline:auto;
    }
    .body-main{
        text-align:justify;
        padding:3% 0%
    }
    .body-content{
        font-size: 18px;
    }   
    
    .lower-body-border{
        border-top: 2px solid  #DD1F4C;
        border-bottom: 2px solid  #DD1F4C;
        padding:3% 0%;
        margin-block: 7%;
        .lower-text-first{
            font-size:40px;
        }        
        .lower-text-second{
            font-size:28px;
        }        
        .lower-text-third{
            font-size:19px;
        }
    }

    @media (min-width: 320px) {
        .header-text{
             font-size: 30px;
             margin: 0px 2%;             
        }
        .body-main{
            padding:3% 5%;
        }
        .body-content {
            font-size: 13px;
            padding:0% 2%;
        }
        .lower-body-border{
          padding: 3% 5%;
            .lower-text-first {
                font-size: 25px;
            }
            .lower-text-second {
                font-size: 15px;
            }    
            .lower-text-third {
                font-size: 15px;
            }                    
        }
    }

    @media (min-width: 720px) {
        .header-text{
             font-size: 40px;
             margin: 0px 2%;             
        }
        .body-main{
            padding:3% 5%;
        }
        .body-content {
            font-size: 15px;
            padding:0;
        }
        .lower-body-border{
          padding: 3% 5%;
            .lower-text-first {
                font-size: 30px;
            }
        }
    }

    @media (min-width: 1440px) {
            .header-text{
             font-size: 70px;
        }
        .body-content{
            font-size: 18px;
        }           
    }
</style>