<template>

<div class="container" style="padding:2%">
    <div class="row">
        <div class="col-md-2" style="border:1px">
        <div class="row category-text">
            Category
        </div>
            <div class="row text-line-height">
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" v-model="isProjects">
                    </div>
                    <div class="col-md-10 text-start">
                        <label>Projects</label>
                    </div>
                </div>            
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" v-model="isProducts">
                    </div>
                    <div class="col-md-10 text-start">
                        <label>Products</label>
                    </div>
                </div>            
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" v-model="isServices">
                    </div>
                    <div class="col-md-10 text-start">
                        <label>Services</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <!--  -->
                <div class="row" v-if="isProjects">
                    <div class="row">
                        <div class="col-md-6">
                              <div class="shopzone-title">
                             Projects
                             </div>      
                        </div>                    
                        <div class="col-md-6">
                              <div class="view-all">
                                <a  @click="shopZoneProjects()" class="view-all" ><u> View All</u> </a>
                             </div>      
                        </div>
                    </div>

                    <div class="content-container">
                        <button class="button-scroll-prev" @click.prevent='prevGroup1' ><LeftOutlined/></button>
                            <project-items :projectItems='projectList'> </project-items>
                        <button class="button-scroll-next" @click.prevent='nextGroup1'><RightOutlined/></button>
                    </div>
                </div>                  
                <!--  -->
                <div class="row padding-top"  v-if="isProducts">
                    <div class="row">
                        <div class="col-md-6">
                              <div class="shopzone-title">
                             Products
                             </div>      
                        </div>
                         <div class="col-md-6">
                              <div class="view-all">
                                <a  @click="shopZoneProducts()" class="view-all" ><u> View All</u> </a>
                             </div>      
                        </div>                        
                    </div>

                    <div class="content-container">
                        <button class="button-scroll-prev" @click.prevent='prevGroup2' ><LeftOutlined/></button>
                            <product-items :productItems='productList'> </product-items>
                        <button class="button-scroll-next" @click.prevent='nextGroup2'><RightOutlined/></button>
                    </div>
                </div>
                <!--  -->
                <div class="row padding-top"  v-if="isServices">
                    <div class="row">
                        <div class="col-md-6">
                              <div class="shopzone-title">
                             Services
                             </div>      
                        </div>
                        <div class="col-md-6">
                              <div class="view-all">
                                <a  @click="shopZoneServices()" class="view-all" ><u> View All</u> </a>
                             </div>      
                        </div>                              
                    </div>

                    <div class="content-container">
                        <button class="button-scroll-prev" @click.prevent='prevGroup3' ><LeftOutlined/></button>
                            <service-items :serviceItems='serviceList'> </service-items>
                        <button class="button-scroll-next" @click.prevent='nextGroup3'><RightOutlined/></button>
                    </div>
                </div>
                            
            </div>
        </div>        
    </div>
</div>
</template>



<script>
import serviceItems from '@/views/web/shopzone/services/ServiceComponent'
import productItems from '@/views/web/shopzone/products/ProductComponent'
import projectItems from '@/views/web/shopzone/projects/ProjectComponent'

import titleComponent from '@/components/base/titleComponent'
import cardIcons from '@/components/cardCategoryComponent'
import { LeftOutlined, RightOutlined } from "@ant-design/icons-vue";
import { mapState } from 'vuex'
export default {
    components:{
        serviceItems,
        titleComponent,
        LeftOutlined,
        RightOutlined,
        cardIcons,
        projectItems,
        productItems
 
    },
    data(){
      return{
          isProjects: true,
          isProducts: true,
          isServices: true,
      }
    },
    computed:{
        ...mapState('SHOPZONE', {
            projectsData: state => state.list_of_projects,
            servicesData: state => state.list_of_services,
            productData: state => state.list_of_product,
        }),
        projectList() {
            return this.projectsData
        },
        serviceList() {
            return this.servicesData
        },
        productList() {
            return this.productData
        }
    },
    created(){
        this.$store.dispatch('SHOPZONE/getProjectList');
        this.$store.dispatch('SHOPZONE/getServiceList');
        this.$store.dispatch('SHOPZONE/getProductList');
    },
    methods:{
        nextGroup1(){
             document.getElementById('project-list').scrollLeft += 1150;
        },
        prevGroup1(){
             document.getElementById('project-list').scrollLeft -= 1150;
        },
        nextGroup2(){
             document.getElementById('product-list').scrollLeft += 1150;
        },
        prevGroup2(){
             document.getElementById('product-list').scrollLeft -= 1150;
        },
        nextGroup3(){
             document.getElementById('service-list').scrollLeft += 1150;
        },
        prevGroup3(){
             document.getElementById('service-list').scrollLeft -= 1150;
        },
        shopZoneProjects(){
            this.$router.push({ name: 'project' })
        },        
        shopZoneServices(){
            this.$router.push({ name: 'services' })
        },        
        shopZoneProducts(){
            this.$router.push({ name: 'products' })
        }
    }
}
</script>
<style lang="scss" scoped>
.view-all{
    color:#DD1F4C;
    font-size:2vh;
    font-weight: 300;
    text-align: right;
}
.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    position: relative;

    .button-scroll-next,.button-scroll-prev {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
        border:0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .button-scroll-next:hover,.button-scroll-prev:hover{
        background-color: white;
    }
    .card.backred{
        background-color: red !important;
    }
}

.shopzone-title{
    font-size:25px;
    color: #DD1F4C;
    font-weight: 600;
    text-align:left;
}
.card-wrapper{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
.category-text{
    font-size:20px;
    text-align:left;
    padding-bottom:10%;
}
.text-line-height{
    line-height: 40px;
}

.padding-top{
    padding-top:10%
}
</style>