<template>
<div class="section-join">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="left-contentJT">
                    <ul>
                        <li>Project owners, General Contractors, & Agencies</li>
                        <li>JOIN TODAY!</li>
                        <li>$599/month</li>
                        <li class="flex justify-center">
                        <div class="btn btn-border btn-outline-light px-12 py-1">JOIN NOW</div> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-contentJT">
                    <div class="list-container">
                        <ul>
                            <li>Gain access to DBEs and Certified Small Businesses!</li><br>
                            <li>Save time and streamline your bidding process.</li><br>
                            <li>Consolidated portal for bids, RFPs, events, education, and e-commerce!</li><br>
                            <li>Create your e-market campaign and track your efforts, results, and responses in one place.</li><br>
                            <li>Closes the loop in the procurement process for both sides.</li><br>
                            <li>Complimentary to your existing outreach efforts</li><br>
                        </ul>   
                    </div>
                </div>    
            </div>            
        </div>
    </div>
</div>
</template>

<style lang="scss" scoped>
.btn-border{
    border-color: #DD1F4C;
    font-size: 25px;
    width: 280px;
    height: 50px;
}
.section-join{
    background-color: #7C7C7C;
    color: #FFFFFF;
    font-family: Poppins;
    .left-items{
    width: 50%;
     ul{
         li{
            list-style: none;
         }
         li:first-child{
            font-style: italic;
            font-weight: 400;
            font-size: 18px;
            
         }
         li:nth-child(2){
           
            font-style: normal;
            font-weight: bold;
            font-size: 64px;
            margin-bottom: 100px;
         }
         li:nth-child(3){
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            margin-bottom: 100px;
         }
     }
    }

    .left-contentJT{
        margin-top: 30%;
        ul{
            li{
                list-style: none;
            }
            li:first-child{
                font-style: italic;
                font-weight: 400;
                font-size: 25px;
            }
            li:nth-child(2){
            
                font-style: normal;
                font-weight: bold;
                font-size: 95px;
                margin-bottom: 85px;
            }
            li:nth-child(3){
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 65px;
                margin-bottom: 75px;
            }
        }
    }

    .right-contentJT{
        text-align: justify;
        margin: 11% 6% 10% 0%;        
        .list-container{
            background-color: #393939;
            font-size: 23px;
            padding: 10%;
            ul{
                list-style: disc;
                li:first-child{
                padding-top: 40px;
                }
            }
        }
    }

    @media (min-width: 320px) {
    .left-contentJT{
            margin-top: 10%;
            ul{
                padding-left:0;
                li:first-child{
                    font-size: 10px;
                }
                li:nth-child(2){
                    font-size: 40px;
                    margin-bottom: 0;
                }
                li:nth-child(3){
                    font-size: 30px;
                    margin-bottom: 75px;
                }
            }
        }
        .btn-border{
            font-size: 15px;
            width: 170px;
            height: 30px;
        }

        .right-contentJT{
            margin: 0;        
            .list-container{
                    font-size: 14px;
                    padding: 2%;
                ul{
                    list-style: disc;
                    li:first-child{
                    padding-top: 0px;
                    }
                }
            }
        }        
    } 
    
    @media (min-width: 768px) {
     .left-contentJT{
            margin-top: 30%;
            ul{
                padding-left:0;
                li:first-child{
                    font-size: 15px;
                }
            }
        }
        .btn-border{
            font-size: 18px;
            width: 200px;
            height: 35px;
        }

        .right-contentJT{
            margin: 5% 5% 5% 0%;        
            .list-container{
                    font-size: 13px;
                    padding: 5%;
                ul{
                    list-style: disc;
                    li:first-child{
                    padding-top: 0;
                    }
                }
            }
        }     
    }

    @media (min-width: 1024px) {
     .left-contentJT{
            margin-top: 15%;
        }
    }

    @media (min-width: 1440px) {
    .left-contentJT{
        margin-top: 30%;
        ul{
            li{
                list-style: none;
            }
            li:first-child{
                font-weight: 400;
                font-size: 25px;
            }
            li:nth-child(2){
                font-size: 95px;
                margin-bottom: 85px;
            }
            li:nth-child(3){
                font-size: 65px;
                margin-bottom: 75px;
            }
        }
    }

    .right-contentJT{
        text-align: justify;
        margin: 11% 6% 10% 0%;        
        .list-container{
            font-size: 23px;
            padding: 10%;
            ul{
                li:first-child{
                padding-top: 40px;
                }
            }
        }
    }  
    
        .btn-border{
            font-size: 22px;
            width: 270px;
            height: 50px;
        }    
    }

}

</style>