<template>
 <div class="container mx-auto">
     <hr>
</div>
    <div class="d-md-flex justify-content-center d-sm-grid gap-4 py-3 footer-links">
        <div class="footer-items">Resources</div>
        <div class="footer-items">Investor</div>
        <div class="footer-items">ShopZone</div>
        <div class="footer-items">Contact us</div> 
    </div>
<div class="w-full py-4 copyright">
 Copyright 2014 -2021   DBECenter.com LLC.  All rights reserved. 
</div>
 
</template>

<style lang="scss" scoped>
    .copyright{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 101%;
        /* or 18px */
       
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.02em;
        background-color: #393939;
        color: #FFFFFF;

    }
    .footer-items{
        color: #7C7C7C;
        font-weight: 500;
        font-size: 18px;
         border:1px solid rgba(255,255,255,.5);
         padding: 2px 8px;
         border-radius: 2px;

    }
    .footer-items:hover{
        border: 1px solid #7C7C7C ;
        cursor:pointer;
        background-color: #7C7C7C;
        color: #FFFFFF;
        box-shadow: -1px 0px 32px -3px rgba(15,13,13,0.52);
-webkit-box-shadow: -1px 0px 32px -3px rgba(15,13,13,0.52);
-moz-box-shadow: -1px 0px 32px -3px rgba(15,13,13,0.52);
    }
</style>