<template>

    <div class="card-container" :style="cssProps">
        <div class="card-body">
            <div class="row margin320">
                       <div class="row" >
                          <div class="card-title">{{ title }}</div>
                       </div>
                       <div class="row" >
                            <slot class=""></slot>
                       </div>
            </div>

            <br><br>
            <div class="button-container">
            <a href="#" class="btn"  style="color:white;">{{ btnText }}</a>
         
            </div>                   
        </div>                  
    </div> 


    
</template>


<style lang="scss" scoped>
    .card-title{
        color: #DD1F4C;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;  
        padding-bottom:10%;
    }
    .card-container{
        
        width: 100%;
        padding: 60px;
        height: 100%;

        .card-body{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;

           
            .button-container{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 100%;

                .btn{
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    width: 233px;
                    height: 46px;
                     background-color:#DF244C;
                }

            }
        }
      
    }

        @media (min-width: 320px) {
            .card-title{
                font-size: 25px;
                line-height: 25px;
            }
            .margin320{
                margin-left:10px;
            }
            .card-container{
                padding: 15px;
            }

            .btn{
                font-size: 13px;
                width: 140px !important;
                height: 30px !important;
            }
        }
        @media (min-width: 375px) {
            .card-title{
                font-size: 25px;
                line-height: 30px;
            }
            .margin320{
                margin-left: 14px;
            }
            .card-container{
                padding: 15px;
            }

            .btn{
                font-size: 13px;
                width: 180px !important;
                height: 40px !important;
            }
        }

        @media (min-width: 1024px) {     

        }

        @media (min-width: 1440px) {
           .card-container{
                padding: 60px;
            }
            .card-title{
                font-size: 31px;
                line-height: 35px;
            }
           .btn{
                 width: 233px !important;
                height: 46px !important;
            }            
            
        }    
</style>

<script>
import { computed } from '@vue/reactivity'
export default {
    props: {
        title:String,
        btnText:String,
        imgUrl:String
    },
    data(){
        return{
            url:'',
        }
    },
    computed:{
       cssProps(){
        return 'background-image: url(\'../home/'+ this.imgUrl +'\'); background-repeat: no-repeat; background-size: cover; '
        
       }
    }
    
}
</script>