<template>

<!-- <div class='h-auto d-md-flex d-sm-grid flex-sm-column flex-md-row w-100'>
 
    <CardComponent :title="cardlist[0].title" :btnText="'Sign Up (free)'" :imgUrl="'small_business.png'" >
        <br/>
        <p class="card-content  text-white">GET FOUND!
            <br>
            <br>Complete your Assessment <br/> for FREE and we will build  <br/> your Capability Statement  <br/> and Profile online! <br/> <br/>
           
            <br>Search for posted  <br/>opportunities in Vertical, <br/> Horizontal, Professional,<br/> Technical, Business,<br/> Maintenance Services, and <br/> more using your NAICS <br/> codes.
        </p> 
    </CardComponent>

    <CardComponent :title="cardlist[1].title" :btnText="'Learn More'"  :imgUrl="'project_owner.png'" >
        <br/>
        <p class="card-content text-white">Find BIPOC, Dsadvantaged <br/> Business Enterprises (DBEs), <br/> Women Owned  (WOSB or <br/> WBE), Veteran Owned <br/> (VOSB), and other certified <br/> small businesses!    
                    <br>  
                    <br>Learn how our proprietary  <br/> software is providing an  <br/> innovative and inclusive  <br/> way to make this  <br/> connection and  <br/> collaboration happen!
        </p>
    </CardComponent>

    <CardComponent :title="cardlist[2].title" :btnText="'Learn More'"  :imgUrl="'investors.png'">
        <br/>
         <p class="card-text text-center text-white">Find out about our <br/><br/>
         Working Capital Loan Program <br/>backed by our<br/><br/> signature Five Level Risk<br/> Management tool.  Register<br/> here to identify investment<br/> opportunities!</p>
                   
    </CardComponent>
    <CardComponent :title="cardlist[3].title" :btnText="'Learn More'"  :imgUrl="'partners.png'" >
        <br/>
        <p class="card-text text-center text-white">Looking for community<br/> such as local <br/> associations, bonding <br/> information or commercial<br/> liability insurance?  Find out<br/> more here!</p>
              
    </CardComponent>
</div> -->

<div class="container-fluid g-0">
    <div class="row  g-0">
        <div class="col-md-3 third-content">
            <CardComponent :title="cardlist[0].title" :btnText="'Sign Up (free)'" :imgUrl="'small_business.png'" >
                <br/>
                <p class="card-content">GET FOUND!
                    <br>
                    <br>Complete your Assessment <br/> for FREE and we will build  <br/> your Capability Statement  <br/> and Profile online! <br/> <br/>
                
                    <br>Search for posted  <br/>opportunities in Vertical, <br/> Horizontal, Professional,<br/> Technical, Business,<br/> Maintenance Services, and <br/> more using your NAICS <br/> codes.
                </p> 
            </CardComponent>
        </div>        
        <div class="col-md-3 third-content">
            <CardComponent :title="cardlist[1].title" :btnText="'Learn More'"  :imgUrl="'project_owner.png'" >
                <br/>
                <p class="card-content">Find BIPOC, Dsadvantaged <br/> Business Enterprises (DBEs), <br/> Women Owned  (WOSB or <br/> WBE), Veteran Owned <br/> (VOSB), and other certified <br/> small businesses!    
                            <br>  
                            <br>Learn how our proprietary  <br/> software is providing an  <br/> innovative and inclusive  <br/> way to make this  <br/> connection and  <br/> collaboration happen!
                </p>
            </CardComponent>
        </div>        
        <div class="col-md-3 third-content">
            <CardComponent :title="cardlist[2].title" :btnText="'Learn More'"  :imgUrl="'investors.png'">
                <br/>
                <p class="card-content">Find out about our <br/><br/>
                Working Capital Loan Program <br/>backed by our<br/><br/> signature Five Level Risk<br/> Management tool.  Register<br/> here to identify investment<br/> opportunities!</p>
                        
            </CardComponent>
        </div>        
        <div class="col-md-3 third-content">
            <CardComponent :title="cardlist[3].title" :btnText="'Learn More'"  :imgUrl="'partners.png'" >
                <br/>
                <p class="card-content">Looking for community<br/> such as local <br/> associations, bonding <br/> information or commercial<br/> liability insurance?  Find out<br/> more here!</p>
                    
            </CardComponent>
        </div>

    </div>
</div>

    
</template>

<style lang="scss" scoped>

</style>

<script>
import CardComponent from '@/views/web/home/sections/CardSection/CardComponent.vue'

export default {
    components:{
        CardComponent
       
    },
  
    data (){
        return{
            cardlist : [
                {
                    title: 'DBEs & Certified Small Businesses',
                    url: '#',
                    image:''
                    
                },
                 {
                    title: 'Project Owners, General Contractors, & Agencies',
                    url: '#',
                    image:''
                },
                {
                    title: 'Investors',
                    url: '#',
                    image:''
                },
                {
                    title: 'Partners & Community Resources',
                    url: '#',
                    image:''
                }
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
    .card-content{
        color:white;
        font-size: 20px;
        line-height: 40px;
      }

        @media (min-width: 320px) {
            .card-content{
               font-size: 15px;
               line-height: 20px;
           }
        }

        @media (min-width: 768px) {
            .third-content{
                width:50%
            }
        }
    
        @media (min-width: 1024px) {               
           .third-content{
                width:50%
            }
        }

        @media (min-width: 1440px) {
           .third-content{
                width:25%
            }

            .card-content{
                font-size: 20px;
                line-height: 40px;
            }
        }
</style>