<template>
   <Web />
</template>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.body{
  overflow-x: hidden;
}
#app {
  
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
 
}

</style>
<script>
import Web from '@/layout/webLayout'

import 'ant-design-vue/dist/antd.css';
export default {
  name: "App",
  components: {
  Web
  },
  data(){
    return{
      
    }
  }
};
</script>
