<template>
    <div class='cart-modal-card-container'>
        <div class="modal-form" style="padding:5%;">
            <h4 >Your Shopping Cart</h4>
            <div style="border-top: 2px solid  #F0F0F0;padding-bottom:5%"></div>
            <div class="cart-content">
                <!--  -->
            <div v-for="(item,index) in cart_list" :key="item">
                <div class="row mb-3 ">
                    <div style="width:5%;float:left;padding-left:5%;padding-top:5%">
                       <!-- <input type="checkbox" @change="array_push(item)" v-model="bool_checklist">  -->
                        <input type="checkbox" v-on:click="array_push($event,item,index)">
                    </div>
                    <div style="width:25%;float:left">
                    <img v-bind:src="this.image_url_path+item.item.item_image" class="img-fluid" style="height:6vh" alt="...">
                    </div>
                    <div style="width:45%;float:left;line-height:2vh">
                    <p><b>{{item.item.item_name}}</b></p>
                    <p>{{item.item.identifier}}</p>
                    <div style="width:100%">
                        <button style="float:left;background-color: transparent; border: none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                             <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                             <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                        <p style="float:left;width: 55%;text-align:center">{{item.quantity}}</p>
                        <button style="float:left;background-color: transparent; border: none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-dash-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </button>
                    </div>


                    </div>
                    <div style="width:20%;float:right;">
                    <div style="width:100%;text-align:right;color:#DD1F4C;" type="button"> 
                        <button style="background-color: transparent;border: none;"  type="button" @click="deleteItem(item.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        </button>
                    </div>
                    <p style="padding-top: 100%"><b>{{item.price}}$</b></p>
                    </div>
                </div>
            </div>
            <!--  -->
            </div>
            <div style="border-top: 2px solid  #F0F0F0;"></div>
            <div class="row mb-3">
                <div style="font-size:2.2vh">
                <p style="width:50%;float:left"><b>Total</b></p>
                <p style="width:50%;float:right;text-align:right"><b>{{this.total_checklist}}$</b></p>
                </div>
            </div>
            <div style="text-align: center;" class="modal-button">
                <button style="width:100%;background:#DD1F4C;color:white" type="button" @click.prevent="this.toggleChecklistModal =true"  class="btn btn-outline-danger">Check Out</button>
            </div>
        </div>
    </div>

        <teleport to="#modals" >
            <div v-if="toggleChecklistModal"  @click.self="placeOrderModal" class="modal-container" style="padding-bottom:2%;padding-top:2%">
               <!-- <cart :cart_list='cart_list' :total_price='this.total_price' ></cart> -->
                <div class="container"> 
                <div class="row gutters justify-content-center">
                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                        <div class="card h-100" style="border-radius:20px">
                        <div class="card-body">
                            <div class="row gutters">
                                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7" style="padding:2% 8% 8% 8%">
                                    <div class="row">
                                        <div class="row row-pad header-title">
                                            <label for="fullName"><h1>Your Cart</h1></label>
                                        </div>
                                            <div class="row" style="height: 45vh;">
                                                           <!--  -->
                                                  <div class="cart-content" style="height:40vh">
                                                        <div v-for="(item) in order.items" :key="item">
                                                            <div class="row mb-3 ">
                                                                <div style="width:30%;float:left">
                                                                <img v-bind:src="this.image_url_path+item.item.item_image" class="img-fluid" style="height:11vh" alt="...">
                                                                </div>
                                                                <div style="width:45%;float:left;line-height:2vh;text-align: left;">
                                                                <p><b>{{item.item.item_name}}</b></p>
                                                                <p>{{item.item.identifier}}</p>
                                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="float:left"> 
                                                                     <p><b>{{item.price}}$</b></p>
                                                                </div>
                                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="float:right">
                                                                    <button style="float:left;background-color: transparent; border: none">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                                                        </svg>
                                                                    </button>
                                                                    <p style="float:left;width: 50%;text-align:center">{{item.quantity}}</p>
                                                                    <button style="float:left;background-color: transparent; border: none">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-dash-square" viewBox="0 0 16 16">
                                                                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                                                        </svg>
                                                                    </button>
                                                                    </div>


                                                                </div>
                                                                <div style="width:25%;float:right;">
                                                                <div style="width:100%;text-align:right;color:#DD1F4C;" type="button"> 
                                                                    <button style="background-color: transparent;border: none;"  type="button" @click="deleteItem(item.id)">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                                    </svg>
                                                                    </button>
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        <!--  -->
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div style="border-top: 5px solid  #F0F0F0;padding-bottom:2%"></div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="float:left">
                                          <label style="font-size:2vh;padding-bottom:4%"><b>Total :</b></label>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="float:right;text-align:right">
                                          <label style="font-size:2vh;padding-bottom:4%"><b>{{this.total_checklist}} $</b></label>
                                        </div>
                                    </div>
                                </div>                                                    
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5" style="padding-bottom:2%">
                                    <div class="row">
                                        <div class="row row-pad header-title">
                                            <label for="fullName"><h2>Summary</h2></label>
                                        </div>
                                        <div class="row row-pad">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                            <label for="phone">Name</label>
                                            <input type="text" class="form-control" id="phone" placeholder="Enter phone number" v-model="order.name">
                                            </div>                                            
                                            <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input type="text" class="form-control" id="phone" placeholder="Enter phone number"  v-model="order.telephone">
                                            </div>                                            
                                            <div class="form-group">
                                            <label for="phone">Delivery Note</label>
                                                <textarea class="form-control" id="textAreaExample" rows="2"  v-model="order.description" style="background: #fff;" placeholder="Reply....."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                            <div class="form-group" style="width:50%;float:left;padding-right:1%">
                                                <label for="website">Street</label>
                                                <input type="text" class="form-control" id="website"  placeholder="Enter Street"  v-model="order.street">
                                            </div>
                                            <div class="form-group" style="width:50%;float:right;padding-left:1%">
                                                <label for="fullName">City</label>
                                                <input type="text" class="form-control"  placeholder="Enter City"  v-model="order.city">
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group" style="width:33%;float:left;padding-right:1%">
                                                <label for="fullName">Region</label>
                                                <input type="text" class="form-control" placeholder="Enter Region" v-model="order.region">
                                            </div>
                                            <div class="form-group" style="width:33%;float:left">
                                                <label for="fullName">Zipcode</label>
                                                <input type="text" class="form-control" placeholder="Enter zipcode" v-model="order.zipcode">
                                            </div>
                                            <div class="form-group" style="width:33%;float:right">
                                                <label for="fullName">Country</label>
                                                <input type="text" class="form-control"  placeholder="Enter Country" v-model="order.country">
                                            </div>                                            
                                        </div>
                                        <label style="font-size:2vh"><b>Shiping Address</b></label>
                                        </div>
                                        <div class="row row-pad">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                                <div style="border-top: 1px solid  #F0F0F0;padding-bottom:2%"></div>
                                                <input type="text" class="form-control"  placeholder="Enter Service Title " >
                                                <label for="fullName">Card Number</label>
                                            </div>
                                        </div>
                                        <div class="row row-pad">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                            <div style ="float:left;padding-right:1%" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" >
                                                <input type="text" class="form-control"  placeholder="Enter Service Title " >
                                                <label for="fullName">Expiration</label>
                                            </div>
                                            <div style ="float:right;padding-left:1%" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" >
                                                <input type="text" class="form-control"  placeholder="Enter Service Title " >
                                                <label for="fullName">Cvv</label>
                                            </div>
                                            </div>
                                            <label style="font-size:2vh;padding-bottom:4%"><b>Payment Method</b></label>
                                            <div style="border-top: 1px solid  #F0F0F0;padding-bottom:2%"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="row row-pad">
                                            <button type="button" id="submit" name="submit" @click.prevent="placrOrder" class="btn btn-danger">Place Order</button>
                                        </div>
                                        <div class="row row-pad">
                                            <button class="btn btn-outline-danger waves-effect"  @click="placeOrderModal" data-dismiss="modal">Back to Shopping</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                </div>   
        </div>   
           </div>
        </teleport>

</template>




<script>
import { mapState } from 'vuex';
  import checkList from '@/views/cart/checklist.vue'

export default{
    components: {
      checkList
    },
     data(){
        return {
            checklist : [],
            total_checklist : 0,
            toggleChecklistModal:false,
            order: {
               name             : '',
               telephone        : '',
               description      : '',
               street           : '',
               city             : '',
               region           : '',
               zipcode          : '',
               country          : '',
               items            : []
            }
        }
    }, 
    props:{
        cart_list:Array,
    },
    methods: {
        async deleteItem(id) {
        await this.$store.dispatch('CART/DeleteItemFromCart', id)
        }, 
        array_push(event,item,index) {
            if (event.target.checked) {
                this.order.items.push(item)
                this.total_checklist += (item.item.unit_cost * item.quantity)
            } else {
                this.order.items.splice(index, 1);
                this.total_checklist -= (item.item.unit_cost * item.quantity)
            }
        },      
        placeOrderModal(){
            this.toggleChecklistModal = !this.toggleChecklistModal
        },
        async placrOrder(){
            await this.$store.dispatch('CART/placeOrderApi', this.order)
        }
    },
    computed: {
        ...mapState('DASHBOARD', {
            image_url_path: state => state.imageUrl,
        })
    }
}
</script>

<style lang="scss" scoped>
    .modal-container{
    position: fixed;
    background: rgba(255, 255, 255, 0.863);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    // backdrop-filter: blur( 4px );
    // -webkit-backdrop-filter: blur( 2px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100%;
    width: 100%;
    top:0px;
    z-index:300;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    }
.cart-modal-card-container{
        position: absolute;
        box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.10);
        width: 20%;
        padding: 1%;
        border-radius: 12px;
        background-color: white;
        height: 50%;
        top: 60px;
        right: 85px;        
    }
.cart-content{
    padding-top:5%;
    height: 25vh;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

  .modal-card-container{
        width: 60%;
        .image-modal{
                width: 100%;
                border-radius: 12px;
                // height: 20vh;
                margin-bottom: 5%;
                // border: 1px solid rgb(214, 208, 208);
            .image-button{
                background: rgba(255, 255, 255, 0);
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                font-size: 2vh;
                color: gray;
            }
        }
        .text-size{
            font-size:1.5vh;
        }
        .form-control-modal{
            height: 4vh;
            width: 100%;
            border-radius: 5px;
            border: 1px solid rgb(184, 184, 184);
            padding: 2%;
        }
        .form-select-modal{
            width: 100%;
            border-radius: 5px;
            border: 1px solid rgb(184, 184, 184);
            height: 4vh;
            padding: 1%;
            color: rgb(153, 149, 149);
        }
    
    }
    .form-group{
        text-align: left;
        padding-bottom: 2%;
    }
    .row-pad{
        padding-bottom: 3%;
    }
    .header-title{
        text-align: center;
        padding-top:5%;
    }
</style>