<template>
  <div class="home home-wrapper">
    <HeroSection />
    <CardSection />
    <JoinToday/>
    <BusinessComponent />
    <Contact />
  
  </div>
</template>

<script>
// @ is an alias to /src
import HeroSection from '@/views/web/home/sections/HeroSection/HeroSection.vue'
import CardSection from '@/views/web/home/sections/CardSection/CardSection.vue'
import JoinToday from '@/views/web/home/sections/JoinSection/JoinTodayComponent.vue'
import BusinessComponent from '@/views/web/home/sections/BusinessSection/BusinessComponent.vue'
import Contact from '@/views/web/home/sections/ContactSection/ContactForm.vue'


export default {
  name: 'Home',
  components: {
  
    HeroSection,
    CardSection,
    JoinToday,
    BusinessComponent,
    Contact
  }
}
</script>

<style scoped>
  .home-wrapper{
    max-width: 1920px;
    margin-inline:auto;
  }
</style>
