<template>
  <div class="container-class">
    <eotr-header></eotr-header>
    <eotr-body></eotr-body>
  </div>
</template>

<script>
// @ is an alias to /src
import EotrHeader from '@/views/web/resources/eotr/sections/EotrHeaderSection.vue'
import EotrBody from '@/views/web/resources/eotr/sections/EotrBodySection.vue'

export default {
 
  components: {
    EotrHeader,
    EotrBody
  },
}
</script>

<style scoped>
    .container-class{
        max-width: 1920px;
        margin-inline:auto;
    }
</style>