<template>
<!-- <Navigation/> -->
  <router-view name="navigation"></router-view>
  <!-- <transition name="fade"> -->
  <router-view  />
  <!-- </transition > -->
  <router-view name='footer'></router-view>
</template>

 
<script>
// import Navigation from "@/container/top-navigation/Navigation.vue";
// import Footer from '@/components/footer/Footer.vue'

export default {
  name: "webLayout",
  components: {
  
  },
};
</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .9s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
.view-index{
  z-index:1;
}
</style>