<template>
        <div class="dbe-services-container">
            <div class="dbe-services">
                <div class="services-text">
                        <table style="border:1px" class="table">
                            <thead>
                                <tr>
                                <th scope="col">
                                    <div class="tabs">
                                        <a v-on:click="activetab=1" v-bind:class="[ activetab === 1 ? 'active' : '' ]">projects</a>
                                        <a v-on:click="activetab=2" v-bind:class="[ activetab === 2 ? 'active' : '' ]">Orders</a>
                                        <a v-on:click="activetab=3" v-bind:class="[ activetab === 3 ? 'active' : '' ]">Availed Services</a>
                                        <a v-on:click="activetab=4" v-bind:class="[ activetab === 4 ? 'active' : '' ]">Company/Profile Rating</a>
                                    </div>
                                </th>

                                <th scope="col" style="text-align:right">
                                       <button type="button" class="btn btn-secondary" style="height:4vh;font-size:1.5vh;background:#DD1F4C;" @click.prevent="this.toggleModal =true">Create Project</button>
                                </th>

                                </tr>
                            </thead>
                       </table>
                </div>

                <div  v-if="activetab === 1"> 
                    <div class="row gx-2" >
                            <div style="width:33.3%;padding-bottom:2%"  v-for="item in projects" :key="item">
                                <div style="width:100%"  class="col-lg-3 col-md-6 services-card">
                                    <!-- <div class="company-header" style="height:4vh">
                                    </div> -->
                                    <div class="services-card-content">
                                        <div class="card" style="border:none">
                                            <div class="card-body">
                                                <div class="row gutters">
                                                    <div style="width:100%;text-align:right;padding-bottom:2%;color:#DD1F4C" @click.prevent="this.toggleDeleteItemModal=true;deleteItembyId(item)" type="button"> 
                                                        <button style="background-color: transparent;border: none;"  type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                        </svg>
                                                        </button>
                                                    </div>
                                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-12" >
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="float:left;padding-top:2%;">
                                                            <div class="form-group2">
                                                                <div class="image-modal">
                                                                <div class="image" style="border:0px;">
                                                                        <!-- <p>Company Logo : {{ this.userData.social }} </p> -->
                                                                    <div class="image" style="border:0px;">
                                                                        <!-- <p>Company Logo : {{ this.userData.social }} </p> -->
                                                                    <div v-if="item.item_image">
                                                                        <img  :src="this.image_url_path+item.item_image" style="width:100%;height:15vh;border-radius: 0;"/>
                                                                    </div>
                                                                    <div v-else-if="!item.item_image">
                                                                        <img style="width:100%;height:15vh;" :src="require(`@/assets/DBECENTER-logo.png`)" />
                                                                    </div>      
                                                                    </div>                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group2">
                                                                <div style="float:left;">
                                                                    <p>{{ item.category_id }} Views
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>                                                      
                                                    </div>  
                                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12">
                                                        <p style="font-size:2.5vh;margin-bottom:3%"><b>{{ item.item_name }}</b></p>
                                                        <p>{{ item.item_type }} </p>
                                                        <p><b>{{ item.identifier }}</b></p>
                                                        <p> {{ dateTime(item.from) }} - {{ dateTime(item.to) }}</p> 
                                                        <p style="padding-top:5%;height:11vh;font-size:1.5vh;overflow-x: hidden;overflow-y: hidden" class="card-text">
                                                            {{ item.item_description }}
                                                        </p>
                                                    </div>                                                          
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-7 col-12" style="text-align:right">
                                                        <!-- <button style="margin-right:2%;margin-top: 5%;height: 5vh;" type="button" class="btn btn-outline-success btn-primary" ><b>View Project Details</b></button> -->
                                                        <button style="margin-right:2%;margin-top: 5%;height: 5vh;" type="button" class="btn btn-outline-success btn-primary" @click.prevent="this.toggleShareProjectModal=true"><b>Share Project</b></button>
                                                        <button style="margin-top: 5%;height: 5vh;" type="button" id="submit" name="submit" @click.prevent="this.toggleUpdateModal=true;setItembyId(item);fetchItem()" value="Update" class="btn btn-danger">View Project</button>
                                                    </div>  
                                                </div>  
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

                <div  v-if="activetab === 2"> 
                        <div class="container">
                            <div class="row d-flex justify-content-center">
                                <div v-for="order in orders" :key="order">
                                <div class="col-md-12">
                                    <div class="card p-3" style="margin-bottom:2%">
                                        <div class="row" style="text-align:left">
                                                    <span style="font-size:2vh">
                                                         <div class="row">
                                                            <div class="col-md-2 col-lg-2 col-xl-2" style="float:left">
                                                                <img :src="this.image_url_path+order.order_items[0].item.item_image" style="width:100%;height:18vh;border-radius: 0;"/>
                                                            </div>
                                                            <div class="col-md-6 col-lg-6 col-xl-6" style="float:left">
                                                              <div style="font-size:2.8vh"><b><router-link
                                                                :to="{ name: 'user-full-details', params: { id: order.order_items[0].vendor_company.user_id }}"
                                                                >  
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-shop-window" viewBox="0 0 16 16">
                                                                    <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z"/>
                                                                </svg>
                                                                 {{order.order_items[0].vendor_company.name}}</router-link></b></div>
                                                              <div><b>Order ID : {{order.reference_number}}</b></div>
                                                              <div><b>Order Number: {{dateTime(order.created_at)}}</b></div>
                                                            </div>
                                                            <div class="col-md-3 col-lg-3 col-xl-3" style="float:right">
                                                              <div><b>Order Status :  {{order.status}}</b></div>
                                                            </div>
                                                         </div>
                                          
                                                    </span> 
                                        </div>
                                        <div style="padding:2% 0% 0% 0%;"> 
                                          <div class="col-md-12 col-lg-12 col-xl-12">                                            
                                              <div class="row" style="float:right;padding-right:3%" > 
                                                <button class="btn btn-outline-danger waves-effect" style="font-size:2vh"  @click.prevent="this.toggleViewOrderModal=true;setOrderDetails(order)" data-dismiss="modal">View Order</button>
                                             </div>     
                                         </div>
                                        </div>
                                    </div>
                                </div>
                                </div>

                            </div>
                        </div>
                </div>

                <div  v-if="activetab === 3">
                    <contractor-availed-services> </contractor-availed-services>
                </div>

                <div  v-if="activetab === 4"> 
                  <user-comment-rating></user-comment-rating>
                </div>

            </div>
                    <!-- ADD services modal -->
                    <teleport to="#modals">
                        <!-- <div v-if="toggleModal" class="modal-container" @click.self='handleModal'> -->
                        <div v-if="toggleModal" class="modal-container">
                            <div class='modal-card-container'>
                                  <div class="container"> 
                                      <div class="row gutters justify-content-center">
                                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
                                              <div class="card h-100">
                                                <div class="company-header">
                                                    <h4 style="color:white;float:left">Create Project</h4>
                                                    <!-- <h4 style="color:white;float:right">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
                                                        <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z"/>
                                                        </svg>
                                                    </h4> -->
                                                </div>
                                                <div class="card-body">
                                                <div class="row gutters">
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" >
                                                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="float:left;padding-top:2%;">
                                                        <div class="form-group2">
                                                            <div class="image-modal">
                                                                <div class="image">
                                                                    <!-- <p>Company Logo : {{ this.userData.social }} </p> -->
                                                                    <div v-if="this.add_item.item_image">
                                                                        <img style="width:100%;height:20vh;" :src="this.add_item.item_image" />
                                                                    </div>
                                                                    <div v-else-if="!this.add_item.item_image">
                                                                        <img style="width:100%;height:20vh;" :src="require(`@/assets/DBECENTER-logo.png`)" />
                                                                    </div>
                                                                    <input type="file" style="width:100%;padding-top:5%" @change="onFileChange">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="form-group2">
                                                            <label for="fullName"  style="">Service Description  </label>
                                                                        <textarea id="form_message" name="message" class="form-control" placeholder="Write your message here." rows="5" required="required"  data-error="Please, leave us a message." v-model="add_item.item_description"></textarea> 
                                                        </div>   -->

                                                    </div>                                                      

                                                </div>                                                    
                                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-7 col-12" style="padding-bottom:2%;">
                                                        <div class="form-group2" >
                                                            <div class="form-group2" style="width:49%;float:left">
                                                            <label for="fullName">Project Name</label>
                                                                <input type="text" class="form-control"  placeholder="Enter Project Name" v-model="add_item.item_name">
                                                            </div>
                                                            <div class="form-group2" style="width:49%;float:right">
                                                                <label for="fullName">Project No.</label>
                                                                <input type="text" class="form-control" placeholder="Enter Project No." v-model="add_item.item_type">
                                                            </div>
                                                        </div>
                                                        <div class="form-group2"  @click="isDirty=false">
                                                                <label for="fullName">Naics Code </label>
                                                            <div class="form-group2" >
                                                                    <input style="width: 50%;;float:left;margin-right:1%" v-model="this.add_item.identifier" type="text"
                                                                    @input.self="handleSearch(this.add_item.identifier)"
                                                                    class="form-control input-outline search-input-text" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" maxlength="50" @keyup.enter="searchWithParams(this.add_item.identifier)" />
                                                                    <div v-if="isDirty" class="search-items" >
                                                                        <ul style="padding-left:0.5%" v-for="(items,index) in filterSearch" :key="index">
                                                                            <!-- <li @click="searchWithParams(items)">{{items}}</li> -->
                                                                            <li @click="this.add_item.identifier = this.naicCodes[index]">{{items}}</li>
                                                                        </ul>
                                                                    </div>
                                                                <button  class="btn btn-dark h-100 search-btn-icon " type="button" id="button-addon2" @click="searchWithParams(this.add_item.identifier);" >
                                                                <SearchOutlined class="py-1"/>
                                                                </button>
                                                                </div>
                                                        </div>     
                                                                                                                <div class="form-group2">
                                                            <label for="fullName"  style="">Description  </label>
                                                            <textarea id="form_message" name="message" class="form-control" placeholder="Write your message here." rows="5" required="required"  data-error="Please, leave us a message." v-model="add_item.item_description"></textarea> 
                                                        </div>  
                                                        <div class="form-group2" >
                                                                    <div class="col-md-6" style="float:left;width:49%;">
                                                                        <div class="form-group" style="padding-bottom: 0%;"> <label for="form_need">From </label> 
                                                                            <input type="date" class="form-control" placeholder="Enter Naics Code" v-model="add_item.from">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6" style="float:right;width:49%;">
                                                                        <div class="form-group" style="padding-bottom: 0%;"> <label for="form_need"  >To </label> 
                                                                            <input type="date" class="form-control" placeholder="Enter Naics Code" v-model="add_item.to">
                                                                        </div>
                                                                    </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-bottom:2%">
                                                                <div class="form-group" style="padding-top:2%;padding-bottom: 0%;">
                                                          <div class="row">
                                                            <div class="col-md-12" style="text-align:right;"> 
                                                                <button style="margin-right:2%;width:8%" type="button" id="submit" name="submit" @click.prevent="AddItem" class="btn btn-danger">Create</button>
                                                                 <button class="btn btn-outline-danger waves-effect"  @click="handleModal" data-dismiss="modal">Cancel</button>
                                                            </div>
                                                          </div>
                                                        </div>  
                                                    </div>
                                            </div>
                                                </div>
                                              </div>
                                        </div>   
                                      </div>   


                                </div>   
                            </div>
                        </div>
                    </teleport>

                    <!-- update services -->
                    <teleport to="#modals">
                        <div v-if="toggleUpdateModal" class="modal-container">
                                  <div class="container"> 
                                      <div class="row gutters justify-content-center">
                                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                                              <div class="card h-100">
                                                <div class="company-header">
                                                    <h4 style="color:white;float:left">Update Project</h4>
                                                    <!-- <h4 style="color:white;float:right">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
                                                        <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z"/>
                                                        </svg>
                                                    </h4> -->
                                                </div>
                                                <div class="card-body">
                                                <div class="row gutters">
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" >
                                                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="float:left;padding-top:2%;">
                                                        <div class="form-group2">
                                                            <div class="image-modal">
                                                                <div class="image">
                                                                    <div v-if="this.get_item.item_image">
                                                                        <img style="width:100%;height:20vh;" :src="this.get_item.item_image" />
                                                                    </div>
                                                                    <div v-else-if="!this.add_item.item_image">
                                                                        <img style="width:100%;height:20vh;" :src="require(`@/assets/DBECENTER-logo.png`)" />
                                                                    </div>
                                                                    <input type="file" style="width:100%;padding-top:5%" @change="onFileChangeUpdate">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                      
                                                </div>                                                    
                                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12" style="padding-bottom:2%">
                                                        <div class="form-group2" >
                                                            <div class="form-group2" style="width:49%;float:left">
                                                            <label for="fullName">Project Name</label>
                                                                <input type="text" class="form-control"  placeholder="Enter Project Name" v-model="this.get_item.item_name">
                                                            </div>
                                                            <div class="form-group2" style="width:49%;float:right">
                                                                <label for="fullName">Project No.</label>
                                                                <input type="text" class="form-control" placeholder="Enter Project No." v-model="this.get_item.item_type">
                                                            </div>
                                                        </div>
                                                        <div class="form-group2" hidden>
                                                            <label for="fullName"  style="">Category type </label>
                                                            <input type="text" class="form-control" v-model="this.get_item.category_id">
                                                        </div>                                                          
                                                        <div class="form-group2"  @click="isDirty=false">
                                                                <label for="fullName">Naics Code </label>
                                                            <div class="form-group2" >
                                                                    <input style="width: 50%;;float:left;margin-right:1%" v-model="this.get_item.identifier" type="text"
                                                                    @input.self="handleSearch(this.get_item.identifier)"
                                                                    class="form-control input-outline search-input-text" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" maxlength="50" @keyup.enter="searchWithParams(this.get_item.identifier)" />
                                                                    <div v-if="isDirty" class="search-items2" >
                                                                        <ul style="padding-left:0.5%" v-for="(items,index) in filterSearch2" :key="index">
                                                                            <!-- <li @click="searchWithParams(items)">{{items}}</li> -->
                                                                            <li @click="this.get_item.identifier = this.naicCodes[index]">{{items}}</li>
                                                                        </ul>
                                                                    </div>
                                                                <button  class="btn btn-dark h-100 search-btn-icon " type="button" id="button-addon2" @click="searchWithParams(this.get_item.identifier);" >
                                                                <SearchOutlined class="py-1"/>
                                                                </button>
                                                                </div>
                                                        </div>  
                                                        <div class="form-group2">
                                                            <label for="fullName"  style="">Description  </label>
                                                            <textarea id="form_message" name="message" class="form-control" placeholder="Write your message here." rows="5" required="required"  data-error="Please, leave us a message." v-model="this.get_item.item_description"></textarea> 
                                                        </div>  
                                                        <div class="form-group2" >
                                                            <div class="col-md-6" style="float:left;width:49%;">
                                                                <div class="form-group" style="padding-bottom: 0%;"> <label for="form_need">From</label> 
                                                                    <input type="date" class="form-control" v-model="this.get_item.from">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6" style="float:right;width:49%;">
                                                                <div class="form-group" style="padding-bottom: 0%;"> <label for="form_need">To </label> 
                                                                    <input type="date" class="form-control" v-model="this.get_item.to">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-bottom:2%">
                                                                <div class="form-group" style="padding-top:2%;padding-bottom: 0%;">
                                                          <div class="row">
                                                            <div class="col-md-12" style="text-align:right;"> 
                                                                <button style="margin-right:2%;width:10%" type="button" id="submit" name="submit" @click="updateProduct()" value="Update" class="btn btn-danger">Update</button>
                                                                <button class="btn btn-outline-danger waves-effect" value="Cancel" @click="updateModal" data-dismiss="modal" >Cancel</button>
                                                            </div>
                                                          </div>
                                                        </div>  
                                                    </div>
                                            </div>
                                                </div>
                                              </div>
                                        </div>   
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4" style="height:64vh;">
                                            <div class="card h-100">
                                                    <div class="company-header" style="    padding: 2.2%;">
                                                        <h4 style="color:white">User Bids</h4>
                                                    </div>
                                                <div class="rating-container" style="overflow:scroll;  overflow-x: hidden;  overflow-x: hidden;">

                                                    <!-- for -->
                                                    <div>
                                                <div v-for="bids in this.get_item.bids" :key="bids"> 
                                                    <div class="row d-flex justify-content-center" style="padding-bottom:2%">
                                                        <div class="col-md-12 col-lg-12 col-xl-12">
                                                            <div class="card">
                                                            <div class="card-body">
                                                                <div class="d-flex flex-start align-items-center">
                                                                    <img v-bind:src="this.image_url_path+bids.user.profile.profile_picture" class="rounded-circle shadow-1-strong me-3" style="height:6vh;width:17%" alt="...">
                                                                <div>
                                                                    <div style="width:100%;float:left"> 
                                                                    <h6 class="fw-bold text-primary mb-1">{{bids.user.profile.firstname}} {{bids.user.profile.lastname}}</h6>
                                                                    <p class="text-muted small mb-0">
                                                                        {{dateTime(bids.created_at)}}
                                                                    </p>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                                <div style="float:right"><h4>Bids : ${{bids.price}}</h4> </div>

                                                            </div>
                                                                <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                                                                    <div class="float-end mt-2 pt-1" style="width:100%;text-align:right">
                                                                        <button type="button" class="btn btn-primary btn-sm" style="margin-right:2%">Send RFQ</button>
                                                                        <button type="button" class="btn btn-outline-primary btn-sm" >View Vendor</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <!-- for -->
                                                </div>
                                                
                                            </div> 
                                        </div>   

                                      </div>   
                                </div>   
                            </div>
                            </div>
                            </div>
                    </teleport>
                    <!-- update services -->
                    
                    <!-- delete services -->
                    <teleport to="#modals">
                        <div v-if="toggleDeleteItemModal" class="modal-container">
                            <div class='delete-modal-card-container' style="width:20%">
                                <div class="modal-form" style="padding:5%">
                                    <div class="row mb-3">
                                        <input type="hidden"  v-model="delete_item.id"> 
                                         <h5 style="float:left;width:100%;padding-top:15%;text-align:center">Are you Sure you want to Delete this ITEM?</h5>
                                    </div>
                                    <div style="text-align: center;" class="modal-button">
                                        <button style="width:25%" type="button" @click="deleteItem()" class="btn btn-outline-danger">YES</button>
                                        <button style="width:25%;margin-left:5%" @click="DeleteItemModal" type="button" class="btn btn-outline-primary">NO</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    </teleport>
                    <!-- delete services -->

                    <!-- Share Project -->
                    <teleport to="#modals">
                        <div v-if="toggleShareProjectModal" class="modal-container">
                            <div class='share-modal-card-container'>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-bottom:10%">
                                    <div class="row">
                                        <input type="text" class="form-control" placeholder="Search Vendor to share">
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div style="text-align: center;" class="modal-button">
                                        <button style="width:25%;margin-left:5%" @click="ShareProjectModal" type="button" class="btn btn-outline-primary">Return</button>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </teleport>
                    <!-- Share Project -->

                    <!-- View Order -->
                    <teleport to="#modals" >
                        <div v-if="toggleViewOrderModal"  @click.self="viewOrderModal" class="modal-container">
                        <div class="container"> 
                            <div class="row gutters justify-content-center">
                            <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                                    <div class="card h-100" style="border-radius:20px">
                                    <div class="card-body">
                                        <div class="row gutters">
                                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7" style="padding:2% 8% 8% 8%">
                                                <div class="row">
                                                    <div class="row row-pad header-title">
                                                        <h4>{{this.order.vendor_company}}</h4>
                                                        <div style="border-top: 5px solid  #F0F0F0;padding-bottom:2%"></div>
                                                        <label for="fullName"><h4>Order Items</h4></label>
                                                    </div>
                                                        <div class="row" style="height: 45vh;">
                                                                    <!--  -->
                                                            <div class="cart-content" style="height: 40vh;">
                                                                    <div v-for="item in this.order.items" :key="item">
                                                                        <div class="row mb-3 ">
                                                                            <div style="width:30%;float:left">
                                                                            <img v-bind:src="this.image_url_path+item.item.item_image" class="img-fluid" style="height:11vh" alt="...">
                                                                            </div>
                                                                            <div style="width:45%;float:left;line-height:2vh;text-align: left;">
                                                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="float:left"> 
                                                                            <p><b>{{item.item.item_name}}</b></p>
                                                                            </div>
                                                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="float:right">
                                                                                <p style="float:left;width: 50%;text-align:center">x {{item.quantity_ordered}}</p>
                                                                            </div>
                                                                            <p>{{item.identifier}}</p>
                                                                                <p><b>{{item.total}}$</b></p>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                    <!--  -->
                                                        </div>
                                                </div>
                                                <div class="row">
                                                    <div style="border-top: 5px solid  #F0F0F0;padding-bottom:2%"></div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="float:left">
                                                    <label style="font-size:2vh;padding-bottom:4%"><b>Total :</b></label>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="float:right;text-align:right">
                                                    <label style="font-size:2vh;padding-bottom:4%"><b>{{this.order.total_price}} $</b></label>
                                                    </div>
                                                </div>
                                            </div>                                                    
                                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5" style="padding-bottom:2%">
                                                <div class="row">
                                                    <div class="row row-pad header-title">
                                                        <label for="fullName"><h2>Delivery Details</h2></label>
                                                    </div>
                                                    <div class="row row-pad">
                                                        <div style="font-size:1.7vh;padding-bottom:5%" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                            <div class="row">
                                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                                    <div class="form-group" >
                                                                        <label><b>Order ID : </b> {{this.order.reference_number}}</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                                    <div class="form-group" >
                                                                        <label><b>Order Status : </b>{{this.order.status}}</label>
                                                                    </div>
                                                                </div>
                                                            </div>                                                
                                                            <div class="row">
                                                                <div class="form-group">
                                                                <label><b>Date Ordered : </b>{{dateTime(this.order.created_at)}}</label>
                                                                </div>
                                                            </div>
                                                        </div>                                        
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="font-size:1.6vh;padding-bottom:5%">
                                                                <div style="border-top: 1px solid  #F0F0F0;padding-bottom:2%"></div>
                                                            <label><b>Personal Information</b></label>
                                                            <div class="form-group">
                                                            <label>{{this.order.name}}</label>
                                                            </div>
                                                            <div class="form-group">
                                                            <div class="row">
                                                            <label>{{this.order.telephone}}</label>
                                                            </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style="font-size:1.6vh;padding-bottom:5%">
                                                            <div class="row">
                                                            <div style="border-top: 1px solid  #F0F0F0;padding-bottom:2%"></div>
                                                            <label><b>Delivery Note</b></label>
                                                            <label style="height:10vh">{{this.order.description}}</label>
                                                            </div>
                                                        </div>                                            
                                                        <div class="form-group" style="font-size:1.6vh;">
                                                            <div class="row">
                                                            <label><b>Delivery Address</b></label>
                                                            <div style="border-top: 1px solid  #F0F0F0;padding-bottom:2%"></div>
                                                            <label style="height:10vh">{{this.order.shipping_address}}</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row" style="padding-top:10%">
                                                    <div class="row row-pad">
                                                        <button class="btn btn-outline-danger waves-effect" @click="viewOrderModal"  data-dismiss="modal">Back to Order List</button>
                                                    </div>
                                                    <div class="row row-pad" style="padding-top:1%">
                                                        <button class="btn btn-danger" :disabled="this.order.status == 'cancelled' || this.order.status == 'approved'"  @click.prevent="cancelOrder(this.order.id)" > Cancel Order</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                            </div>   
                    </div>   
                    </div>
                    </teleport>
                    <!-- View Order -->
                    

        </div>
</template>

<script>
import { mapState } from "vuex";
import StarRating from 'vue-star-rating'
import userCommentRating from '@/views/dashboard/UserCommentAndRating.vue';
import moment from 'moment';
import ContractorAvailedServices from './contractorAvailedService/ContractorAvailedServices.vue';
import { SearchOutlined, UserOutlined, ShoppingCartOutlined } from "@ant-design/icons-vue";
export default{
    data(){
        return {
            searchValue:'',
            isDirty:false,
            suggestedValues: [],
            activetab: 1,
            toggleModal:false,
            toggleUpdateModal:false,
            toggleDeleteItemModal:false,
            toggleViewOrderModal:false,
            toggleShareProjectModal:false,
            comment:true,
            recomment:false,
            add_item: {
                identifier      : '',
                item_type       : '',
                item_image      : '',
                category_id     : 3,
                item_name       : '',
                item_description: '',
                from            : '',
                to              : '',
                // unit_cost       : '', 
            },
           get_item:{
               id               : '',
               item_name        : '',
               item_image       : '',
               identifier       : '',
               item_type        : '',
               category_id      : '',
               item_description : '',
               from             : '',
               to               : '',
               bids             : [],
            //    unit_cost        : '', 
           },
           delete_item:[],
           order: {
            id                  : '',
            created_at          : '',
            reference_number    : '',
            status              : '',
            total_price         : '',
            telephone           : '',
            description         : '',
            shipping_address    : '',
            c        : '',
            items               : []
           }
        }
    }, 
    components:{
         StarRating,
         userCommentRating,
         ContractorAvailedServices,
         SearchOutlined
    },
    computed: {
        ...mapState('DASHBOARD', {
            getCurrentProjects: state => state.userProjects,
            getSpecificitem: state => state.setSpecificItem,
            image_url_path: state => state.imageUrl,
            user_orders: state => state.userOrders,
        }),
        ...mapState('CART', {
            searchNaicCodeList: state => state.searchNaicCodeList,
            searchNaicCodeandDescList: state => state.searchNaicCodeandDescList,
        }),
        projects() {
            return this.getCurrentProjects
        },        
        orders() {
            return this.user_orders
        },
        naicCodes() {
            return this.searchNaicCodeList
        }, 
        naicCodesandDesc() {
            return this.searchNaicCodeandDescList
        },
        filterSearch(){
        if (this.add_item.identifier.length >= 3) {
                return this.naicCodesandDesc;    
            }       
        }, 
        filterSearch2(){
        if (this.get_item.identifier.length >= 3) {
                return this.naicCodesandDesc;    
           }    
        }
    },
    created(){
        // this.$store.dispatch('DASHBOARD/getUserItemList', localStorage.getItem('user_id'));
        this.$store.dispatch('DASHBOARD/getUserProjects', 3);
        this.$store.dispatch('DASHBOARD/fetchOrder');
        // this.$store.dispatch('CART/noParamsNaicsCode');
    },
    updated(){
        this.suggestedValues = this.naicCodesandDesc;
    },
    methods:{
        handleSearch(value){
            if(value == '' || value <= 3){
                this.isDirty =false
            }
        },
        viewOrderModal(){
            this.toggleViewOrderModal = !this.toggleViewOrderModal
        },
        onFileChange(e) {
            const file = e.target.files[0];
            this.add_item.item_image = file.name;
            const reader = new FileReader()
            reader.onloadend = () => {
                this.add_item.item_image = reader.result;
                // set the logo to base64
            }
            reader.readAsDataURL(file); //without this file wont be converted into base64
        },
        onFileChangeUpdate(e) {
            const file = e.target.files[0];
            this.get_item.item_image = file.name;
            const reader = new FileReader()
            reader.onloadend = () => {
                this.get_item.item_image = reader.result;
                // set the logo to base64
            }
            reader.readAsDataURL(file); //without this file wont be converted into base64
        },
        reply_comment(){
            this.comment = !this.comment
            this.recomment = !this.recomment
        },
        handleModal(){
            this.toggleModal = !this.toggleModal
        },      
        updateModal(){
            this.toggleUpdateModal = !this.toggleUpdateModal
        },      
        DeleteItemModal(){
            this.toggleDeleteItemModal = !this.toggleDeleteItemModal
        },         
        ShareProjectModal(){
            this.toggleShareProjectModal = !this.toggleShareProjectModal
        }, 
        setItembyId(item){
            this.get_item.id                = item.id,
            this.get_item.item_name         = item.item_name,
            this.get_item.item_image        = (item.item_image) ? this.image_url_path+item.item_image : '',
            this.get_item.identifier        = item.identifier,
            this.get_item.item_type         = item.item_type,
            this.get_item.category_id       = item.category_id,
            this.get_item.item_description  = item.item_description
            this.get_item.from              = item.from
            this.get_item.to                = item.to
            this.get_item.bids              = item.bids
            // this.get_item.unit_cost         = item.unit_cost
        },
        setOrderDetails(order){
            this.order.id                = order.id,
            this.order.created_at        = order.created_at,
            this.order.reference_number  = order.reference_number,
            this.order.total_price       = order.total_price,
            this.order.status            = order.status,
            this.order.name              = order.name,
            this.order.telephone         = order.telephone,
            this.order.description       = order.description,
            this.order.shipping_address  = order.shipping_address,
            this.order.vendor_company    = order.order_items[0].vendor_company.name,
            this.order.items             = order.order_items
        },        
        deleteItembyId(item){
            this.delete_item = item;
        },        
        dateTime(value) {
             return moment(value).format('LL');
        },
        async cancelOrder(id){
            await this.$store.dispatch('DASHBOARD/cancelOrder', id)
            this.toggleViewOrderModal = false;
        },
        async AddItem() {
            // console.log(this.add_item);
            // if(!this.add_item.identifier){
            //     alert('input details');
            // }
            await this.$store.dispatch('DASHBOARD/createItem', this.add_item);
            this.toggleModal = false;
        },
        async updateProduct(){
            await this.$store.dispatch('DASHBOARD/updateItem', this.get_item);
            this.toggleUpdateModal = false;
        },
        async fetchItem() {
            await this.$store.dispatch('DASHBOARD/fetchItem', this.get_item);
        },  
        async deleteItem() {
            await this.$store.dispatch('DASHBOARD/destroyItem', this.delete_item);
            this.toggleDeleteItemModal = false;
        },  
        async searchWithParams(data){
            await this.$store.dispatch('CART/getNaicsCode', data);
            this.isDirty=true;
        },   
 
    },
    watch: {
        // services(latest) {
        //     console.log('latest', latest)
        // }
        // items(latest) {
        //   console.log('latest', latest)
        // }
    }
}
</script>

<style  lang="scss" scoped>

    .dbe-services-container{
        padding:3%;
        height: 100%;
        width: 100%;
    }
    .dbe-services{
        position: flex;
        padding-bottom:1%;
        top: 120%;
        width: 100%;
        left: 5%;
        height: 100%;
        border-radius: 12px;
        box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.10);

    }
    .services-text{
        text-align: left;
        font-size: 1.8vh;
        font-weight: bold;
    }
    .services-card{
        height: 100%;
        padding: 1%;
    }
    .services-card-content{
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.10);
        border-radius: 12px;
        padding: 5%;
        text-align: left;
        width: 100%;
        float: left;
        .image{
            border: 1px solid rgba(112, 112, 112, 0.541);
            border-radius: 12px;
            // height: 40%;
            // height: 20vh;
        }.btn-primary{
            margin-top: 5%;
            background-color: #f3f3f300;
            border: 1px solid #DD1F4C;
            color:#DD1F4C;
            height:5vh;
            font-size:1.5vh;
        }.btn-primary:hover{
            background-color: #dd1f4b6e;
        }
    }
    .modal-button {
        width: 100%;
        text-align: right;
    }
    .modal-container{
    position: fixed;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100%;
    width: 100%;
    top:0px;
    z-index:251;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .modal-card-container{
        width: 60%;
        .image-modal{
                width: 100%;
                border-radius: 12px;
                // height: 20vh;
                margin-bottom: 5%;
                // border: 1px solid rgb(214, 208, 208);
            .image-button{
                background: rgba(255, 255, 255, 0);
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                font-size: 2vh;
                color: gray;
            }
        }
        .text-size{
            font-size:1.5vh;
        }
        .form-control-modal{
            height: 4vh;
            width: 100%;
            border-radius: 5px;
            border: 1px solid rgb(184, 184, 184);
            padding: 2%;
        }
        .form-select-modal{
            width: 100%;
            border-radius: 5px;
            border: 1px solid rgb(184, 184, 184);
            height: 4vh;
            padding: 1%;
            color: rgb(153, 149, 149);
        }.form-group{
                text-align: left;
                padding-bottom: 8%;
            }
    
    }
        .update-modal-card-container{
            box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.10);
            width: 60%;
            padding: 1%;
            border-radius: 12px;
            background-color: white;
            float: left;
            .image-modal{
                width: 100%;
                border-radius: 12px;
                margin-bottom: 1%;
                border: 1px solid rgb(214, 208, 208);
            .image-button{
                background: rgba(255, 255, 255, 0);
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                font-size: 2vh;
                color: gray;
            }
            }
            .text-size{
             font-size:1.5vh;
            }
            .form-control-modal{
                height: 4vh;
                width: 100%;
                border-radius: 5px;
                border: 1px solid rgb(77, 41, 41);
                padding: 2%;
            }
            .form-select-modal{
                width: 100%;
                border-radius: 5px;
                border: 1px solid rgb(184, 184, 184);
                height: 4vh;
                padding: 1%;
                color: rgb(153, 149, 149);
            }.form-group{
                text-align: left;
                padding-bottom: 8%;
            }
            .rating-container{
                width: 100%;
                height: 100%;
                float: left;
                padding-right: 1%;
                padding-top: 3.5%;
                overflow:scroll;
                .rating-card{
                    width: 100%;
                    padding: 2%;
                    font-size: 1.5vh;
                }
                .reply-button{
                    text-align: right;
                }
            }  
        }
        .delete-modal-card-container{
        position: absolute;
        box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.10);
        width: 25%;
        padding: 1%;
        margin-top: 5%;
        border-radius: 12px;
        background-color: white;
        height: 25%;
    }
    .share-modal-card-container{
        position: absolute;
        box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.10);
        width: 30%;
        padding: 5%;
        border-radius: 12px;
        background-color: white;
        // height: 25%;
    }
    .modal-form{
        justify-content: none;
        align-items: none;
        font-size: 1.5vh;
    }
    .company-header{
        background:#DD1F4C;
        height: 6vh;
        padding:1.5%;
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
    }
    .form-group2{
        line-height: 3vh;
    }

    /* Style the tabs */
.tabs {
    overflow: hidden;
  margin-left: 20px;
    margin-bottom: -2px; // hide bottom border
}

.tabs ul {
    list-style-type: none;
    margin-left: 20px;
}

.tabs a{
    float: left;
    cursor: pointer;
    padding: 12px 24px;
    transition: background-color 0.2s;
    border: 1px solid #ccc;
    border-right: none;
    background-color: #f1f1f1;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
}
.tabs a:last-child { 
    border-right: 1px solid #ccc;
}

/* Change background color of tabs on hover */
.tabs a:hover {
    background-color: #aaa;
    color: #fff;
}

/* Styling for active tab */
.tabs a.active {
    background-color: #DD1F4C;;
    color: #fff;
    border-bottom: 2px solid #fff;
    cursor: default;
}

/* Style the tab content */
.tabcontent {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
  box-shadow: 3px 3px 6px #e1e1e1
}
.search-items{
    padding: 15px 10px;
    display: block;
    word-wrap: break-all;
    text-overflow: ellipsis;
    margin-left: -1%;
    width: 31.5%;
    height: 20vh;
    position: absolute;
    top: 22.4vh;
    transform: translateX(4%);
    background-color:#ffffff;
    z-index:20;
    box-shadow: 3px 10px 38px 16px rgba(0,0,0,0.1);
    overflow: scroll;
    overflow-x: hidden;
    ul{
      li{
        text-decoration: none;
        list-style: none;
        display: flex;
        cursor: pointer;
      }:hover { 
        color: rgb(73, 163, 232); 
        cursor: pointer;
        }
    }
  }
 .search-items2{
    padding: 15px 10px;
    display: block;
    word-wrap: break-all;
    text-overflow: ellipsis;
    margin-left: -1%;
    width: 31.5%;
    height: 20vh;
    position: absolute;
    top: 22.4vh     ;
    transform: translateX(4%);
    background-color:#ffffff;
    z-index:20;
    box-shadow: 3px 10px 38px 16px rgba(0,0,0,0.1);
    overflow: scroll;
    overflow-x: hidden;
    ul{
      li{
        text-decoration: none;
        list-style: none;
        display: flex;
        cursor: pointer;
      }:hover { 
        color: rgb(73, 163, 232); 
        cursor: pointer;
        }
    }
  }
  ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
</style>


