<template>
    <div class="container-fluid gx-5">
        <div class="row gx-5">
            <div class="col-md-4">
                <div class="profile-card border bg-light">
                    <div class="row profile-card-title-container">
                        <div class="row">
                        <div class="col-md-6 profile-card-title-text">Profile Information</div> 
                        <div class="col-md-6 profile-card-title-text2">
                            <button class="profile-button"  @click.prevent="this.toggleUpdateUserModal =true;setUserData(this.userData)">
                                <div style="text-decoration: underline;">Edit</div>
                            </button>     
                        </div> 
                        </div>
                    </div>    
                    <div style="border: 1px solid #C4C4C4;"></div>
                    <div class="row profile-card-body-container">
                        <div class="profile-card-body-text2">
                            <p>First Name :{{this.userData.firstname}}</p> 
                            <p>Last Name : {{this.userData.lastname}}</p> 
                            <p>Mobile Number: {{ this.userData.telephone }} </p>
                            <p>Email : {{ this.userData.email }} </p>
                            <p>Address : {{ this.userData.address1 }}  {{ this.userData.city }}  {{ this.userData.region }}  {{ this.userData.zipcode }}  {{ this.userData.country }} </p>
                        </div>
                        <p class="profile-card-body-text" >{{this.userData.address2}}</p>
                    </div>                            
                </div>
            </div>
            <div class="col-md-4">
                <div class="profile-card border bg-light">
                    <div class="row profile-card-title-container">
                        <div class="row">
                        <div class="col-md-6 profile-card-title-text">Company Profile</div> 
                        <div class="col-md-6 profile-card-title-text2">
                            <button class="profile-button" @click.prevent="this.togglecompanyProfileModal =true;CompanyData(this.userData)">
                                <div style="text-decoration: underline;">Edit</div>
                            </button>     
                        </div> 
                        </div>
                    </div>    

                    <div style="border: 1px solid #C4C4C4;"></div>

                    <div class="row profile-card-body-container">
                        <div class="profile-card-body-text2">
                            <p>Company Title : {{this.userData.company.name}}</p> 
                            <p>Website : {{this.userData.company.address2}}</p> 
                            <p>Address : {{ this.userData.company.address1 }} {{ this.userData.company.city }} {{ this.userData.company.region }} {{ this.userData.company.zipcode }} {{ this.userData.company.country }} </p>
                            <p>Mobile Phone :  {{this.userData.company.telephone}}</p>
                            <p>Naics Code :  
                                <ul>
                                    <li v-for="naic in this.userData.company.naics_codes" :key="naic">
                                        {{ naic }}
                                    </li>
                                </ul>
                            </p>
                            <p>Duns Number : {{this.userData.company.duns_number}}</p> 
                            <p>Cage Code : {{this.userData.company.cage_code}}</p> 
                        </div>
                        <p class="profile-card-body-text" >{{this.userData.company.description}}</p>

                    </div>                            
                </div>
            </div>
            <div class="col-md-4">
                <div class="profile-card border bg-light">
                    <div class="row profile-card-title-container">
                        <div class="row">
                        <div class="col-md-5 profile-card-title-text">Initial Assessment</div> 
                        <div class="col-md-7 profile-card-title-text2">
                            <button class="profile-button" @click="toggleQuestionnerModal=true">
                                <div style="text-decoration: underline;">Answer Initial Assessment</div>
                            </button>     
                        </div> 
                        </div>
                    </div>    
                    <div style="border: 1px solid #C4C4C4;"></div>

                    <div class="row profile-card-body-container">
                        <div v-if="this.companyDetail.government_designation">
                            <div class="row">
                                <div class="col-md-6" style="text-align:left">
                                    <p>Does your company have Government designations?</p>
                                </div>                             
                                <div class="col-md-6">
                                    <!-- <div v-if="this.companyDetail.government_designation.hasGovernmentDesignation == 'yes'">
                                        <select :disabled = true v-model="this.companyDetail.government_designation.hasGovernmentDesignation" id="form_need" name="need" class="form-control"  @change="updateGovDesig()">
                                            <option value="yes">Yes</option>
                                        </select>
                                    </div>
                                    <div v-else> -->
                                        <!-- <select v-model="this.government_designation_data" id="form_need" name="need" class="form-control"  @change="updateGovDesig()">
                                            <option value="" selected disabled>- Select Answer -</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>  -->
                                    <!-- </div> -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <input type="checkbox" v-model="hasGovernmentDesignation" @change="updateGovDesig($event)">
                                            
                                        </div>
                                        <div class="col-md-10 text-start">
                                            <label>Yes</label>
                                        </div>
                                    </div>   
                                </div>
                            </div>
                            <div v-if="this.companyDetail.government_designation.hasGovernmentDesignation" class="row profile-card-body-container">
                                <div class="row">
                                    <div class="col-md-12" style="text-align:left">
                                        <p>What Government Designations does your Company have?</p>
                                    </div>      
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input  style="font-size:15px;margin-bottom:2%"  @input.self="searchGovDesig(this.gov_data)" type="text" class="form-control" placeholder="Input Government Designation" v-model="this.gov_data">                          
                                        </div>
                                    </div>
                                    <div v-if="filteredGovernmentDesignation.length >= 1">
                                        <div v-if="this.showSearchGov" class="search-cap"  style="width:73.5">
                                            <ul style="padding-left:0.5%" v-for="(items,index) in filteredGovernmentDesignation" :key="index">
                                                <li @click="setGovDesignField(items)">{{items.department}}</li>
                                            </ul>
                                        </div>                                                     
                                    </div>                               
                                    <div class="row">
                                        <div class="col-md-10">
                                            <input class="form-control" style="font-size:15px" type="file" id="formFileMultiple" multiple />
                                        </div>    
                                        <div class="col-md-2" style="padding:0">
                                            <button :disabled="this.gov_data == ''" @click="add_gov_desig(this.gov_full_data)" style="width:100%" class=" btn btn-outline-danger waves-effect button-scroll-next" >Add</button>
                                        </div>                                   
                                    </div>    
                                    <div class="row">
                                        <ul class="profile-card-body-text2">
                                            <div  v-for="(items,index) in this.companyDetail.government_designation.governmentDesignation" :key="items" >
                                                <div class="row">
                                                    <div class="col-md-10" style="padding: 2% 0% 0% 7%">
                                                        <li> 
                                                            {{items.department}}
                                                        </li>
                                                    </div>                                            
                                                    <div class="col-md-2">
                                                        <button class="profile-button" @click.prevent="delete_gov_desig(index)">
                                                            <div style="text-decoration: underline;color:#DD1F4C;padding-top:8px">Remove</div>
                                                        </button>     
                                                    </div>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>                                                                                                  
                                </div>
                            </div> 
                            </div>   

                        </div>


                    <div class="row profile-card-title-container" style="margin-top:100px">
                        <div class="row">
                        <div class="col-md-12 profile-card-title-text">Industry Certifications</div> 
                        </div>
                    </div>    
                    <div style="border: 1px solid #C4C4C4;"></div>
                    <div class="row profile-card-body-container">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-11">
                                        <input  type="text" class="form-control" placeholder="Add Certificates" v-model="this.certifications_data">
                                </div>                                    
                                <div class="col-md-1" style="text-align:left;">
                                    <button class="cap-button" :disabled="this.certifications_data == ''" @click="add_certifications(this.certifications_data)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>                                
                            <div class="row">
                                <ul class="profile-card-body-text2">
                                    <div  v-for="(cert,index) in this.companyDetail.certifications" :key="cert" >
                                        <div class="row">
                                            <div class="col-md-11" style="padding: 2% 0% 0% 7%">
                                                <li> 
                                                    {{ cert }}
                                                </li>
                                            </div>                                            
                                            <div class="col-md-1">
                                                <button class="cap-button" @click="delete_certifications(index)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>                                                                                 
                </div>
            </div>                                
        </div>     
        <div class="row gx-5" style="margin-top:2%">
            <div class="col-md-4">
                <div class="profile-card border bg-light">
                    <div class="row profile-card-title-container">
                        <div class="row">
                        <div class="col-md-12 profile-card-title-text">Differentiators</div> 
                        </div>
                    </div>    
                    <div style="border: 1px solid #C4C4C4;"></div>                   
                    <div class="row profile-card-body-container">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-11">
                                <input  @input.self="searchDifferentiators(this.differentiators_data)" type="text" class="form-control" placeholder="Add Differentiatiors" v-model="this.differentiators_data">
                                </div>                                    
                                <div class="col-md-1" style="text-align:left;">
                                    <button class="cap-button" :disabled="this.differentiators_data == ''" @click="add_differentiators(this.differentiators_data)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                    </button>
                                </div>
                                <div v-if="filteredDifferentiators.length >= 1">
                                    <div v-if="this.showSearchDiff" class="search-cap" >
                                        <ul style="padding-left:0.5%" v-for="(items,index) in filteredDifferentiators" :key="index">
                                            <li @click="setDifferentiatorsField(items.description)">{{items.description}}</li>
                                        </ul>
                                    </div> 
                                </div>                                         
                            </div>                                     
                            <div class="row">
                                <ul class="profile-card-body-text2">
                                    <div  v-for="(diff,index) in this.companyDetail.differentiators" :key="diff" >
                                        <div class="row">
                                            <div class="col-md-11" style="padding: 2% 0% 0% 7%">
                                                <li> 
                                                    {{ diff }}
                                                </li>
                                            </div>                                            
                                            <div class="col-md-1">
                                                <button  class="cap-button" @click="delete_differentiators(index)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>     
                        </div>
                    </div>        
                </div>
            </div>
            <div class="col-md-4">
                <div class="profile-card border bg-light">
                    <div class="row profile-card-title-container">
                        <div class="row">
                        <div class="col-md-12 profile-card-title-text">Core Competencies</div> 
                        </div>
                    </div>    
                    <div style="border: 1px solid #C4C4C4;"></div>                
                    <div class="row profile-card-body-container">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-11">
                                <input  @input.self="searchCapabilities(this.capabilities_data)" type="text" class="form-control" placeholder="Add Core Competencies" v-model="this.capabilities_data">
                                </div>                                    
                                <div class="col-md-1" style="text-align:left;">
                                    <button class="cap-button" :disabled="this.capabilities_data == ''" @click="add_capabilities(this.capabilities_data)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                    </button>
                                </div>
                                <div v-if="filteredCapabilities.length >= 1">
                                    <div v-if="this.showSearchCap" class="search-cap" >
                                        <ul style="padding-left:0.5%" v-for="(items,index) in filteredCapabilities" :key="index">
                                            <li @click="setCapabilitiesField(items.description)">{{items.description}}</li>
                                        </ul>
                                    </div> 
                                </div>                                         
                            </div>                                     
                            <div class="row">
                                <ul class="profile-card-body-text2">
                                    <div  v-for="(cap,index) in this.companyDetail.capabilities" :key="cap" >
                                        <div class="row">
                                            <div class="col-md-11" style="padding: 2% 0% 0% 7%">
                                                <li> 
                                                    {{ cap }}
                                                </li>
                                            </div>                                            
                                            <div class="col-md-1">
                                                <button class="cap-button" @click="delete_capabilities(index)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>     
                        </div>
                    </div>        
                </div>
            </div>
            <div class="col-md-4">
                <div class="profile-card border bg-light">
                    <div class="row profile-card-title-container">
                        <div class="row">
                        <div class="col-md-5 profile-card-title-text">Serve Clients</div> 
                        <div class="col-md-7 profile-card-title-text2">
                            <button class="profile-button" @click="addServedClientModal">
                                <div style="text-decoration: underline;" >Add</div>
                            </button>     
                        </div> 
                        </div>
                    </div>   
                    <div style="border: 1px solid #C4C4C4;"></div>                
                    <div class="row row profile-card-body-container ">
                        <div class="profile-card-body-text2">
                            <div v-for="(refer,index) in this.companyDetail.references" :key="refer" >
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-11">
                                            <label for="fullName" style="color: #DD1F4C;"><b>{{refer.company_name}} </b></label>
                                    </div>
                                    <div class="col-md-1">
                                    <button class="profile-button"  @click="delete_references(index)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </button>
                                    </div>
                                </div>
                                <div style="border-top: 2px solid  #F0F0F0"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>{{refer.contract_number}}</div>
                                        <div>From :{{refer.from}} To :  {{refer.to}} </div>
                                        <div>${{refer.contract_value}}</div>
                                        <div>{{refer.service_offered}}</div>
                                        <div>{{refer.contractor_name}} -  {{refer.contractor_position}}</div>
                                    </div>
                                </div>
                        </div>

                            
                            <!-- delete Served Clients -->
                            <!-- <teleport to="#modals">
                                <div v-if="toggleDeleteServecClientmModal" class="modal-container">
                                    <div class='delete-modal-card-container' style="width:20%">
                                        <div class="modal-form" style="padding:5%">
                                            <div class="row mb-3">
                                                <input type="hidden" > 
                                                    <h5 style="float:left;width:100%;padding-top:15%;text-align:center">Delete this Served Clients?</h5>
                                            </div>
                                            <div style="text-align: center;" class="modal-button">
                                                <button style="width:25%" type="button"  class="btn btn-outline-danger" @click="delete_references(index)">YES</button>
                                                <button style="width:25%;margin-left:5%" @click="deleteServedClientModal" type="button" class="btn btn-outline-primary">NO</button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            </teleport> -->
                            <!-- delete Served Clients -->

                            </div>
                        </div>
                    </div>                                                             
                </div>
            </div>                                
        </div>                 
    </div>

    <teleport to="#modals">
        <div v-if="toggleUpdateUserModal" class="modal-container">
            <div class="container">
                <div class="row gutters">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="account-settings">
                                    <div class="user-profile">
                                        <div class="user-avatar">
                                                    <div class="image">
                                                        <div style="height:100%;width:100%;border-radius: 12px;" >
                                                                <div v-if="this.userDetail.profile_picture">
                                                                    <img style="width:100%;height:100%;border-radius: 12px;" :src="this.userDetail.profile_picture" />
                                                                </div>
                                                                <div v-else-if="!userDetail.profile_picture">
                                                                    <img style="width:100%;height:100%;" :src="require(`@/assets/DBECENTER-logo.png`)" />
                                                                </div>      
                                                        </div>
                                                        <input style="width:100%;padding-top:5%" type="file" @change="onChangeProfilePic" />
                                                    </div>
                                        </div>
                                    </div>
                                    <div class="about">
                                    <textarea style="height: 130px;" class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="this.userDetail.address2" placeholder="Description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                        <div class="card h-100">
                                <div class="company-header">
                                    <h4 style="color:white;float:left">User Profile</h4>
                                    <h4 style="color:white;float:right">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                        </svg>
                                    </h4>
                                </div>
                            <div class="card-body">
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mb-2 text-primary">Personal Details</h6>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding-bottom:2%">
                                        <div class="form-group" style="width:50%;float:left;padding-right:1%">
                                            <label for="fullName">First Name</label>
                                            <input type="text" class="form-control" v-model="this.userDetail.firstname" placeholder="Enter First name">
                                        </div>
                                            <div class="form-group" style="width:50%;float:right;padding-left:1%">
                                            <label for="fullName">Last Name</label>
                                            <input type="text" class="form-control" v-model="this.userDetail.lastname" placeholder="Enter Last name">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" >
                                        <div class="form-group" style="width:50%;float:left;padding-right:1%">
                                            <label for="website">Address</label>
                                            <input type="url" class="form-control" id="website" v-model="this.userDetail.address1" placeholder="Enter Address">
                                        </div>
                                        <div class="form-group" style="width:50%;float:right;padding-left:1%">
                                            <label for="fullName">City</label>
                                            <input type="text" class="form-control" v-model="this.userDetail.city" placeholder="Enter City">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="text" class="form-control" id="phone" v-model="this.userDetail.telephone" placeholder="Enter phone number">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group" style="width:33%;float:left;padding-right:1%">
                                            <label for="fullName">Region</label>
                                            <input type="text" class="form-control" v-model="this.userDetail.region" placeholder="Enter Region">
                                        </div>
                                        <div class="form-group" style="width:33%;float:left">
                                            <label for="fullName">Zipcode</label>
                                            <input type="text" class="form-control" v-model="this.userDetail.zipcode" placeholder="Enter zipcode">
                                        </div>
                                        <div class="form-group" style="width:33%;float:right">
                                            <label for="fullName">Country</label>
                                            <input type="text" class="form-control" v-model="this.userDetail.country" placeholder="Enter Country">
                                        </div>                                            
                                    </div>
                                </div>
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mt-3 mb-2 text-primary">Account Settings</h6>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding-bottom:2%">
                                    <div class="form-group">
                                        <label for="ciTy">Username</label>
                                        <input type="name" class="form-control" id="ciTy"  v-model="this.userDetail.username"  placeholder="Enter Username">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                    <label for="eMail">Email</label>
                                    <input type="email" class="form-control" v-model="this.userDetail.email" placeholder="Enter email ID" readonly>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="sTate">Password</label>
                                        <input type="password" class="form-control" id="sTate" v-model="this.userDetail.password">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="zIp">Confirm Password</label>
                                        <input type="password" class="form-control" id="zIp" v-model="this.userDetail.password_confirmation">
                                    </div>
                                </div>
                            </div>
                                <div class="row gutters" style="padding-top:2%;text-align:right">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="text-right">
                                            <button style="margin-right:2%" type="button" id="submit" name="submit" class="btn btn-danger" @click="updateUserProfile()">Update</button>
                                            <button class="btn btn-outline-danger waves-effect" @click="updateUserModal" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </teleport>

    <teleport to="#modals">
        <div v-if="togglecompanyProfileModal" class="modal-container">
            <div class="container">
                <div class="row gutters justify-content-center">
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                        <div class="card h-100">
                                <div class="company-header">
                                    <h4 style="color:white;float:left">Company Profile</h4>
                                    <h4 style="color:white;float:right">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                                        <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                                        </svg>
                                    </h4>
                                </div>
                            <div class="card-body">
                                <div class="row gutters">
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12" style="padding-bottom:2%">
                                        <div class="form-group2">
                                            <label for="fullName">Company Title</label>
                                            <input type="text" class="form-control" v-model="this.companyDetail.name" placeholder="Enter full name">
                                        </div>
                                        <div class="form-group2">
                                            <label for="fullName">Website</label>
                                            <input type="text" class="form-control" v-model="this.companyDetail.address2" placeholder="Enter Company Website">
                                        </div>
                                        <div class="form-group2">
                                            <div class="form-group" style="width:50%;float:left;padding-right:1%">
                                            <label for="website">Address</label>
                                            <input type="url" class="form-control" id="website" v-model="this.companyDetail.address1" placeholder="Enter Address">
                                        </div>
                                        <div class="form-group" style="width:50%;float:right;padding-left:1%">
                                            <label for="fullName">City</label>
                                            <input type="text" class="form-control" v-model="this.companyDetail.city" placeholder="Enter City">
                                        </div>
                                        </div>
                                        <div class="form-group2">
                                            <div class="form-group" style="width:33%;float:left;padding-right:1%">
                                                <label for="fullName">Region</label>
                                                <input type="text" class="form-control" v-model="this.companyDetail.region" placeholder="Enter Region">
                                            </div>
                                            <div class="form-group" style="width:33%;float:left">
                                                <label for="fullName">Zipcode</label>
                                                <input type="text" class="form-control" v-model="this.companyDetail.zipcode" placeholder="Enter zipcode">
                                            </div>
                                            <div class="form-group" style="width:33%;float:right">
                                                <label for="fullName">Country</label>
                                                <input type="text" class="form-control" v-model="this.companyDetail.country" placeholder="Enter Country">
                                            </div>     
                                        </div>
                                        <div class="form-group2">
                                            <label for="fullName">Mobile Phone </label>
                                            <input type="text" class="form-control" v-model="this.companyDetail.telephone" placeholder="Enter Mobile Number">
                                        </div>
                                        <div class="form-group2">
                                            <div class="form-group2"  style="width:50%;float:left;padding-right:1%">
                                                <label for="fullName">Duns Number </label>
                                                <input type="text" class="form-control" v-model="this.companyDetail.duns_number" placeholder="Enter Duns Number">
                                            </div>                                            
                                            <div class="form-group2" style="width:50%;float:right;padding-left:1%">
                                                <label for="fullName">Cage Code </label>
                                                <input type="text" class="form-control" v-model="this.companyDetail.cage_code" placeholder="Enter Cage Code">
                                            </div>
                                        </div>

                                        <div class="form-group2" style="padding-bottom:5%" @click="isDirty=false">
                                            <label for="fullName">Naics Code </label>
                                                <div class="form-group" >
                                                    <input style="width: 50%;;float:left;margin-right:2%" v-model="searchValue" type="text"
                                                    @input.self="handleSearch(searchValue)"
                                                    class="form-control input-outline search-input-text" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" maxlength="50" @keyup.enter="searchWithParams(this.searchValue)" />
                                                    <div v-if="isDirty" class="search-items" >
                                                        <ul style="padding-left:0.5%" v-for="(items,index) in filterSearch" :key="index">
                                                            <!-- <li @click="searchWithParams(items)">{{items}}</li> -->
                                                            <li @click="array_push(this.naicCodes[index])">{{items}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <button  class="btn btn-dark h-100 search-btn-icon " type="button" id="button-addon2" @click="searchWithParams(this.searchValue);" >
                                                <SearchOutlined class="py-1"/>
                                                </button>
                                        </div>     
                                        
                                            <div class="form-group2" style="line-height: 2vh">
                                                <ul style="font-size:1.8vh">
                                                    <li v-for="(naic,index) in this.userData.company.naics_codes" :key="naic">
                                                        {{ naic }}
                                                        <button style="background-color: transparent;border:none;width:8%;color:#DD1F4C" @click="remove_array(index)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-x" viewBox="0 0 16 16">
                                                        <path d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
                                                        <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                                        </svg>
                                                    </button>
                                                    </li>
                                                </ul>
                                        </div>   
                                    </div>
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-12" >
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="float:left">
                                            <p></p>
                                        </div>                                                
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="float:left;padding-top:2%;">
                                            <label for="fullName" style="padding-bottom:2%">Company Logo </label>
                                                <div class="image-modal">
                                                    <div class="image">
                                                        <div style="height:100%;width:100%" >
                                                                <div v-if="this.companyDetail.logo">
                                                                    <img style="width:100%;height:100%;" :src="this.companyDetail.logo" />
                                                                </div>
                                                                <div v-else-if="!companyDetail.logo">
                                                                    <img style="width:100%;height:100%;" :src="require(`@/assets/DBECENTER-logo.png`)" />
                                                                </div>                                                                       
                                                        </div>
                                                        <input style="width:100%;padding-top:5%" type="file" @change="onFileChange" />
                                                    </div>
                                                </div>
                                        </div>                                                      
                                        <div class="form-group2">
                                            <label for="fullName"  style="padding-top:4%;">Company Overview  </label>
                                            <textarea type="text" class="form-control" v-model="this.companyDetail.description" placeholder="Enter Description" rows="5"> </textarea>
                                        </div>  
                                        <!-- <div class="form-group" aria-selected="padding-bottom:0%">
                                            <div class="row" style="padding-top:9%">
                                            <p><b>EMPLOYERS </b></p> 
                                            <div style="width:45%;float:left;">
                                                <p>Employer Name </p> 
                                                <input type="text" class="form-control" placeholder="Enter full name">
                                            </div>
                                            <div style="width:45%;float:left;padding-left:5%">
                                                <p>Mobile Number </p> 
                                                <input type="text" class="form-control" placeholder="Enter Mobile Number">
                                                </div>
                                            </div>
                                            <div class="row" style="padding-top:2%;padding-left:82%">
                                                <button style="background-color: transparent;border:none;width:8%;color:#DD1F4C">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>   -->
                                    </div>
                                </div>
                                <div class="row gutters" style="padding-top:2%;text-align:right">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="text-right">
                                            <button style="margin-right:2%" type="button" id="submit" name="submit" class="btn btn-danger" @click="updateCompanyProfile">Update</button>
                                            <button class="btn btn-outline-danger waves-effect" @click="updateCompanyProfileModal" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </teleport>

    <teleport to="#modals">
        <div v-if="toggleServedClientModal" class="modal-container">
            <div class="container">
                <div class="row gutters justify-content-center">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                        <div class="card h-100">
                                <div class="company-header">
                                    <h4 style="color:white;float:left">Served Clients</h4>
                                    <h4 style="color:white;float:right">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                                        <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                                        </svg>
                                    </h4>
                                </div>
                            <div class="card-body">
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-bottom:2%">
                                        <div class="form-group2">
                                            <label for="fullName">Company Name</label>
                                            <input type="text" class="form-control" v-model="this.setClient.company_name" placeholder="Enter Company name">
                                        </div>
                                        <div class="form-group2">
                                            <label for="fullName">Contract No.</label>
                                            <input type="text" class="form-control" v-model="this.setClient.contract_number" placeholder="Enter Contract Num">
                                        </div>
                                        <div class="row"> 
                                            <div class="form-group2" style="width:50%;float:left;padding-right:1%">
                                                <label for="fullName">From </label>
                                                <input type="date" class="form-control" v-model="this.setClient.from">
                                            </div>
                                            <div class="form-group2" style="width:50%;float:right;padding-left:1%">
                                                <label for="fullName">To </label>
                                                <input type="date" class="form-control" v-model="this.setClient.to">
                                            </div>
                                        </div>
                                        <div class="row"> 
                                            <div class="form-group2" style="width:50%;float:left;padding-right:1%">
                                                <label for="fullName">Contract Value </label>
                                                <input type="number" style="text-align:right" class="form-control" v-model="this.setClient.contract_value" placeholder="0">
                                            </div>
                                        </div>
                                        <div class="form-group2">
                                            <label for="fullName">Service</label>
                                            <input type="text" class="form-control" placeholder="Enter Service offered name" v-model="this.setClient.service_offered">
                                        </div>
                                            <div class="row"> 
                                            <div class="form-group2" style="width:50%;float:left;padding-right:1%">
                                                <label for="fullName">Contractor Name </label>
                                                <input type="text" class="form-control" placeholder="Enter Contractor name" v-model="this.setClient.contractor_name">
                                            </div>
                                            <div class="form-group2"  style="width:50%;float:right;padding-left:1%">
                                                <label for="fullName">Contractor Position </label>
                                                <input type="text" class="form-control" placeholder="Enter Position name" v-model="this.setClient.contractor_position">
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div class="row gutters" style="padding-top:2%;text-align:right">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="text-right">
                                            <button style="margin-right:2%" type="button" id="submit" name="submit" class="btn btn-danger" @click="add_references(this.setClient)">Add</button>
                                            <button class="btn btn-outline-danger waves-effect" @click="addServedClientModal" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </teleport>

    <teleport to="#modals">
        <div v-if="toggleUpdateServedClientModal" class="modal-container">
            <div class="container">
                <div class="row gutters justify-content-center">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                        <div class="card h-100">
                                <div class="company-header">
                                    <h4 style="color:white;float:left">Update Served Clients</h4>
                                    <h4 style="color:white;float:right">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                                        <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                                        </svg>
                                    </h4>
                                </div>
                            <div class="card-body">
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-bottom:2%">
                                        <div class="form-group2">
                                            <label for="fullName">Company Name</label>
                                            <input type="text" class="form-control" placeholder="Enter Company name">
                                        </div>
                                        <div class="form-group2">
                                            <label for="fullName">Contract No.</label>
                                            <input type="text" class="form-control" placeholder="Enter full name">
                                        </div>
                                        <div class="row"> 
                                            <div class="form-group2" style="width:50%;float:left;padding-right:1%">
                                                <label for="fullName">From </label>
                                                <input type="date" class="form-control">
                                            </div>
                                            <div class="form-group2" style="width:50%;float:right;padding-left:1%">
                                                <label for="fullName">To </label>
                                                <input type="date" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row"> 
                                            <div class="form-group2" style="width:50%;float:left;padding-right:1%">
                                                <label for="fullName">Contract Value </label>
                                                <input type="number" style="text-align:right" class="form-control"  placeholder="0">
                                            </div>
                                        </div>
                                        <div class="form-group2">
                                            <label for="fullName">Service</label>
                                            <input type="text" class="form-control" placeholder="Enter Service offered name">
                                        </div>
                                            <div class="row"> 
                                            <div class="form-group2" style="width:50%;float:left;padding-right:1%">
                                                <label for="fullName">Contractor Name </label>
                                                <input type="text" class="form-control" placeholder="Enter Contractor name">
                                            </div>
                                            <div class="form-group2"  style="width:50%;float:right;padding-left:1%">
                                                <label for="fullName">Contractor Position </label>
                                                <input type="text" class="form-control" placeholder="Enter Position name">
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div class="row gutters" style="padding-top:2%;text-align:right">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="text-right">
                                            <button style="margin-right:2%" type="button" id="submit" name="submit" class="btn btn-danger">Update</button>
                                            <button class="btn btn-outline-danger waves-effect" @click="updateServedClientModal" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </teleport>

    <!-- delete Served Clients -->
    <teleport to="#modals">
        <div v-if="toggleDeleteServecClientmModal" class="modal-container">
            <div class='delete-modal-card-container' style="width:20%">
                <div class="modal-form" style="padding:5%">
                    <div class="row mb-3">
                        <input type="hidden" > 
                            <h5 style="float:left;width:100%;padding-top:15%;text-align:center">Delete this Served Clients?</h5>
                    </div>
                    <div style="text-align: center;" class="modal-button">
                        <button style="width:25%" type="button"  class="btn btn-outline-danger">YES</button>
                        <button style="width:25%;margin-left:5%" @click="deleteServedClientModal" type="button" class="btn btn-outline-primary">NO</button>
                    </div>
            </div>
        </div>
    </div>
    </teleport>
    <!-- delete Served Clients -->

    <!-- General Assessment Questionner -->
    <teleport to="#modals">
        <div v-if="toggleQuestionnerModal" class="modal-container">
            <div class="container">
                <div class="row gutters" style="justify-content:center">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card h-100">
                            <div class="company-header">
                                <h4 style="color:white;float:left">Initial Assessment</h4>
                                <button style="float: right;background-color: transparent;border: none;padding-left:5%;color:white;" @click="QuestionnerModal" type="button" class="btn btn-outline-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                                        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="row" style="padding: 1% 2% 1% 2%;">
                                    <div id="questioner" >
                                            <!-- <VendorAssessment :DataResults='this.companyDetail' :companyDetails ='this.userData.company' > </VendorAssessment>                                              -->
                                            <VendorAssessment > </VendorAssessment>                                             
                                        </div>
                                    <div class="content-container">
                                        <button class="btn btn-outline-danger waves-effect button-scroll-prev" @click.prevent='prevGroup' >previous</button>
                                        <button class=" btn btn-outline-danger waves-effect button-scroll-next" @click.prevent='nextGroup'>next</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </teleport>
    <!-- General Assessment Questionner -->
    {{ this.ken }}
</template>

<script>
import { mapState } from "vuex";
import StarRating from 'vue-star-rating'
import TitlewithIcon from '@/components/base/baseTitleIcon'

import { SearchOutlined, UserOutlined, ShoppingCartOutlined } from "@ant-design/icons-vue";
import VendorAssessment from '@/views/dashboard/vendorprofile/VendorService/VendorAssessment'
export default {
    data(){
        return{
            searchValue:'',
            picked:'',
            isDirty:false,
            search_compentencies: '',
            suggestedValues: [],
            url: null,
            userDetail : {
                username              : '',
                email                 : '',
                type                  : '',
                firstname             : '',
                middlename            : '',
                lastname              : '',
                profile_picture       : '',
                telephone             : '',
                address1              : '',
                address2              : '',
                city                  : '',
                region                : '',
                country               : '',
                zipcode               : '',
                role                  : '',
                password              : '',
                password_confirmation : ''
            },            
            companyDetail : {
                name            : '',
                logo            : '',
                description     : '',
                telephone       : '',
                address1        : '',
                address2        : '',   
                city            : '',
                region          : '',
                country         : '',
                zipcode         : '',
                duns_number     : '',
                cage_code       : '',
                naics_codes     : [],
                differentiators : [],
                capabilities    : [],
                references      : [],
                certifications  : [],
                government_designation  : []
            },
            setClient: {
                company_name         : '',
                contract_number      : '',
                from                 : '',
                to                   : '',
                service_offered      : '',
                contractor_name      : '',
                contractor_position  : '',
                contract_value       : ''
            },
            company_naics                  : '',
            differentiators_data           : '',
            capabilities_data              : '',
            government_designation_data    :'',
            gov_full_data                  : '',
            gov_data                       : '',
            company_assessment             : [],
            certifications_data            : '',
            references_data                : [],
            toggleUpdateUserModal          : false,
            togglecompanyProfileModal      : false,
            toggleServedClientModal        : false,
            toggleUpdateServedClientModal  : false,
            toggleDeleteServecClientmModal : false,
            toggleQuestionnerModal         : false,
            showSearchCap                  : false,
            showSearchDiff                 : false,
            showSearchGov                  : false,
            core_competencies :  [
                {type: 'consulting',description : 'Policy Interpretation & Implementation'},
                {type: 'POLICY DEVELOPMENT',description : 'Procurement Design'},
                {type: 'POLICY DEVELOPMENT',description : 'Ethnic & Gender Based Contracting'},
                {type: 'POLICY DEVELOPMENT',description : 'Workforce & OJT Strategies'},
                {type: 'POLICY DEVELOPMENT',description : 'Organization Development'},
                {type: 'consulting',description : 'Inclusion Program Evaluation'},
                {type: 'construction',description : 'Integrity'},
                {type: 'construction',description : 'Excellence'},
                {type: 'construction',description : 'Innovation'},                
                {type: 'PROGRAM Scope Specific Support DEVELOPMENT',description : 'Scope Writing & Review'},
                {type: 'PROGRAM Scope Specific Support DEVELOPMENT',description : 'Target Market Program'},
                {type: 'PROGRAM Scope Specific Support DEVELOPMENT',description : 'Surveys & Roundtables'},
                {type: 'PROGRAM Scope Specific Support DEVELOPMENT',description : 'Support & Development'},
                {type: 'consulting',description : 'Subcontractor Management'},
                {type: 'SUBCONTRACTING MANAGEMENT & COMMUNITY ENGAGEMENT',description : 'Get in the Know Tech'},
                {type: 'SUBCONTRACTING MANAGEMENT & COMMUNITY ENGAGEMENT',description : 'Surveys & Roundtables'},
                {type: 'SUBCONTRACTING MANAGEMENT & COMMUNITY ENGAGEMENT',description : 'Event Coordination'},
                {type: 'consulting',description : 'Workshops/Training'},
                {type: 'TRAINING & TECH ASSISTANCE',description : 'Business Development'},
                {type: 'TRAINING & TECH ASSISTANCE',description : 'Job Costing + Estimating'},
                {type: 'TRAINING & TECH ASSISTANCE',description : 'Scope Specific Support'},
                {type: 'TRAINING & TECH ASSISTANCE',description : 'WEB Mentoring Program'},
                {type: 'TRAINING & TECH ASSISTANCE',description : 'Certifications'},
       

            ],
            result_differentiators :  [
                {type: 'consulting',description : '5 years consulting experience'},
                {type: 'consulting',description : '10 years consulting experience'},
                {type: 'consulting',description : '15 years consulting experience'},
                {type: 'consulting',description : '20 years consulting experience'},
                {type: 'construction',description : '5 years construction experience'},
                {type: 'construction',description : '10 years construction experience'},
                {type: 'construction',description : '15 years construction experience'},
                {type: 'construction',description : '20 years construction experience'},
                {type: 'consulting',description : 'expansive experience and understanding of the procurement process allows us to assist our clients at all spend levels and phases of contracting for goods, services, technology, and construction'},
                {type: 'consulting',description : 'We believe in strategic collaboration - assisting our clients in achieving their vision and project objectives of purposefully contracting with small, minority, women, and veteran disadvantaged businesses'},
                {type: 'consulting',description : 'We capitalize on our Wholistic approach, using our knowledge of the interdependencies in the procurement eco-system - we break silos and challenge the process to be better by writing intentionally race, ethnic, and gender conscious policies'},
                {type: 'consulting',description : 'Our proven track record of delivering customized solutions go beyond project goals, reaching historically disadvantaged businesses through an education based vetting process'},
            ],            
            gov_des_result :  [
                {government_id : '1', department : 'Certified Disadvantaged Business Enterprise (DBE)', url : '/logo/DBE-Gov-logo.png'},
                {government_id : '2', department : 'Certified Minority Business Enterprise (MBE)', url : '/logo/MBE-Gov-logo.png'},
                {government_id : '3', department : 'Certified Women`s Business Enterprise (WBE)', url : '/logo/WBE-Gov-logo.png'},
                {government_id : '4', department : 'Certified Targeted Group Business (TGB)', url : '/logo/TGB-Gov-logo.png'},
                {government_id : '5', department : 'Certified Veteran Owned Small Business (VOSB)', url : '/logo/VOSB-Gov-logo.png'},
                {government_id : '5', department : 'Certified Government Business', url : '/logo/CERT-Gov-logo.png'},
            ],
            property: 'Example property.'
        }
    },
    components:{
         SearchOutlined,
         StarRating,
         VendorAssessment,
         TitlewithIcon,
    },
    computed: {
        propertyComputed() {
            alert(this.property)
        },

        ...mapState('DASHBOARD', {
            userData: state => state.user,
            image_url_path: state => state.imageUrl,
        }),
        ...mapState('CART', {
            searchNaicCodeList: state => state.searchNaicCodeList,
            searchNaicCodeDescList: state => state.searchNaicCodeDescList,
            searchNaicCodeandDescList: state => state.searchNaicCodeandDescList,
        }),
        naicCodes() {
            return this.searchNaicCodeList
        },       
        naicCodesDesc() {
            return this.searchNaicCodeDescList
        },      
        naicCodesandDesc() {
            return this.searchNaicCodeandDescList
        },
        filterSearch(){
            if (this.searchValue.length >= 3) {
                return this.naicCodesandDesc;    
            }
        },
        filteredDifferentiators() {
            return this.result_differentiators.filter(post => {
                return post.type.toLowerCase().includes(this.differentiators_data.toLowerCase())
            })
        },                
        filteredGovernmentDesignation() {
            return this.gov_des_result.filter(post => {
                return post.department.toLowerCase().includes(this.gov_data.toLowerCase())
            })
        },        
        filteredCapabilities() {
            return this.core_competencies.filter(post => {
                return post.type.toLowerCase().includes(this.capabilities_data.toLowerCase())
            })
        }
    },
    beforeCreate() {
        this.ken =  null;
        // alert('At this point, events and lifecycle have been initialized.')
    },
    created(){
        this.property = 'Example property updated.'
        // alert(this.property);
        // this.$store.dispatch('CART/noParamsNaicsCode');
        this.companyDetail.differentiators = (this.userData.company.differentiators) ? this.userData.company.differentiators : []
        this.companyDetail.capabilities    = (this.userData.company.capabilities) ? this.userData.company.capabilities : []
        this.companyDetail.references      = (this.userData.company.references) ? this.userData.company.references : []
        this.companyDetail.naics_codes     = (this.userData.company.naics_codes) ? this.userData.company.naics_codes : []
        this.companyDetail.certifications  = (this.userData.company.certifications) ? this.userData.company.certifications : []
        this.companyDetail.government_designation  = (this.userData.company.government_designation) ? this.userData.company.government_designation : []
        this.hasGovernmentDesignation = this.companyDetail.government_designation.hasGovernmentDesignation ?? false;
    },
    updated(){
      this.suggestedValues = this.naicCodesandDesc;
    },
    methods : {
        async updateGovDesig(e) {
            var status = e.target.checked; 
            this.companyDetail.government_designation = {
                hasGovernmentDesignation : status,
                governmentDesignation : []
            };
            
            await this.$store.dispatch('DASHBOARD/updateGovDesig', this.companyDetail.government_designation);
            
        },
        onFileChange(e) {
            const file = e.target.files[0];
            this.companyDetail.logo = file.name;
            this.url = URL.createObjectURL(file);
            const reader = new FileReader()

            reader.onloadend = () => {
                this.companyDetail.logo = reader.result;
                // set the logo to base64
            }
            reader.readAsDataURL(file); //without this file wont be converted into base64
        },
        handleSearch(value){
            if(value == '' || value <= 3){
                this.isDirty =false
            }
        },
        searchCapabilities(cap_data){
            cap_data.length >= 3 ? this.showSearchCap =true : this.showSearchCap =false
        },
        setCapabilitiesField(value){
            this.capabilities_data = value;
            this.showSearchCap = false;
        },        
        searchDifferentiators(diff_data){
            diff_data.length >= 3 ? this.showSearchDiff =true : this.showSearchDiff =false
        },        
        setDifferentiatorsField(value){
            this.differentiators_data = value;
            this.showSearchDiff = false;
        },
        searchGovDesig(data){
            data.length >= 3 ? this.showSearchGov =true : this.showSearchGov =false
        },
        setGovDesignField(value){
            console.log('dept id',value.id);
            this.gov_full_data = value;
            this.gov_data = value.department;
            this.showSearchGov = false;
        },        
        onChangeProfilePic(e) {
            const file = e.target.files[0];
            this.userDetail.profile_picture = file.name;
            this.url = URL.createObjectURL(file);
            const reader = new FileReader()

            reader.onloadend = () => {
                this.userDetail.profile_picture = reader.result;
                // set the logo to base64
            }
            reader.readAsDataURL(file); //without this file wont be converted into base64
        },
        updateUserModal(){
            this.toggleUpdateUserModal          = !this.toggleUpdateUserModal
        },
        updateCompanyProfileModal(){
            this.togglecompanyProfileModal      = !this.togglecompanyProfileModal
        } ,
        addServedClientModal(){
            this.toggleServedClientModal        = !this.toggleServedClientModal
        },
        updateServedClientModal(){
            this.toggleUpdateServedClientModal  = !this.toggleUpdateServedClientModal
        },
        deleteServedClientModal(){
            this.toggleDeleteServecClientmModal = !this.toggleDeleteServecClientmModal
        },        
        QuestionnerModal(){
            this.toggleQuestionnerModal = !this.toggleQuestionnerModal
        },
        setUserData(data){
            this.userDetail.username                = data.username,
            this.userDetail.email                   = data.email,
            this.userDetail.type                    = data.type,
            this.userDetail.firstname               = data.firstname,
            this.userDetail.middlename              = data.middlename,
            this.userDetail.profile_picture         =(data.profile_picture) ? this.image_url_path+data.profile_picture : '',
            this.userDetail.lastname                = data.lastname,
            this.userDetail.telephone               = data.telephone,
            this.userDetail.address1                = data.address1,
            this.userDetail.address2                = data.address2,
            this.userDetail.city                    = data.city,
            this.userDetail.region                  = data.region,
            this.userDetail.country                 = data.country,
            this.userDetail.zipcode                 = data.zipcode,
            this.userDetail.role                    = data.role        
            this.userDetail.password                = data.password        
            this.userDetail.password_confirmation   = data.password_confirmation        
        },        
        CompanyData(data){
            this.companyDetail.name        = data.company.name,
            this.companyDetail.logo        = (data.company.logo) ? this.image_url_path+data.company.logo : '',
            this.companyDetail.description = data.company.description,
            this.companyDetail.telephone   = data.company.telephone,
            this.companyDetail.address1    = data.company.address1,
            this.companyDetail.address2    = data.company.address2,
            this.companyDetail.city        = data.company.city,
            this.companyDetail.region      = data.company.region,
            this.companyDetail.country     = data.company.country,
            this.companyDetail.zipcode     = data.company.zipcode,
            this.companyDetail.duns_number = data.company.duns_number,
            this.companyDetail.cage_code   = data.company.cage_code,
            this.companyDetail.naics_codes = data.company.naics_codes            
            this.companyDetail.government_designation = data.company.government_designation            
        },
        array_push(naics){
           this.companyDetail.naics_codes.push(naics)
           this.company_naics = "";
        },
        remove_array(naics){
            this.companyDetail.naics_codes.splice(naics, 1);
        //    this.companyDetail.naics_codes.push(naics)
        },
        async searchWithParams(data){
            await this.$store.dispatch('CART/getNaicsCode', data);
            this.isDirty=true;
        },  
        async add_certifications(data){
            this.companyDetail.certifications.push(data)
            await this.$store.dispatch('DASHBOARD/UpdateCertificate', this.companyDetail.certifications)
            this.certifications_data = "";
        },           
        async add_gov_desig(data){
             this.companyDetail.government_designation.governmentDesignation.push({
                 government_id : data.government_id,
                 department : data.department,
                 url : data.url,
                 certificate : null,
                 status : 'pending'
                 })
            await this.$store.dispatch('DASHBOARD/updateGovDesig', this.companyDetail.government_designation)
            this.gov_data = "";
        },    
        async delete_gov_desig(data){
            this.companyDetail.government_designation.governmentDesignation.splice(data, 1);
            await this.$store.dispatch('DASHBOARD/updateGovDesig', this.companyDetail.government_designation)
        },
        
        async delete_certifications(data){
            this.companyDetail.certifications.splice(data, 1);
            await this.$store.dispatch('DASHBOARD/UpdateCertificate', this.companyDetail.certifications)
        },      
        async add_differentiators(data){
            this.companyDetail.differentiators.push(data)
            await this.$store.dispatch('DASHBOARD/UpdateDifferentiator', this.companyDetail.differentiators)
            this.differentiators_data = "";
            this.showSearchDiff = "";
        },        
        async delete_differentiators(data){
            this.companyDetail.differentiators.splice(data, 1);
            await this.$store.dispatch('DASHBOARD/UpdateDifferentiator', this.companyDetail.differentiators)
        },
        async add_capabilities(data){
            this.companyDetail.capabilities.push(data)
            await this.$store.dispatch('DASHBOARD/UpdateCapabilities', this.companyDetail.capabilities)
            this.capabilities_data = "";
            this.showSearchCap = "";
        },
        async delete_capabilities(data){
            this.companyDetail.capabilities.splice(data, 1);
            await this.$store.dispatch('DASHBOARD/UpdateCapabilities', this.companyDetail.capabilities)
        },
        async add_references(data){
            this.companyDetail.references.push(data)
            await this.$store.dispatch('DASHBOARD/UpdateReferences', this.companyDetail.references)
            this.capabilities_data = "";
            this.toggleServedClientModal = false;
        },
        async delete_references(data){
            this.companyDetail.references.splice(data, 1);
            await this.$store.dispatch('DASHBOARD/UpdateReferences', this.companyDetail.references)
        },
        async updateUserProfile(){
            await this.$store.dispatch('DASHBOARD/UpdateUser', this.userDetail)
            this.toggleUpdateUserModal = false;
        },
        async updateCompanyProfile(){
            await this.$store.dispatch('DASHBOARD/UpdateCompany', this.companyDetail)
            this.togglecompanyProfileModal = false;
        },
        dateTime(value) {
             return moment(value).format('LL');
        },
        nextGroup(){
             document.getElementById('questioner').scrollLeft += 1300;
        },
        prevGroup(){
             document.getElementById('questioner').scrollLeft -= 1300;
        },
    }
}
</script>

<style lang="scss" scoped>

    .profile-card{
        height: 100%;
        border-radius: 5px; 
        background: white;
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
    }
    .profile-card-title-container{
        padding:2% 5%;
        color:#DD1F4C;
    }       
    .profile-card-body-container{
        padding:2% 8%;
    }    
    .profile-card-title-text{
        font-weight: 500;
        font-size: 18px;
        text-align: left;
    }

    .profile-card-title-text2{
        margin-block: auto;
        font-weight: 300;
        font-size: 18px;
        text-align: right;
    }

    .profile-card-body-text{
        text-align: left;
        font-size: 16px;
    }
    .profile-card-body-text2{
        text-align: left;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
    }   
    .profile-button{
        background-color: transparent;
        border:none;
    }

    .capability-headers{
        padding: 1% 2%;
        background:#DD1F4C;
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
    }

    .cap-button{
        background-color: transparent;
        border:none;
        color:#DD1F4C
    }
    .floating-grid-container{
        height: 100%;
        width: 100%;
        padding: 10% 3% 5% 3%;
    }
    .profile-information{
        color: #67748E;
        margin-top: 5%;
        text-align: left;
        font-size: 1.5vh;
        font-family: Poppins;
        text-align: justify;
        text-justify: inter-word;
    }
        /// update profile
    .company-header{
        background:#DD1F4C;
        height: 6vh;
        padding:1.5%;
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
    }
    .modal-container{
    position: fixed;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100%;
    width: 100%;
    top:0px;
    z-index:251;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .form-group2{
        line-height: 4vh;
    }
    .form-group-files{
        padding-top: 0% ;
    }.delete-modal-card-container{
        position: absolute;
        box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.10);
        width: 25%;
        padding: 1%;
        margin-top: 5%;
        border-radius: 12px;
        background-color: white;
        height: 25%;
    }
    .search-items{
        padding: 15px 10px;
        display: block;
        word-wrap: break-all;
        text-overflow: ellipsis;
        margin-left: -1%;
        width: 27.5%;
        height: 20vh;
        position: absolute;
        top:65.1vh;
        transform: translateX(4%);
        background-color:#ffffff;
        z-index:20;
        box-shadow: 3px 10px 38px 16px rgba(0,0,0,0.1);
        overflow: scroll;
        overflow-x: hidden;
        ul{
        li{
            text-decoration: none;
            list-style: none;
            display: flex;
            cursor: pointer;
        }:hover { 
            color: rgb(73, 163, 232); 
            cursor: pointer;
            }
        }
    }
    .search-cap{
        padding: 15px 10px;
        word-wrap: break-all;
        margin-left: -3%;
        text-align:left;
        width: 90.5%;
        height: 20vh;
        transform: translateX(4%);
        background-color: #ffffff;
        z-index: 20;
        box-shadow: 3px 10px 38px 16px rgba(0,0,0,0.1);
        overflow: scroll;
        overflow-x: hidden;
    ul{
      li{
        text-decoration: none;
        list-style: none;
        display: flex;
        cursor: pointer;
      }:hover { 
        color: rgb(73, 163, 232); 
        cursor: pointer;    
        }
    }
    }
  ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #ff00003f;
    }

// multiple questioner
    .content-container{
    display: flex;
    justify-content: right;
    padding-right:5%;
    gap:10px;
    position: relative;
    padding-top:2%;
    width: 100%;

    .button-scroll-next,.button-scroll-prev {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
        // border:0;
        width: 8%;
        height: 40px;
        // border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    // .button-scroll-next:hover,.button-scroll-prev:hover{
    //     background-color: white;
    // }
    }

    #questioner{
        width: 100%;
        display: flex;
        overflow-x:scroll;
        gap:10px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
         scroll-behavior: smooth;
    }

</style>